
#compPackMainContainer {
    width: 1060px;
    border-top: 1px solid #cccccc;
    padding-bottom: 20px;
}
#compPackMainHeadline.moreHead {
    margin: 20px 0 25px 15px;
    font-size: 15px;
    /*font-weight: bold;*/
}
.plusDiv{
    float: left !important;
    padding-top: 62px !important;
    font-size: 18px !important;
    font-weight: bold !important;
    margin-right: 7px !important;
    position: relative !important;
}
.plusDiv:first-child{
    display: none;
}
.totalContainer {
    border-radius: 5px;
    width: 152px;
    align-self: center;
    background: #f0f0f0;
    padding: 19px 16px 14px 16px;
}

.compPackProdContainer {
    width: 25%;
    float: left;
}
.completePackages {
    width: 1060px;
    padding: 25px 15px 25px 15px;
    border-bottom: 1px solid #ececec;
}
.completePackages:last-child {
    border:0;
}
#compPackLeft {
    width:873px;
    float: left;
}
#compPackRight {
    width:187px;
    float:left;
    background: #f4f4f4;
    border: 1px solid #ececec;
    border-radius: 2px;
    margin-right:8px;
}
.compPackContainer {
    width: 143px;
    float: left;
}
.compPackContainer a {
    color:#333 !important;
}
.compPackProductName {
    font-size: 13px;
    font-weight:bold;
    margin-top: 6px;
}
.compPackProductType {
    font-size: 13px;
}
.compPackProductPriceFamily {
    font-size: 16px;
    font-weight:bold;
    display:none;
}
.compPackProductPriceNormal {
    font-size: 16px;
    font-weight:bold;
}
.compPackBuyBtnContainer {
    background-color: #3373c7;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 8px 5px;
    font-weight: bold;
    font-size: 12px;
    margin-top: 10px;
    width: 40px;
}
.compPackBuyBtn {
    text-decoration: none !important;
    display:none;   
}
.compPackBuyBtnIcon {
    fill: #fff;
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: middle;
    margin: -13px -2px -10px -3px;
}
.compPackBuyBtnContainer:hover {
    background-color: #4181d6;
}
.productThumbs {
   width:100%; 
}
.compPackPlus {
    float:left;
    padding-top: 70px;
    height: 160px;
    font-size: 21px;
    font-weight: bold;
    margin-right: 10px;
}
.compPackTotalPriceWrapper {
    padding: 20px;
    font-size: 13px;
    line-height: 19px;
}
.compPackTotalPrice {
    font-size: 24px;
    font-weight:bold;
    margin-top: 5px;
}
.compPackMainBtnContainer {
    background-color: #2f70c6;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 8px 5px;
    font-weight: bold;
    font-size: 12px;
    margin-top: 10px;
    width: 110px;
    text-decoration: none !important;
}
.compPackMainBtn a {
    text-decoration: none !important;
}
.compPackMainBtnIcon {
    fill: #fff;
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: middle;
    margin: -13px 5px -10px -2px;
}
.compPackMainBtnContainer:hover {
    background-color: #4181d6;
}

.removeGlobalComp {
    display: none !important;
}
.ctaFullPackageBuyBtn {
    text-decoration: none !important;
}