/*

  _                     _          
 |_ ._ _  o  _  |_ _|_ /   _. |  _ 
 |  | (/_ | (_| | | |_ \_ (_| | (_ 
             _|                    

*/

/*  Override global  */

.ccWrapperBottom,
.wrapDeliveryAndCostTop{
    display: none;
}

#privacyPolicyWrapper.formField{
    clear: both;
    padding-top: 20px;
}

li[data-click-collect="true"] {
	display: none !important;
}

/*********************/

#samuraj-pay-with-other-card-wrapper {
	position: relative;
	height: 60px;
}

#samuraj-pay-with-other-card {
	margin-top: 10px;
	width: 250px;
	right: 0px;
    position: absolute;
}

#samuraj-pay-with-other-card input:hover,
#samuraj-pay-with-other-card label:hover {
    cursor: pointer;
}

#mandatoryPrivacyPolicyDiv {
    clear: both;
    padding-top: 20px;
}

#samuraj-pup-master-cont {
    max-width: 40em;
}

#samuraj-pup-master-cont .samuraj-master-heading {
        font-size: 20px;
        font-weight: bold;
        margin: 10px 0 20px 20px
}

#samuraj-pup-master-cont.samuraj-irw .samuraj-master-heading{
    font-size: 20px;
}

#samuraj-pup-master-cont .samuraj-result-img {
    max-height: 80px;
}

#samuraj-pup-master-cont .samuraj-calc-error {
    color: #f00;
    font-size: 13px;
    padding: 5px 0 5px 15px;
}

#samuraj-pup-master-cont .samuraj-hs-input-div, #samuraj-pup-master-cont .samuraj-pp-input-div, #samuraj-pup-master-cont .samuraj-cc-input-div {
    overflow: visible;
    padding: 5px 0 5px 15px;
}

#samuraj-pup-master-cont .samuraj-hs-input-field {
    min-width: 150px;
    font-size: 16px;
    height: 44px;
    width: 100%;
    padding: 0 10px 0 30px;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid #CCC;
    border-radius: 2px;
    box-shadow: none!important;
    background: #fff!important;
}

#samuraj-pup-master-cont .samuraj-pp-input-field, #samuraj-pup-master-cont .samuraj-cc-input-field, #samuraj-pup-master-cont .samuraj-hs-input-field-state {
  -webkit-appearance: none;
    -ms-appearance: none;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-user-select: none;
    user-select: none;
    background-image: url(https://secure.ikea.com/ms/img/arrow-down.svg);
    background-position: 97% center;
    background-repeat: no-repeat;
    background-color: #fff;
    border: 1px solid #ccc;
    color: #333;
    overflow: hidden;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    height: 44px;
    font-size: 18px;
    border: 1px solid #ccc;
}

#samuraj-pup-master-cont .samuraj-radio-heading-div {
    cursor: pointer;
}

#samuraj-pup-master-cont .samuraj-radio-heading-button {
    height: 20px;
    width: 20px;
    cursor: pointer;
}

#samuraj-pup-master-cont .samuraj-radio-heading-label {
    font-family: Verdana, sans-serif;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    padding-left: 10px;
    cursor: pointer;
}

#samuraj-pup-master-cont .samuraj-radio-heading {
    font-size: 14px;
    padding: 5px 0 5px 15px;
}

#samuraj-pup-master-cont #samuraj-hs-result-restriction-cont {
      margin-left: 15px;
    color: #000;
}
#samuraj-delivery-restriction #samuraj-cont {
        margin-bottom: 15px;
        color: #000;
        padding: 5px 0 5px;
}
.samuraj-border-red {
    border: 1px solid #f00;
    border-radius: 3px;
}

@media (max-width: 470px) {
    #samuraj-pup-master-cont #samuraj-calc-hs-result-delivery-date, 
        #samuraj-pup-master-cont #samuraj-calc-hs-result-price, 
        #samuraj-pup-master-cont #samuraj-calc-pp-result-delivery-date, 
        #samuraj-pup-master-cont #samuraj-calc-pp-result-price {
        display: block;
                margin-right: 20px;
                text-align: right;

    }
}

#samuraj-pup-master-cont .samuraj-calc-result-div {
        margin-left: 15px;
        padding: 0;
    font-size: 13px;
    border: 1px solid #ccc;
}
#samuraj-pup-master-cont .samuraj-calc-result-div-inner {
        margin: 5px 0px 5px 15px;
        padding: 10px 0;
}

#samuraj-pup-master-cont .samuraj-pup-viscon,
#samuraj-checkout-button-cont .samuraj-pup-viscon{
    overflow: hidden;
    max-height: 0;
    transition: 0.4s ease-in-out;
    opacity: 0;
}

#samuraj-pup-master-cont .samuraj-pup-viscon.samuraj-show,
#samuraj-checkout-button-cont .samuraj-pup-viscon.samuraj-show{
        opacity: 1;
    max-height: 3000px;
    transition: 0.6s ease-in-out;
}

#samuraj-pup-master-cont .samuraj-pup-viscon.samuraj-show.samuraj-faded,
#samuraj-checkout-button-cont .samuraj-pup-viscon.samuraj-show.samuraj-faded{
    opacity: 0.5;
    max-height: 3000px;
    transition: 0.6s ease-in-out;
}

#samuraj-pup-master-cont .samuraj-calc-result-div table {
  white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    color: -internal-quirk-inherit;
    text-align: start;
    font-variant: normal normal;
}
#samuraj-pup-master-cont .samuraj-calc-result-div *,:after,:before {
    box-sizing: border-box
}
#samuraj-pup-master-cont img {
    max-width: 100%;
    height: auto;
    border-style: none;
}

/*  IRW adaptation  */


.deliveryRestricitonsTopImage {
    display: none;
}

.boxContent.saveNContinueButton .buttonContainer, 
#shopRowBottom .buttonContainer {
    transition: 0.6s all ease-in-out;
}

.boxContent.saveNContinueButton .buttonContainer.disabledButton,
#shopRowBottom .buttonContainer.disabledButton,
.boxContent.saveNContinueButton .buttonContainer.disabledButton:hover,
#shopRowBottom .buttonContainer.disabledButton:hover,
.boxContent.saveNContinueButton .buttonContainer.disabledButton:active,
#shopRowBottom .buttonContainer.disabledButton:active{
    background: #fafafa;
    background: -moz-linear-gradient(top,#fafafa 0,#f4f4f4 100%);
    background: -webkit-gradient(left top,left bottom,color-stop(0%,#fafafa),color-stop(100%,#f4f4f4));
    background: -webkit-linear-gradient(top,#fafafa 0,#f4f4f4 100%);
    background: -o-linear-gradient(top,#fafafa 0,#f4f4f4 100%);
    background: -ms-linear-gradient(top,#fafafa 0,#f4f4f4 100%);
    background: linear-gradient(to bottom,#fafafa 0,#f4f4f4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa',endColorstr='#f4f4f4',GradientType=0);
    border: 1px solid #f0f0f0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#samuraj-pup-master-cont.samuraj-irw {
    max-width: 450px;
    box-sizing: border-box;
    float: left;
}


#samuraj-pup-master-cont.samuraj-irw .samuraj-radio-heading-label{
    font-size: 16px;
}

#samuraj-pup-master-cont.samuraj-irw .samuraj-hs-input-field-state,
#samuraj-pup-master-cont.samuraj-irw .samuraj-hs-input-field, 
#samuraj-pup-master-cont.samuraj-irw .samuraj-pp-input-field,
#samuraj-pup-master-cont.samuraj-irw .samuraj-cc-input-field,
#samuraj-pup-master-cont.samuraj-irw .samuraj-oa-input-field {
    font-size: 14px;
        -moz-appearance: window;
}

#samuraj-pup-master-cont.samuraj-irw .samuraj-calc-result-div table{
    font-size: small
}

#samuraj-checkout-button-cont .samuraj-checkout-button-wrapper{
    max-width: 344px;
}

#samuraj-checkout-button-cont .samuraj-checkout-button-img {
    margin: 23px 20px 0 0;
    float: right;
    font-size: 16px;
    padding-left: 40%;
    display: inline-block;
}
#samuraj-checkout-button-cont .samuraj-checkout-button-wrapper .samuraj-checkout-button-img{
    margin: 0;
    float: none;
}

#samuraj-checkout-button-cont .samuraj-checkout-button-text{
    clear: both;
    text-align: center;
    font-size: 16px;
}
#samuraj-checkout-button-cont .samuraj-red-text{
    color: red;
    font-size: 14px;
}


/********************/

/*Spinner*/

.samuraj-spinner {
    margin: 0 auto 0;
    width: 70px;
    text-align: center;
}

.samuraj-spinner>div {
    width: 12px;
    height: 12px;
    background-color: #888;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.samuraj-spinner .samuraj-bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.samuraj-spinner .samuraj-bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

