#countryDenmark {
  margin-top: -9px;
  width: 300px;
  box-sizing: border-box;
  height: 25px;
  border: 1px solid #ccc;
  font-size: 12px;
  color: #333;
  padding: 0 5px;
  vertical-align: middle;
  background: #c4c1c1 !important;
}

.modalCountry {
  display: none;
  background-color: #fff;
  position: relative;
  border: 1px solid #000;
  border-radius: 5px;
  margin: 0 auto;
  top: 40%;
  z-index: 6;
  padding: 35px;
  text-align: left;
  overflow: auto;
  font-size: 12px;
  width: 450px;
}

.lightbox-country {
  display: none;
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.6);
  width: 100%;
  height: 100%;
}
.countryPopup {
  margin-top: -20px;
}
#lightbox-close-btn {
  font-size: 14px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  margin-left: 100%;
}
.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    /*visibility: hidden;*/
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }