#search {
  padding: 6px 10px 6px 10px;
  width: 430px;
  height: 23px;
  margin-left: -26px;
  margin-top: 0px;
}

.loggedIn .fip-mh--main-header .searchForm input {
  width: 350px; 
}

.fip-mh--main-header {
  height: 38px;
  display: block;
  margin-bottom: 30px;
  margin-top: 10px; 
}
  .fip-mh--main-header .fip-mh--logo-container {
    float: left;
    margin-top: -2px; 
  }
    .fip-mh--main-header .fip-mh--logo-container .fip-mh--tagline {
      margin-left: -10px;
      font-size: 10px;
      margin-top: 2px; 
    }
  .fip-mh--main-header .searchForm {
    float: left;
    position: relative;
    margin-left: 74px; 
  }
    .fip-mh--main-header .searchForm input {
      height: 22px;
      width: 390px;
      padding: 6px;
      border: 1px solid #C0C0C0; 
    }
    .fip-mh--main-header .searchForm .fip-mh--search-form-button-container {
      position: absolute;
      right: 10px;
      top: 2px; 
    }
    .fip-mh--main-header .searchForm .fip-mh--search-form-button {
      height: 25px;
      width: 25px !important;
      margin: 4px 0px 0px -28px;
      background-image: url("images/search.svg");
      background-size: 20px 20px;
      background-repeat: no-repeat;
      background-position: 2px 2px !important;
      border: none;
      cursor: pointer; 
    }
  .fip-mh--main-header .fip-mh--right-section {
    float: right; 
  }
    .fip-mh--main-header .fip-mh--right-section a.arrowLink.fip-mh--blacklink {
      color: #010101;
    }
  .fip-mh--main-header .fip-mh--links-group {
    float: left;
    border-right: solid 1px #ddd;
    height: 36px;
    padding: 0 20px;
    text-align: left;
    list-style: none;
    margin: 0; 
  }
    .fip-mh--main-header .fip-mh--links-group li {
      line-height: 16px; 
    }
  .fip-mh--main-header .fip-mh--icons {
    /*float: left;*/
    position: relative; 
    display: inline-block;
    width: 90px;
  }
    .fip-mh--main-header .fip-mh--icons .fip-mh--shopping-list a {
      background-image: url("images/shopping_list.svg");
      background-size: 32px 30px;
      background-repeat: no-repeat;
      height: 32px;
      width: 39px;
      margin: -1.5px 0px 0px 13px;
      cursor: pointer;
      float: left;
    }
    /*style only for ie 11*/
    @media all and (-ms-high-contrast:none)
     {
     *::-ms-backdrop, .fip-mh--main-header .fip-mh--icons .fip-mh--shopping-list a {     
      background-image: url("images/shopping_list.svg");
      background-size: 34px 32px;
      background-repeat: no-repeat;
      height: 32px;
      width: 39px;
      margin: -4px 0px 0px 10px;
      cursor: pointer;
      float: left;} /* IE11 */
     }
    .fip-mh--main-header .fip-mh--icons .fip-mh--basket a {
      background-image: url("images/shopping_bag.svg");
      background-size: 39px 32px;
      background-repeat: no-repeat;
      height: 32px;
      width: 39px;
      margin: 0px 0px 0px -50px;
      cursor: pointer;
      float: right;
    }
    .fip-mh--main-header .fip-mh--icons #fip-mh--noOfCartItems {
      position: absolute;
      color: #333;
      text-decoration: none;
      margin: 0px 5px 5px 7px;
      font-weight: bold;
      padding: 2px;
      height: 14px;
      display: block;
      background-color: #fcd500;
      right: -11px;
      top: -3px;
      border-radius: 30px;
      min-width: 14px;
      min-height: 14px;
      text-align: center; 
    }

    #link_ikea_FandB {
        color: #010101;
        font-size: 1.15em;
      }
