.pip-collections {
    display:block;
    float: left;
    margin: 20px 0px 20px 0px;
    padding: 10px;
    border: 1px solid #cecece;
    background: black;
    font-size: 13px !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    line-height: 19px;
}

/*<b>SÆRKOLLEKTION – BEGRÆNSET ANTAL</b><br>OMEDELBAR er en særkollektion, der kun sælges i varehusene <br>i en kortere periode. <br>Kollektionen sælges fra 9. marts 2018