/*

                      
  /\   _|  _|  _  ._  
 /--\ (_| (_| (_) | | 
                      

*/

@-webkit-keyframes samuraj-addonproductopen { 
	0% { 
		bottom: -250px; 
		opacity: 0 
	} 
	to { 
		bottom: 10px; 
		opacity: 1 
	} 
} 
@keyframes samuraj-addonproductopen { 
	0% { 
		bottom: -250px; 
		opacity: 0 
	} 
	to { 
		bottom: 10px; 
		opacity: 1 
	} 
} 

#addon_header_dk {
	border: 2px solid #3F7AB2;
	height: 50px;
    margin: 1px 1px 0px 1px;
    padding-top: 11px;
    padding-left: 145px;
}

.samuraj-addonproduct { 
	position: relative;
	max-width: 100%;
	border-top: 1px solid #eee;
	/*border-bottom: 1px solid #eee;*/
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #fff;
	z-index: 1001;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
	/*
	-webkit-animation-name: samuraj-addonproductopen;
	animation-name: samuraj-addonproductopen;
	-webkit-animation-duration: .4s;
	animation-duration: .4s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	*/
}
/*
.samuraj-addonproduct .swiper-wrapper {
	width: 500px;
}
*/
.samuraj-addonproduct .samuraj-slide{ 
	/*border: 1px solid #ccc;*/
	background-color: white;
	/*eight: 100px;*/
	/*width: 100%;*/
	/*box-shadow: 0 0 10px;*/
	/*padding: 5px;*/
	/*margin: 15px;*/
	border-radius: 3px;

	-webkit-transition: all 0.3s; 
	-o-transition: all 0.3s; 
	transition: all 0.3s; 	
} 
.samuraj-addonproduct .samuraj-link{ 
	cursor: pointer;
}
.samuraj-addonproduct .swiper-button-prev{
	left: 0px !important;
	right: auto !important;
}
.samuraj-addonproduct .swiper-button-next{	
	right: 0px !important;
	left: auto !important;
}
.samuraj-addonproduct .swiper-button-prev, 
.samuraj-addonproduct .swiper-button-next {
	margin: 0  !important;
	/*border: 1px solid #ccc;
	border-radius: 50px;
	background-color: #fff;*/
}
.samuraj-addonproduct .swiper-button-prev.swiper-button-disabled, 
.samuraj-addonproduct .swiper-button-next.swiper-button-disabled {
	display: none;
}

.samuraj-addonproduct .swiper-pagination {
	left: 0;
    width: 100%;
}

.samuraj-addonproduct .swiper-container {
	margin-left: 0;
	margin-right: 0;
	width: 300px; 
	height: 100%; 
} 
/*
.samuraj-addonproduct .swiper-wrapper { 
	margin: 0 20px; 
}
*/
.swiper-pagination-bullet-active {
    opacity: 1;
	background: #8C8B8B;
	border: solid 1px #8C8B8B;
	margin:0.2rem; 
}
.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 100%;
    border: solid 1px #8C8B8B;
    opacity: 0.2;
    margin: 0.2rem;
}
.samuraj-addonproduct .swiper-container .swiper-slide { 
	height: auto;
	font-size: 18px; 
	background: #fff; 
	/*width: 500px;*/
	/* Center slide text vertically */ 
	display: -webkit-box; 
	display: -ms-flexbox; 
	display: -webkit-flex; 
	display: flex; 
	-webkit-box-pack: center; 
	-ms-flex-pack: center; 
	-webkit-justify-content: center; 
	justify-content: center; 
	-webkit-box-align: center; 
	-ms-flex-align: center; 
	-webkit-align-items: center; 
	align-items: center; 
	
	-webkit-transition: all 0.3s; 
	-o-transition: all 0.3s; 
	transition: all 0.3s; 
} 
.samuraj-addonproduct .samuraj-swiper-header{ 
	margin-bottom: 0px;
	font-weight: bold;
	max-width: 260px;
} 
.samuraj-addonproduct .samuraj-header{ 
	text-align: center;
	margin-bottom: 5px;
} 
.samuraj-addonproduct .image{
	display: inline-block !important;
	/* height: 150px; */ 
	/*position: absolute;*/ 
	background-color: #fff;
	-webkit-transition: all 0.3s; 
	-o-transition: all 0.3s; 
	transition: all 0.3s; 
} 
.samuraj-addonproduct .image img{ 
	width: 100px;
	height: auto !important;
} 
.samuraj-addonproduct .productDetails{
	padding-bottom: 50px !important; 
	display: inline-block !important;
	max-width: 190px;
	vertical-align: top;
}
.samuraj-addonproduct .product-details {
	padding-bottom: 50px; 
	display: inline-block;
	max-width: 190px;
	margin-left: 10px;
	vertical-align: top;
	color: #000;
}

.samuraj-addonproduct .productTitle {
	float: none;
	text-transform: uppercase;
	font-weight: 700;
	margin-top: .2rem;
	font-size: .9375rem;
	font-weight: 700;
}

.product-compact {
	margin-bottom: 5rem; 
}

.samuraj-addonproduct .product-compact .energy-flag, 
.samuraj-addonproduct .product-compact__comparable-price, 
.samuraj-addonproduct .product-compact__discount-percentage, 
.samuraj-addonproduct .product-compact__family-label, 
.samuraj-addonproduct .product-compact__image-container, 
.samuraj-addonproduct .product-compact__new, 
.samuraj-addonproduct .product-compact__nlp-label, 
.samuraj-addonproduct .product-compact__prev-price, 
.samuraj-addonproduct .price, 
.samuraj-addonproduct .product-compact__price-wrap, 
.samuraj-addonproduct .product-compact__rating, 
.samuraj-addonproduct .product-compact__ratings, 
.samuraj-addonproduct .productDesp, 
.samuraj-addonproduct .product-compact__valid-dates {
	margin-top: .5rem;
}

.samuraj-addonproduct #swiper-container .samuraj-addon-addtocart {
	position: absolute;
    bottom: 3rem;
	padding: 14px 40px 15px 40px;
	font-size: 16px;
	transform: scale(0.9);
	margin: 0;
	border-radius: 4px;
	width: 20rem;
	left: 0.4rem; 
}


.samuraj-addonproduct .productDesp{
	color: #000;
	-webkit-font-smoothing: antialiased;
	line-height: 1.4;
	text-decoration: none;
	font-style: normal;
}


.samuraj-addonproduct .prodFamily {
	clear: both;
	color: #cf4319;
	display: block;
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 700;
}
.samuraj-addonproduct .familyOfferDate {
	color: #000;
	font-size: 14px !important;
	line-height: 14px;
	font-weight: normal;
	font-style: normal;
	margin: 4px 0 11px;
}
.samuraj-addonproduct .familyOfferDate:before {
	content: "(";
}
.samuraj-addonproduct .familyOfferDate:after {
	content: ")";
}

.samuraj-addonproduct .prodFamilyPrice {
	color: #cf4319;
	font-size: 24px !important;
	font-weight: 700;
}

.samuraj-addonproduct .regularPrice {
	display: inline-block;
	letter-spacing: -.07em;
	font-weight: 700;
	white-space: nowrap;
	font-size: 24px !important;
}
.samuraj-addonproduct .regularPrice a{
	display: inline-block;
	font-size: 24px !important;
}
.samuraj-addonproduct .regularPrice .unit, 
.samuraj-addonproduct .prodFamilyPrice .unit{
	display: inline-block;
	letter-spacing: normal;
}

.samuraj-addonproduct .productDetails a.productFicheSmall{
	display: block;
	font-size: 16px !important;
}

.samuraj-addonproduct .productDetails a{
	text-decoration: none;
}
.samuraj-addonproduct .buttonsContainer{
	display: none;
}

.samuraj-addonproduct .swiper-container .swiper-slide { 
	/*width: 300px;*/ 
	height: 16.5rem; 
}
.samuraj-addonproduct .product-compact__image-container {
	width: 100px;
	display: inline-block;
	margin: 0;
}
.samuraj-addonproduct .swiper-button-prev,
.samuraj-addonproduct .swiper-button-next {
	top: 90%;
}

@media (min-width: 770px){
	.samuraj-addonproduct .swiper-container {
		margin-left: 30px;
		margin-right: 30px;
		width: 500px;
	}
	.samuraj-addonproduct .product-compact__image-container {
		width: 150px;
	}
	.samuraj-addonproduct .product-details {
		width: 300px;
	}
	.samuraj-addonproduct .product-compact {
		font-size: .875rem;
	}
	.samuraj-addonproduct .swiper-button-prev,
	.samuraj-addonproduct .swiper-button-next {
		top: 50%;
	}
	.samuraj-addonproduct .image img{ 
		width: 150px;
	} 
	.samuraj-addonproduct .productDetails{
		width: 300px;
	}
	.samuraj-addonproduct #swiper-container .samuraj-addon-addtocart {
		right: 10px;
		transform: scale(1);
	}
	.samuraj-addonproduct .samuraj-swiper-header{
		max-width: 330px;
	} 
	
}

.samuraj-addonproduct .samuraj-imagecontainer {
	margin: 0;
	max-width: 100%;
}
.samuraj-addonproduct .samuraj-imagecontainer.samuraj-image-left {
	float: left;
	margin: 0 10px 20px 0;
	max-width: 50%;
}
.samuraj-addonproduct .samuraj-imagecontainer.samuraj-image-right {
	float: right;
	margin: 0  0 20px 10px;
	max-width: 50%;
}
.samuraj-addonproduct .samuraj-imagecontainer img {
	width: 100%;
}
.samuraj-addonproduct .samuraj-textcontainer {
	margin-top: 10%;
}

/*IRW adjustments*/

@-webkit-keyframes overlayopen {
	0% {
	 background:transparent
	}
	to {
	 background:rgba(0,0,0,.4)
	}
   }
   @keyframes overlayopen {
	0% {
	 background:transparent
	}
	to {
	 background:rgba(0,0,0,.4)
	}
}

.samuraj-purchase-popup *{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 16px;
}
.samuraj-purchase-popup.samuraj-irw *{
	font-size: 16px;
}
.samuraj-purchase-popup p {
    margin: 0 0 1em;
}
.samuraj-purchase-popup button{
	cursor: pointer;
	text-transform: none;
}
.samuraj-purchase-popup .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.samuraj-purchase-popup .range-overlay {
	position:fixed;
	top:0;
	left:0;
	z-index:1000;
	height:100vh;
	width:100%;
	background-color:rgba(0,0,0,.4);
	-webkit-animation-name: samuraj-overlayopen;
	animation-name:samuraj-overlayopen;
	-webkit-animation-duration:.4s;
	animation-duration:.4s
}
.samuraj-purchase-popup .range-overlay--closed {
	display:none
}
@-webkit-keyframes samuraj-popupframeopen {
	0% {
		top:60%;
		opacity:0
	}
	to {
		top:50%;
		opacity:1
	}
}
@keyframes samuraj-popupframeopen {
	0% {
		top:60%;
		opacity:0
	}
	to {
		top:50%;
		opacity:1
	}
}

.samuraj-purchase-popup .range-popup-frame {
	overflow: hidden;
	position:fixed;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	background-color:#fff;
	left:50%;
	top:50%;
	-webkit-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
	z-index:1001;
	-webkit-transition:top 1s;
	-o-transition:top 1s;
	transition:top 1s;
	-webkit-animation-name: samuraj-popupframeopen;
	animation-name: samuraj-popupframeopen;
	-webkit-animation-duration:.4s;
	animation-duration:.4s;
	-webkit-animation-fill-mode:forwards;
	animation-fill-mode:forwards
}
.samuraj-purchase-popup .range-popup-frame--closed {
	display:none
}
.samuraj-purchase-popup .range-popup-frame__close-button {
	background-color:#fff;
	position:absolute;
	padding:0;
	margin:0;
	right:7px;
	top: 4px;
	width:2rem;
	height:2rem;
	border: none;
}
.samuraj-purchase-popup.samuraj-irw .range-popup {
	padding:2rem 1rem;
	min-width:18rem;
	-webkit-transition:all 1s ease;
	-o-transition:all 1s ease;
	transition:all 1s ease
}

@media (min-width:23rem) {
	.samuraj-purchase-popup.samuraj-irw .range-popup {
		min-width:23rem;
	}
}


.samuraj-purchase-popup .icon__close {
    background-image: url("https://m2.ikea.com/no/no/resources/svg/close-base.e0e284096bdbb5bf.svg");
}

/*
.samuraj-purchase-popup .button--primary{
	display: none !important;
}
*/

.samuraj-purchase-popup .button--primary .icon__shoppingbag, 
.samuraj-purchase-popup .icon__shoppingbag--primary {
    background-image: none !important;
}

.samuraj-purchase-popup .button .icon {
    display: inline-block;
    vertical-align: middle;
    margin: -.8334rem 0;
    height: 1.5rem;
	width: 1.5rem;
	top: -4px;
}
/*
.samuraj-purchase-popup .icon__shoppingbag {
    background-image: url("https://m2.ikea.com/no/no/resources/svg/shoppingbag-base.bf835b9f82d3ea46.svg");
}
*/
.samuraj-purchase-popup .icon, .samuraj-purchase-popup .icon--big, .samuraj-purchase-popup .icon--medium {
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    background-position: 50%;
    width: 2rem;
	height: 2rem;
}
#buttons {
	display: -webkit-inline-box;
	margin: 0.5rem;
	margin-bottom: 1rem;
}
.samuraj-purchase-popup .text--center {
    text-align: center;
}
.samuraj-purchase-popup .fill {
    width: 100%;
}
.samuraj-purchase-popup .button--primary {
	/*float: right;*/
	/*margin: 15px;*/
    color: #fff !important;
	background-color: #407ab1;
	/*min-width: 23rem;*/
	margin: 0 auto 15px;
	/*left: 50%;*/
	/*top: 50%;*/
	/*-webkit-transform: translateX(-50%);*/
	/*-ms-transform: translateX(-50%);*/
	/*transform: translateX(-50%);*/

}
.samuraj-purchase-popup .button__loader {
    overflow: hidden;
}
.samuraj-purchase-popup .button {
    display: inline-block;
    position: relative;
    padding: .8334rem 1.25rem;
    font-size: .875rem;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: opacity .2s ease;
    -o-transition: opacity .2s ease;
    transition: opacity .2s ease;
    -webkit-border-top-right-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -webkit-border-top-left-radius: 2px;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottomright: 2px;
    -moz-border-radius-bottomleft: 2px;
    -moz-border-radius-topleft: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.shop_on {
	background-color: #fff;
    border: #2d6596 solid 2px;
    color: #2d6596;
    width: 21rem !important;
    height: 3rem !important;
    margin-left: 0rem !important;
    margin-right: 0rem !important;
    z-index: 1;
    border-radius: 2px;
}
.samuraj-purchase-popup a {
    color: #407ab1;
    background: transparent;
        background-color: transparent;
        background-clip: border-box;
    /*text-decoration: underline;*/
}

.samuraj-purchase-popup .button--primary:hover {
    color: #fff;
    background-color: #2d6596;
}
.samuraj-purchase-popup a:active, 
.samuraj-purchase-popup a:hover {
    outline-width: 0;
}

.samuraj-purchase-popup .button--gray-outline, 
.samuraj-purchase-popup .button--secondary {
	float: left;
	margin: 15px;
    color: #407ab1;
    font-weight: 400;
	background: none;
	border: 0;
    -webkit-box-shadow: inset 0 0 0 1px #407ab1;
    box-shadow: inset 0 0 0 1px #407ab1;
    -webkit-transition: -webkit-box-shadow .15s ease;
    transition: -webkit-box-shadow .15s ease;
    -o-transition: box-shadow .15s ease;
    transition: box-shadow .15s ease;
    transition: box-shadow .15s ease,-webkit-box-shadow .15s ease;
}
.samuraj-purchase-popup .button--large {
    padding: 1rem;
    font-size: 1rem;
}

.samuraj-purchase-popup .button--gray-outline:active, 
.samuraj-purchase-popup .button--gray-outline:focus, 
.samuraj-purchase-popup .button--gray-outline:hover, 
.samuraj-purchase-popup .button--secondary:active, 
.samuraj-purchase-popup .button--secondary:focus, 
.samuraj-purchase-popup .button--secondary:hover {

    color: #275882;
    -webkit-box-shadow: inset 0 0 0 1.5px #407ab1;
    box-shadow: inset 0 0 0 1.5px #407ab1;

}

.samuraj-purchase-popup .samuraj-circle{
	display: none;
	animation-duration: 400ms;
	animation-timing-function: ease;
	animation-name: samuraj-circle;
	transform: translate(-10px, -10px);
	opacity: 1;
	position: absolute;
	background-color: white;
	overflow: visible;
	height: 20px;
	width: 20px;
	margin: 13px 0 0 24px;
	transform: translate(-10px, -10px);
	border-radius: 20px
}

.samuraj-purchase-popup .samuraj-circle.samuraj-irw {
	margin-top: 9px;
}

@-webkit-keyframes samuraj-circle {
	0% {
		height: 0;
		width: 0;
		transform: translate(0px, 0px);
		opacity: 1;
	}
	100% {
		height: 20px;
		width: 20px;
		transform: translate(-10px, -10px);
		opacity: 1;
	}
}

@keyframes samuraj-circle {
	0% {
	  height: 0;
	  width: 0;
	  transform: translate(0px, 0px);
	  opacity: 1;
	}
	100% {
	  height: 20px;
	  width: 20px;
	  transform: translate(-10px, -10px);
	  opacity: 1;
	}
 }
  
 .samuraj-purchase-popup .samuraj-checkmark {
	  display: none;
	  animation-duration: 800ms;
	  animation-timing-function: ease;
	  animation-name: samuraj-checkmark;
	  transform: scaleX(-1) rotate(135deg);
	  opacity: 1;
	  height: 20px;
	  width: 10px;
	  transform-origin: left top;
	  border-right: 4px solid #5cb85c;
	  border-top: 4px solid #5cb85c;
	  top: 10px;
	  left: 2px;
	  position: absolute;
  }
@-webkit-keyframes samuraj-checkmark {
	0% {
	  height: 0;
	  width: 0;
	  opacity: 1;
	}
	20% {
	  height: 0;
	  width: 10px;
	  opacity: 1;
	}
	40% {
	  height: 20px;
	  width: 10px;
	  opacity: 1;
	}
	100% {
	  height: 20px;
	  width: 10px;
	  opacity: 1;
	}
}
@keyframes samuraj-checkmark {
	0% {
	  height: 0;
	  width: 0;
	  opacity: 1;
	}
	20% {
	  height: 0;
	  width: 10px;
	  opacity: 1;
	}
	40% {
	  height: 20px;
	  width: 10px;
	  opacity: 1;
	}
	100% {
	  height: 20px;
	  width: 10px;
	  opacity: 1;
	}
}

.samuraj-purchase-popup .samuraj-addtocart-error {
	display: none;
	color: red;
	right: 0px;
	bottom: -2px;
	position: absolute;
	color: red;
	font-size: 13px;
}



@-webkit-keyframes samuraj-button-spin-animation {
	0% {
		-webkit-transform: translateY(-50%) rotate(0deg);
		transform: translateY(-50%) rotate(0deg)
	}

	to {
		-webkit-transform: translateY(-50%) rotate(1turn);
		transform: translateY(-50%) rotate(1turn)
	}
}

@keyframes samuraj-button-spin-animation {
	0% {
		-webkit-transform: translateY(-50%) rotate(0deg);
		transform: translateY(-50%) rotate(0deg)
	}

	to {
		-webkit-transform: translateY(-50%) rotate(1turn);
		transform: translateY(-50%) rotate(1turn)
	}
}

.samuraj-purchase-popup .button__loader {
	overflow: hidden
}

.samuraj-purchase-popup .button__loader:after {
	position: absolute;
	display: none;
	right: 0.2rem;;
	top: 50%;
	height: 1.666rem;
	width: 1.666rem;
	content: "";
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-animation: samuraj-button-spin-animation 2s infinite;
	animation: samuraj-button-spin-animation 2s infinite;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	background: url("https://m2.ikea.com/no/no/resources/svg/spinner-white.20c2b3a627306f30.svg") no-repeat 50%;
	background-size: 1.666rem 1.666rem;
}

.samuraj-purchase-popup .button__loader--active {
	position: relative;
	pointer-events: none;
	opacity: .4;
}

.samuraj-purchase-popup .button__loader--active:after {
	display: block
}


/*

                      
  /\   _|  _|  _  ._  
 /--\ (_| (_| (_) | | 
                      

*/

@-webkit-keyframes samuraj-addonproductopen { 
	0% { 
		bottom: -250px; 
		opacity: 0 
	} 
	to { 
		bottom: 10px; 
		opacity: 1 
	} 
} 
@keyframes samuraj-addonproductopen { 
	0% { 
		bottom: -250px; 
		opacity: 0 
	} 
	to { 
		bottom: 10px; 
		opacity: 1 
	} 
} 

#addon_header_dk {
	border: 2px solid #3F7AB2;
	height: 50px;
    margin: 1px 1px 0px 1px;
    padding-top: 11px;
    padding-left: 145px;
}

.samuraj-addonproduct { 
	position: relative;
	max-width: 100%;
	border-top: 1px solid #eee;
	/*border-bottom: 1px solid #eee;*/
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #fff;
	z-index: 1001;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
	/*
	-webkit-animation-name: samuraj-addonproductopen;
	animation-name: samuraj-addonproductopen;
	-webkit-animation-duration: .4s;
	animation-duration: .4s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	*/
}
/*
.samuraj-addonproduct .swiper-wrapper {
	width: 500px;
}
*/
.samuraj-addonproduct .samuraj-slide{ 
	/*border: 1px solid #ccc;*/
	background-color: white;
	/*eight: 100px;*/
	/*width: 100%;*/
	/*box-shadow: 0 0 10px;*/
	/*padding: 5px;*/
	/*margin: 15px;*/
	border-radius: 3px;

	-webkit-transition: all 0.3s; 
	-o-transition: all 0.3s; 
	transition: all 0.3s; 	
} 
.samuraj-addonproduct .samuraj-link{ 
	cursor: pointer;
}
.samuraj-addonproduct .swiper-button-prev{
	left: 0px !important;
	right: auto !important;
}
.samuraj-addonproduct .swiper-button-next{	
	right: 0px !important;
	left: auto !important;
}
.samuraj-addonproduct .swiper-button-prev, 
.samuraj-addonproduct .swiper-button-next {
	margin: 0  !important;
	/*
	border: 1px solid #ccc;
	border-radius: 50px;
	background-color: #fff;
	*/
}
.samuraj-addonproduct .swiper-button-prev.swiper-button-disabled, 
.samuraj-addonproduct .swiper-button-next.swiper-button-disabled {
	display: none;
}

.samuraj-addonproduct .swiper-pagination {
	left: 0;
    width: 100%;
}

.samuraj-addonproduct .swiper-container {
	margin-left: 0;
	margin-right: 0;
	width: 20rem;
	height: 22rem; 
} 
/*
.samuraj-addonproduct .swiper-wrapper { 
	margin: 0 20px; 
}
*/
.samuraj-addonproduct .swiper-container .swiper-slide { 
	height: auto;
	font-size: 18px; 
	background: #fff; 
	/*width: 500px;*/
	/* Center slide text vertically */ 
	display: -webkit-box; 
	display: -ms-flexbox; 
	display: -webkit-flex; 
	display: flex; 
	-webkit-box-pack: center; 
	-ms-flex-pack: center; 
	-webkit-justify-content: center; 
	justify-content: center; 
	-webkit-box-align: center; 
	-ms-flex-align: center; 
	-webkit-align-items: center; 
	align-items: center; 
	
	-webkit-transition: all 0.3s; 
	-o-transition: all 0.3s; 
	transition: all 0.3s; 
} 
.samuraj-addonproduct .samuraj-swiper-header{ 
	margin-bottom: 5px;
	font-weight: bold;
	max-width: 260px;
} 
.samuraj-addonproduct .samuraj-header{ 
	text-align: center;
	margin-bottom: 5px;
} 
.samuraj-addonproduct .image{
	display: inline-block !important;
	/* height: 150px; */ 
	/*position: absolute;*/ 
	background-color: #fff;
	-webkit-transition: all 0.3s; 
	-o-transition: all 0.3s; 
	transition: all 0.3s; 
} 
.samuraj-addonproduct .image img{ 
	width: 100px;
	height: auto !important;
} 
.samuraj-addonproduct .productDetails{
	padding-bottom: 50px !important; 
	display: inline-block !important;
	max-width: 190px;
	vertical-align: top;
}
.samuraj-addonproduct .product-details {
	padding-bottom: 50px; 
	display: inline-block;
	max-width: 190px;
	margin-left: 10px;
	vertical-align: top;
	color: #000;
}

.samuraj-addonproduct .productTitle {
	float: none;
	text-transform: uppercase;
	font-weight: 700;
	margin-top: .2rem;
	font-size: .9375rem;
	font-weight: 700;
}

.samuraj-addonproduct .product-compact .energy-flag, 
.samuraj-addonproduct .product-compact__comparable-price, 
.samuraj-addonproduct .product-compact__discount-percentage, 
.samuraj-addonproduct .product-compact__family-label, 
.samuraj-addonproduct .product-compact__image-container, 
.samuraj-addonproduct .product-compact__new, 
.samuraj-addonproduct .product-compact__nlp-label, 
.samuraj-addonproduct .product-compact__prev-price, 
.samuraj-addonproduct .price, 
.samuraj-addonproduct .product-compact__price-wrap, 
.samuraj-addonproduct .product-compact__rating, 
.samuraj-addonproduct .product-compact__ratings, 
.samuraj-addonproduct .productDesp, 
.samuraj-addonproduct .product-compact__valid-dates {
	margin-top: .5rem;
}

.samuraj-addonproduct #swiper-container .samuraj-addon-addtocart {
	position: absolute;
    bottom: 3rem;
	padding: 14px 40px 15px 40px;
	font-size: 16px;
	transform: scale(0.9);
	margin: 0;
	border-radius: 4px;
	width: 20rem;
	left: 0.4rem; 
}


.samuraj-addonproduct .productDesp{
	color: #000;
	-webkit-font-smoothing: antialiased;
	line-height: 1.4;
	text-decoration: none;
	font-style: normal;
}


.samuraj-addonproduct .prodFamily {
	clear: both;
	color: #cf4319;
	display: block;
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 700;
}
.samuraj-addonproduct .familyOfferDate {
	color: #000;
	font-size: 14px !important;
	line-height: 14px;
	font-weight: normal;
	font-style: normal;
	margin: 4px 0 11px;
}
.samuraj-addonproduct .familyOfferDate:before {
	content: "(";
}
.samuraj-addonproduct .familyOfferDate:after {
	content: ")";
}

.samuraj-addonproduct .prodFamilyPrice {
	color: #cf4319;
	font-size: 24px !important;
	font-weight: 700;
}

.samuraj-addonproduct .regularPrice {
	display: inline-block;
	letter-spacing: -.07em;
	font-weight: 700;
	white-space: nowrap;
	font-size: 24px !important;
}
.samuraj-addonproduct .regularPrice a{
	display: inline-block;
	font-size: 24px !important;
}
.samuraj-addonproduct .regularPrice .unit, 
.samuraj-addonproduct .prodFamilyPrice .unit{
	display: inline-block;
	letter-spacing: normal;
}

.samuraj-addonproduct .productDetails a.productFicheSmall{
	display: block;
	font-size: 16px !important;
}

.samuraj-addonproduct .productDetails a{
	text-decoration: none;
}
.samuraj-addonproduct .buttonsContainer{
	display: none;
}

.samuraj-addonproduct .swiper-container .swiper-slide { 
	/*width: 300px;*/ 
}
.samuraj-addonproduct .product-compact__image-container {
	width: 100px;
	display: inline-block;
	margin: 0;
}
.samuraj-addonproduct .swiper-button-prev,
.samuraj-addonproduct .swiper-button-next {
	top: 90%;
}

@media (min-width: 770px){
	.samuraj-addonproduct .swiper-container {
		margin-left: 30px;
		margin-right: 30px;
		width: 500px;
	}
	.samuraj-addonproduct .product-compact__image-container {
		width: 150px;
	}
	.samuraj-addonproduct .product-details {
		width: 300px;
	}
	.samuraj-addonproduct .product-compact {
		font-size: .875rem;
	}
	.samuraj-addonproduct .swiper-button-prev,
	.samuraj-addonproduct .swiper-button-next {
		top: 50%;
	}
	.samuraj-addonproduct .image img{ 
		width: 150px;
	} 
	.samuraj-addonproduct .productDetails{
		width: 300px;
	}
	.samuraj-addonproduct #swiper-container .samuraj-addon-addtocart {
		right: 10px;
		transform: scale(1);
	}
	.samuraj-addonproduct .samuraj-swiper-header{
		max-width: 330px;
	} 
	
}

.samuraj-addonproduct .samuraj-imagecontainer {
	margin: 0;
	max-width: 100%;
}
.samuraj-addonproduct .samuraj-imagecontainer.samuraj-image-left {
	float: left;
	margin: 0 10px 20px 0;
	max-width: 50%;
}
.samuraj-addonproduct .samuraj-imagecontainer.samuraj-image-right {
	float: right;
	margin: 0  0 20px 10px;
	max-width: 50%;
}
.samuraj-addonproduct .samuraj-imagecontainer img {
	width: 100%;
}
.samuraj-addonproduct .samuraj-textcontainer {
	margin-top: 10%;
}

/*IRW adjustments*/

@-webkit-keyframes overlayopen {
	0% {
	 background:transparent
	}
	to {
	 background:rgba(0,0,0,.4)
	}
   }
   @keyframes overlayopen {
	0% {
	 background:transparent
	}
	to {
	 background:rgba(0,0,0,.4)
	}
}

.samuraj-purchase-popup *{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 16px;
}
.samuraj-purchase-popup.samuraj-irw *{
	font-size: 16px;
}
.samuraj-purchase-popup p {
    margin: 0 0 1rem;
}
.samuraj-purchase-popup button{
	cursor: pointer;
	text-transform: none;
}
.samuraj-purchase-popup .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.samuraj-purchase-popup .range-overlay {
	position:fixed;
	top:0;
	left:0;
	z-index:1000;
	height:100vh;
	width:100%;
	background-color:rgba(0,0,0,.4);
	-webkit-animation-name: samuraj-overlayopen;
	animation-name:samuraj-overlayopen;
	-webkit-animation-duration:.4s;
	animation-duration:.4s
}
.samuraj-purchase-popup .range-overlay--closed {
	display:none
}
@-webkit-keyframes samuraj-popupframeopen {
	0% {
		top:60%;
		opacity:0
	}
	to {
		top:50%;
		opacity:1
	}
}
@keyframes samuraj-popupframeopen {
	0% {
		top:60%;
		opacity:0
	}
	to {
		top:50%;
		opacity:1
	}
}

.samuraj-purchase-popup .range-popup-frame {
	overflow: hidden;
	position:fixed;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	background-color:#fff;
	left:50%;
	top:50%;
	-webkit-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
	z-index:1001;
	-webkit-transition:top 1s;
	-o-transition:top 1s;
	transition:top 1s;
	-webkit-animation-name: samuraj-popupframeopen;
	animation-name: samuraj-popupframeopen;
	-webkit-animation-duration:.4s;
	animation-duration:.4s;
	-webkit-animation-fill-mode:forwards;
	animation-fill-mode:forwards
}
.samuraj-purchase-popup .range-popup-frame--closed {
	display:none
}
.samuraj-purchase-popup .range-popup-frame__close-button {
	background-color:#fff;
	position:absolute;
	padding:0;
	margin:0;
	right:7px;
	top: 4px;
	width:2rem;
	height:2rem;
	border: none;
}
.samuraj-purchase-popup.samuraj-irw .range-popup {
	padding:2rem 1rem;
	min-width:18rem;
	-webkit-transition:all 1s ease;
	-o-transition:all 1s ease;
	transition:all 1s ease
}

@media (min-width:23rem) {
	.samuraj-purchase-popup.samuraj-irw .range-popup {
		min-width:23rem;
	}
}


.samuraj-purchase-popup .icon__close {
    background-image: url("https://m2.ikea.com/no/no/resources/svg/close-base.e0e284096bdbb5bf.svg");
}

/*
.samuraj-purchase-popup .button--primary{
	display: none !important;
}
*/
/*
.samuraj-purchase-popup .button--primary .icon__shoppingbag, 
.samuraj-purchase-popup .icon__shoppingbag--primary {
    background-image: url("https://m2.ikea.com/no/no/resources/svg/shoppingbag-white.cb71f65143008e04.svg");
}*/


.samuraj-purchase-popup .button .icon {
    display: inline-block;
    vertical-align: middle;
    margin: -.8334rem 0;
    height: 1.5rem;
	width: 1.5rem;
	top: -4px;
}
/*
.samuraj-purchase-popup .icon__shoppingbag {
    background-image: url("https://m2.ikea.com/no/no/resources/svg/shoppingbag-base.bf835b9f82d3ea46.svg");
}
*/
.samuraj-purchase-popup .icon, .samuraj-purchase-popup .icon--big, .samuraj-purchase-popup .icon--medium {
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    background-position: 50%;
    width: 2rem;
	height: 2rem;
}
.samuraj-purchase-popup .text--center {
    text-align: center;
}
.samuraj-purchase-popup .fill {
    width: 100%;
}
.samuraj-purchase-popup .button--primary {
	/*float: right;*/
	/*margin: 15px;*/
    color: #fff !important;
	background-color: #407ab1;
	min-width: 17rem;
	margin: 0 auto 15px;
	/*left: 50%;*/
	/*top: 50%;*/
	/*-webkit-transform: translateX(-50%);*/
	/*-ms-transform: translateX(-50%);*/
	/*transform: translateX(-50%);*/

}
.samuraj-purchase-popup .button__loader {
    overflow: hidden;
}
.samuraj-purchase-popup .button {
    display: inline-block;
    position: relative;
    padding: .8334rem 1.25rem;
    font-size: .875rem;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: opacity .2s ease;
    -o-transition: opacity .2s ease;
    transition: opacity .2s ease;
    -webkit-border-top-right-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -webkit-border-top-left-radius: 2px;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottomright: 2px;
    -moz-border-radius-bottomleft: 2px;
    -moz-border-radius-topleft: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.samuraj-purchase-popup a {
    color: #407ab1;
    background: transparent;
        background-color: transparent;
        background-clip: border-box;
    /*text-decoration: underline;*/
}

.samuraj-purchase-popup .button--primary:hover {
    color: #fff;
    background-color: #2d6596;
}
.samuraj-purchase-popup a:active, 
.samuraj-purchase-popup a:hover {
    outline-width: 0;
}

.samuraj-purchase-popup .button--gray-outline, 
.samuraj-purchase-popup .button--secondary {
	float: left;
	margin: 15px;
    color: #407ab1;
    font-weight: 400;
	background: none;
	border: 0;
    -webkit-box-shadow: inset 0 0 0 1px #407ab1;
    box-shadow: inset 0 0 0 1px #407ab1;
    -webkit-transition: -webkit-box-shadow .15s ease;
    transition: -webkit-box-shadow .15s ease;
    -o-transition: box-shadow .15s ease;
    transition: box-shadow .15s ease;
    transition: box-shadow .15s ease,-webkit-box-shadow .15s ease;
}
.samuraj-purchase-popup .button--large {
    padding: 1rem;
    font-size: 1rem;
}

.samuraj-purchase-popup .button--gray-outline:active, 
.samuraj-purchase-popup .button--gray-outline:focus, 
.samuraj-purchase-popup .button--gray-outline:hover, 
.samuraj-purchase-popup .button--secondary:active, 
.samuraj-purchase-popup .button--secondary:focus, 
.samuraj-purchase-popup .button--secondary:hover {

    color: #275882;
    -webkit-box-shadow: inset 0 0 0 1.5px #407ab1;
    box-shadow: inset 0 0 0 1.5px #407ab1;

}

.samuraj-purchase-popup .samuraj-circle{
	display: none;
	animation-duration: 400ms;
	animation-timing-function: ease;
	animation-name: samuraj-circle;
	transform: translate(-10px, -10px);
	opacity: 1;
	position: absolute;
	background-color: white;
	overflow: visible;
	height: 20px;
	width: 20px;
	margin: 13px 0 0 24px;
	transform: translate(-10px, -10px);
	border-radius: 20px
}

.samuraj-purchase-popup .samuraj-circle.samuraj-irw {
	margin-top: 9px;
}

@-webkit-keyframes samuraj-circle {
	0% {
		height: 0;
		width: 0;
		transform: translate(0px, 0px);
		opacity: 1;
	}
	100% {
		height: 20px;
		width: 20px;
		transform: translate(-10px, -10px);
		opacity: 1;
	}
}

@keyframes samuraj-circle {
	0% {
	  height: 0;
	  width: 0;
	  transform: translate(0px, 0px);
	  opacity: 1;
	}
	100% {
	  height: 20px;
	  width: 20px;
	  transform: translate(-10px, -10px);
	  opacity: 1;
	}
 }
  
 .samuraj-purchase-popup .samuraj-checkmark {
	  display: none;
	  animation-duration: 800ms;
	  animation-timing-function: ease;
	  animation-name: samuraj-checkmark;
	  transform: scaleX(-1) rotate(135deg);
	  opacity: 1;
	  height: 20px;
	  width: 10px;
	  transform-origin: left top;
	  border-right: 4px solid #5cb85c;
	  border-top: 4px solid #5cb85c;
	  top: 10px;
	  left: 2px;
	  position: absolute;
  }
@-webkit-keyframes samuraj-checkmark {
	0% {
	  height: 0;
	  width: 0;
	  opacity: 1;
	}
	20% {
	  height: 0;
	  width: 10px;
	  opacity: 1;
	}
	40% {
	  height: 20px;
	  width: 10px;
	  opacity: 1;
	}
	100% {
	  height: 20px;
	  width: 10px;
	  opacity: 1;
	}
}
@keyframes samuraj-checkmark {
	0% {
	  height: 0;
	  width: 0;
	  opacity: 1;
	}
	20% {
	  height: 0;
	  width: 10px;
	  opacity: 1;
	}
	40% {
	  height: 20px;
	  width: 10px;
	  opacity: 1;
	}
	100% {
	  height: 20px;
	  width: 10px;
	  opacity: 1;
	}
}

.samuraj-purchase-popup .samuraj-addtocart-error {
	display: none;
	color: red;
	right: 0px;
	bottom: -2px;
	position: absolute;
	color: red;
	font-size: 13px;
}



@-webkit-keyframes samuraj-button-spin-animation {
	0% {
		-webkit-transform: translateY(-50%) rotate(0deg);
		transform: translateY(-50%) rotate(0deg)
	}

	to {
		-webkit-transform: translateY(-50%) rotate(1turn);
		transform: translateY(-50%) rotate(1turn)
	}
}

@keyframes samuraj-button-spin-animation {
	0% {
		-webkit-transform: translateY(-50%) rotate(0deg);
		transform: translateY(-50%) rotate(0deg)
	}

	to {
		-webkit-transform: translateY(-50%) rotate(1turn);
		transform: translateY(-50%) rotate(1turn)
	}
}

.samuraj-purchase-popup .button__loader {
	overflow: hidden
}

.samuraj-purchase-popup .button__loader:after {
	position: absolute;
	display: none;
	right: 0.2rem;;
	top: 50%;
	height: 1.666rem;
	width: 1.666rem;
	content: "";
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-animation: samuraj-button-spin-animation 2s infinite;
	animation: samuraj-button-spin-animation 2s infinite;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	background: url("https://m2.ikea.com/no/no/resources/svg/spinner-white.20c2b3a627306f30.svg") no-repeat 50%;
	background-size: 1.666rem 1.666rem;
}

.samuraj-purchase-popup .button__loader--active {
	position: relative;
	pointer-events: none;
	opacity: .4;
}

.samuraj-purchase-popup .button__loader--active:after {
	display: block
}


