/*		

  _                              
 |_)         _. |_  o | o _|_    
 |_) |_| \/ (_| |_) | | |  |_ \/ 
         /                    / 

*/

#productDisplay #rightNavContainer .blueBtn.samuraj-disabled,
.blueBtnComp.samuraj-disabled{
	opacity: .4;
	cursor: default;
}

#productDisplay #rightNavContainer .blueBtn.samuraj-disabled:hover {
	background: linear-gradient(to bottom,#3373c7 0,#0051ba 100%);
}

.samuraj-display-none{
	display: none !important;
}
.samuraj-display-block{
	display: block !important;
}

.samuraj-display-inline-block{
	display: inline-block !important;
}

#samuraj-buyability-info-pip-irw-text{
	width: 93%;
	clear: both;
	font-size: 14px;
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	background-color: #eee;
	font-weight: bold;
}
#samuraj-buyability-info-pip-irw-html{
	clear: both;
	width: 93%;
}
#samuraj-buyability-info-pip-m2-text{
	clear: both;
	font-size: 14px;
	margin-left: 16px;
	margin-right: 15px;
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	background-color: #eee;
	font-weight: bold;
}
#samuraj-buyability-info-pip-m2-html{
	clear: both;
	margin-left: 16px;
	margin-right: 15px;
}