
ul.a{
    display: block;
    padding: 0 0 0 0px;
    margin: 0px 10px 0px 0px;
    float: left;
    list-style-type: none;

}

.li{
    list-style-type: none;
}
/*.headline{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-style: bold;
    color: white;
}*/
.usp {
    display: block;
    height: 1.5rem;
    margin-top: .5rem;
    border-bottom: solid 1px #c4c1c1;
    color: #3d3d3d;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

.underrubrik{
   display: block;
   float: left;
   color: #3d3d3d;

}

 .text-yes{
    display: block;
    float: right;
    color: #3d3d3d;


 }

 .text-no{
    display: block;
    float: left;
    color: #dfdede;

 }

 .icon-yes{
    display: block;
    float: right;
    color: #3d3d3d;
    border-bottom: 1px solid, #c4c1c1;
    content:"";
    background:url(https://www.ikea.com/ms/da_DK/img/icons/icon_cirkelcheck_black_new.svg);
    width:1.3rem;
    height: 1.3rem;
 }

 .icon-no{
    display: block;
    float: right;
    color: #dfdede;
    border-bottom: 1px solid, #c4c1c1;
    content:"";
    background:url(https://www.ikea.com/ms/da_DK/img/icons/Circle.svg);
    width:1.3rem;
    height: 1.3rem;
    
 }