#checkoutBusinessCard{
    position: fixed;
    padding: 30px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.blackButtonContainer{
    background: #777 !important;
    border: 1px solid black !important;
    border-radius: 3px;
    font-size: 12px;
    display: inline-block;
}
.businessInput{
    min-width: 150px;
    font-size: 16px;
    height: 44px;
    width: 100%;
    padding: 0 10px 0 30px;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid #CCC;
    border-radius: 2px;
    box-shadow: none!important;
    background: #fff!important;
}
.Business-width-100{
	width:100%;
}
.Business-width-50{
	width:50%;
}
.Business-width-45{
	width:45%;
}
.Business-Inline-Block{
    display: inline-block;
    vertical-align: top;
}
.Business-leftMargin-5{
    margin-left: 5%    
}
.Business-rightMargin-5{
    margin-right: 5%
}
.CloseBusinessPopUp{
    position: absolute;
    top: 20px;
    right: 35px;
    text-align: left;
    font-size: 12px;
}
.BusinessCardPopUp{
    display: none;
    background-color: #fff;
    position: relative;
    border: 1px solid #000;
    border-radius: 5px;
    margin: 0 auto;
    top: 20%;
    z-index: 6;
    padding: 35px;
    text-align: left;
    overflow: auto;
    font-size: 12px;
    width: 450px;
    overflow-x: hidden;
}
.BusinessCardErrorMessage{
    color:red;
}
.BusinessCardHidden{
    display:none;
}
