
#countryDenmark {
  margin: 0;
  max-width: 100%;
  margin-top: 10px;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 2px;
  background: #eee;
  border: 1px solid #979797;
  margin-bottom: 12px;
  }
  
  .modalCountry {
    display: none;
    margin-top: 10px;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 2px;
    background: #eee;
    border: 1px solid #979797;
    max-width: 100%;
    margin-bottom: 12px;
  }

  .countryPopup p {
    margin: 0;
    padding-left: 5px;
    font-size: 12px;
}
  
  .tooltip {
      display: inline-block;
      width: 100%;
    }
    
    .tooltip .tooltiptext {
      box-sizing: border-box;
      padding: 10px;
      border-radius: 2px;
      background: #eee;
      border: 1px solid #979797;
    }

    /*BusinessCar*/
  .boxTitle {
      font-weight: bold;
      font-size: 14px;
      padding-left: 12px !important;
      color: #3F7AB2;
      margin-bottom: 6px !important;
      margin-top: 6px !important;
  }
  .boxBoby {
      padding-left: 12px !important;
      padding-top: 10px !important; 
  }
  .linkNBC {
      display: -webkit-inline-box;
      box-shadow: inset 0 0 0 1px #407ab1;
      font-weight: 400;
      color: #3F7AB2 !important;
      padding: 10px;
      margin: 3%;
      text-decoration: none !important;
      text-align: -webkit-center;
      border: solid 1px #3F7AB2; 
      width: 33%;
      height: 30px;
      line-height: 200%;
  }

.collapsible_IKEABUSINESSCARD {
  background-color:#777;
  color: white;
  cursor: pointer;
  width: 100%;
  border: none;
  outline: none;
  font-size: 15px;
  height: 50px;
  text-align: -webkit-center;
  line-height: 3rem; 
}
.content_IKEABUSINESSCARD {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}