#serviceHeader {
    display: block;
    height: 30px;
    width: 100%;
    margin-left: -3px;
    margin-top: -10px;
    margin-bottom: 5px;
}

#serviceHeader ul {
    height:30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11px;
    display: -webkit-flex;
    -webkit-justify-content: space-around;
    -webkit-align-items: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    padding: 0px;
    margin: 0px; 
}

#serviceHeader > ul > li > a > img{
    width: 20px;
    max-height: 20px;
    margin-right: 5px;  
}

#serviceHeader > ul > li > a > i{
    margin-right:5px;
}

#serviceHeader > ul > li > a {
    color: #333;
    text-decoration: none;
    display: -webkit-flex;
    -webkit-align-items: center;
    display: flex;
    align-items: center;
}

@font-face {
    font-family: 'KlarnaSans';
    src: url(//klarna.com/sites/all/themes/klarna/css/fonts/KlarnaSans.eot);
    src: url(//klarna.com/sites/all/themes/klarna/css/fonts/KlarnaSans.eot?#iefix) format('embedded-opentype'), url(//klarna.com/sites/all/themes/klarna/css/fonts/KlarnaSans.woff) format('woff'), url(//klarna.com/sites/all/themes/klarna/css/fonts/KlarnaSans.ttf) format('truetype'), url(//klarna.com/sites/all/themes/klarna/css/fonts/KlarnaSans.svg#KlarnaSansLight) format('svg');
}