/*for other delivery adresse*/
.boxTitle {
    font-weight: bold;
    font-size: 13px;
}
.linkNBC {
    display: -webkit-inline-box;
    box-shadow: inset 0 0 0 1px #407ab1;
    font-weight: 400;
    color: #3F7AB2 !important;
    padding: 10px;
    margin: 3%;
    text-decoration: none !important;
    text-align: -webkit-center;
    border: solid 1px #3F7AB2; 
    width: 34%;
    height: 20px;
    line-height: 200%;
}
.collapsible_IKEABUSINESSCARD {
    background-color:#777;
    color: white;
    cursor: pointer;
    width: 100%;
    border: none;
    outline: none;
    font-size: 15px;
    height: 50px;
    text-align: -webkit-center;
    line-height: 3rem; 
  }
  .content_IKEABUSINESSCARD {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    margin-top: -15px;
  }

  /* if you chose a ither adress then we need to change the style*/

  .collapsibleDA {
    background-color:#777;
    color: white;
    cursor: pointer;
    width: 51%;
    border: none;
    outline: none;
    font-size: 15px;
    height: 50px;
    text-align: -webkit-center;
    line-height: 3rem; 
  }
  .contentDA {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    margin-top: -15px;
    width: 44.9%;
  }