/*

  __                _      
 (_ _|_ o  _ |     |_ o    
 __) |_ | (_ |< \/ |  | >< 
                /          

*/

.js-sticky-bottom-bar{
	-ms-touch-action: none; 
	touch-action: none; 
} 
.samuraj-bottom-bar__container--hide{
	-webkit-transform: translateY(8rem);
	-ms-transform: translateY(8rem);
	transform: translateY(8rem);
}