.footer {
    display: block;
    padding: 1rem;
    color: #333;
    background: #fff;
    border-top: 5px solid #407ab1
}

.footer__nav {
    font-size: .800rem
}

@media (min-width:1024px) {
    .footer__nav {
        max-width: 1024px;
        margin-left: auto;
        margin-right: auto
    }
}

.footer__copyright {
    font-size: .70rem;
    text-align: center
}

.footer__inner-list,
.footer__list {
    padding: 0;
    margin: 0;
    list-style: none
}

.footer__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -.75rem;
    margin-right: -.75rem
}

@media (min-width:768px) {
    .footer__list {
        justify-content: center
    }
}

.footer__inner-item+.footer__inner-item {
    margin-top: 1rem;
    display: block
}

.footer__list-item {
    margin-bottom: 2rem;
    padding-left: .75rem;
    padding-right: .75rem;
    flex: 0 1 50%;
    box-sizing: border-box;
}

@media (min-width:768px) {
    .footer__list-item {
        flex-basis: 20%
    }
}

.footer__item-headline {
    display: inline-block;
    margin-bottom: 1px
}

.footer__item-link,
.footer__item-link:active,
.footer__item-link:focus,
.footer__item-link:hover {
    color: #333;
    text-decoration: none
}
.footer__item-link:active:hover,
.footer__item-link:focus:hover,
.footer__item-link:hover,
.footer__item-link:hover:hover {
    text-decoration: underline
}

.footer__list-item-social {
    flex-grow: 1;
    text-align: center;
    flex-basis: 100%
}

.footer__list-item-social .footer__inner-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: .75rem -.5rem -.5rem
}

.footer__list-item-social .footer__inner-item {
    flex: 0 0 auto;
    margin: 0 .5rem .5rem
}

.footer__item-image {
    width: 2.6rem;
    height: 2.6rem
}