.samuraj-image-carousel {
    max-width: 1400px; 
    margin-right: auto; 
    margin-left: auto;
}

.samuraj-image {
    width: 250px; 
    height: 250px; 
    padding-bottom: 15px;
}

.swiper-container{
    width: 100%; 
    height: 400px; 
    padding: 15px 0;
}

.swiper-wrapper{
    padding-bottom: 20px;
}

.samuraj-headlinetext{
    text-transform: uppercase; 
    text-decoration: none; 
    font-weight: bold; 
    font-size: 12px; 
    color: #333; 
    padding-right: 5px; 
    padding-top: 1px; 
    cursor: pointer; 
}

.samuraj-text{
    color: #666; 
    line-height: 16px; 
    font-size: 12px; 
    text-decoration: none; 
    padding-left: 2px; 
    letter-spacing: -0.5px; 
    font-style: normal;
    font-weight: normal;
}

.samuraj-pris{
    text-decoration: none; 
    font-size: 18px; 
    line-height: 20px; 
    color: #333; 
    font-weight: bold; 
    clear: left; 
    font-style: normal; 
    display: block;
}

.swiper-pagination{
    position: relative;
    padding-top: 20px;
}

.swiper-button-next,.samuraj-image-carousel .swiper-button-prev{
    background-color: #fff; 
    border-radius: 15px;
}