/*

  _                   ___               
 | \ o  _ ._  |  _.    | o ._ _   _  ._ 
 |_/ | _> |_) | (_| \/ | | | | | (/_ |  
          |         /                   

*/

.samuraj-dt-injected-drop {
  max-height: 0;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.samuraj-dt-injected-drop.samuraj-show {
  max-height: 500px;
}

.samuraj-dt-injected-appear {
  opacity: 0
}

.samuraj-dt-injected-appear.samuraj-show {
  opacity: 1
}

.samuraj-dt-injected-fade {
  opacity: 0;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.samuraj-dt-injected-fade.samuraj-show {
  opacity: 1;
}

.corrosilnavigatingarrow {
  -moz-transition: top 0.3s;
  -ms-transition: top 0.3s;
  -o-transition: top 0.3s;
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
}

