@charset "UTF-8";

/*!
 * animate.css -http://daneden.me/animate
 * Version - 3.6.0
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2018 Daniel Eden
 */

.samuraj-noscroll{
	overflow: hidden;
}

.samuraj-clear {
	clear: both;
}

.samuraj-hidden{
	visibility: hidden;
}

.samuraj-display-block{
display:block;
}

.samuraj-effect-animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.samuraj-effect-animated.samuraj-effect-infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.samuraj-effect-fade {
-moz-transition: 0.3s;
-ms-transition: 0.3s;
-o-transition: 0.3s;
-webkit-transition: 0.3s;
transition: 0.3s;
}    


@-webkit-keyframes samuraj-effect-bounce {
  from,
  20%,
  53%,
  80%,
  to {
	-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
	-webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
	animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
	-webkit-transform: translate3d(0, -30px, 0);
	transform: translate3d(0, -30px, 0);
  }

  70% {
	-webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
	animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
	-webkit-transform: translate3d(0, -15px, 0);
	transform: translate3d(0, -15px, 0);
  }

  90% {
	-webkit-transform: translate3d(0, -4px, 0);
	transform: translate3d(0, -4px, 0);
  }
}

@keyframes samuraj-effect-bounce {
  from,
  20%,
  53%,
  80%,
  to {
	-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
	-webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
	animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
	-webkit-transform: translate3d(0, -30px, 0);
	transform: translate3d(0, -30px, 0);
  }

  70% {
	-webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
	animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
	-webkit-transform: translate3d(0, -15px, 0);
	transform: translate3d(0, -15px, 0);
  }

  90% {
	-webkit-transform: translate3d(0, -4px, 0);
	transform: translate3d(0, -4px, 0);
  }
}

.samuraj-effect-bounce {
  -webkit-animation-name: samuraj-effect-bounce;
  animation-name: samuraj-effect-bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

@-webkit-keyframes samuraj-effect-flash {
  from,
  50%,
  to {
	opacity: 1;
  }

  25%,
  75% {
	opacity: 0;
  }
}

@keyframes samuraj-effect-flash {
  from,
  50%,
  to {
	opacity: 1;
  }

  25%,
  75% {
	opacity: 0;
  }
}

.samuraj-effect-flash {
  -webkit-animation-name: samuraj-effect-flash;
  animation-name: samuraj-effect-flash;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@-webkit-keyframes samuraj-effect-pulse {
  from {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
  }

  50% {
	-webkit-transform: scale3d(1.05, 1.05, 1.05);
	transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
  }
}

@keyframes samuraj-effect-pulse {
  from {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
  }

  50% {
	-webkit-transform: scale3d(1.05, 1.05, 1.05);
	transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
  }
}

.samuraj-effect-pulse {
  -webkit-animation-name: samuraj-effect-pulse;
  animation-name: samuraj-effect-pulse;
}

@-webkit-keyframes samuraj-effect-rubberBand {
  from {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
  }

  30% {
	-webkit-transform: scale3d(1.25, 0.75, 1);
	transform: scale3d(1.25, 0.75, 1);
  }

  40% {
	-webkit-transform: scale3d(0.75, 1.25, 1);
	transform: scale3d(0.75, 1.25, 1);
  }

  50% {
	-webkit-transform: scale3d(1.15, 0.85, 1);
	transform: scale3d(1.15, 0.85, 1);
  }

  65% {
	-webkit-transform: scale3d(0.95, 1.05, 1);
	transform: scale3d(0.95, 1.05, 1);
  }

  75% {
	-webkit-transform: scale3d(1.05, 0.95, 1);
	transform: scale3d(1.05, 0.95, 1);
  }

  to {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
  }
}

@keyframes samuraj-effect-rubberBand {
  from {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
  }

  30% {
	-webkit-transform: scale3d(1.25, 0.75, 1);
	transform: scale3d(1.25, 0.75, 1);
  }

  40% {
	-webkit-transform: scale3d(0.75, 1.25, 1);
	transform: scale3d(0.75, 1.25, 1);
  }

  50% {
	-webkit-transform: scale3d(1.15, 0.85, 1);
	transform: scale3d(1.15, 0.85, 1);
  }

  65% {
	-webkit-transform: scale3d(0.95, 1.05, 1);
	transform: scale3d(0.95, 1.05, 1);
  }

  75% {
	-webkit-transform: scale3d(1.05, 0.95, 1);
	transform: scale3d(1.05, 0.95, 1);
  }

  to {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
  }
}

.samuraj-effect-rubberBand {
  -webkit-animation-name: samuraj-effect-rubberBand;
  animation-name: samuraj-effect-rubberBand;
}

@-webkit-keyframes samuraj-effect-shake {
  from,
  to {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
	-webkit-transform: translate3d(-10px, 0, 0);
	transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
	-webkit-transform: translate3d(10px, 0, 0);
	transform: translate3d(10px, 0, 0);
  }
}

@keyframes samuraj-effect-shake {
  from,
  to {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
	-webkit-transform: translate3d(-10px, 0, 0);
	transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
	-webkit-transform: translate3d(10px, 0, 0);
	transform: translate3d(10px, 0, 0);
  }
}

.samuraj-effect-shake {
  -webkit-animation-name: samuraj-effect-shake;
  animation-name: samuraj-effect-shake;
}

@-webkit-keyframes samuraj-effect-headShake {
  0% {
	-webkit-transform: translateX(0);
	transform: translateX(0);
  }

  6.5% {
	-webkit-transform: translateX(-6px) rotateY(-9deg);
	transform: translateX(-6px) rotateY(-9deg);
  }

  18.5% {
	-webkit-transform: translateX(5px) rotateY(7deg);
	transform: translateX(5px) rotateY(7deg);
  }

  31.5% {
	-webkit-transform: translateX(-3px) rotateY(-5deg);
	transform: translateX(-3px) rotateY(-5deg);
  }

  43.5% {
	-webkit-transform: translateX(2px) rotateY(3deg);
	transform: translateX(2px) rotateY(3deg);
  }

  50% {
	-webkit-transform: translateX(0);
	transform: translateX(0);
  }
}

@keyframes samuraj-effect-headShake {
  0% {
	-webkit-transform: translateX(0);
	transform: translateX(0);
  }

  6.5% {
	-webkit-transform: translateX(-6px) rotateY(-9deg);
	transform: translateX(-6px) rotateY(-9deg);
  }

  18.5% {
	-webkit-transform: translateX(5px) rotateY(7deg);
	transform: translateX(5px) rotateY(7deg);
  }

  31.5% {
	-webkit-transform: translateX(-3px) rotateY(-5deg);
	transform: translateX(-3px) rotateY(-5deg);
  }

  43.5% {
	-webkit-transform: translateX(2px) rotateY(3deg);
	transform: translateX(2px) rotateY(3deg);
  }

  50% {
	-webkit-transform: translateX(0);
	transform: translateX(0);
  }
}

.samuraj-effect-headShake {
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-name: samuraj-effect-headShake;
  animation-name: samuraj-effect-headShake;
}

@-webkit-keyframes samuraj-effect-swing {
  20% {
	-webkit-transform: rotate3d(0, 0, 1, 15deg);
	transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
	-webkit-transform: rotate3d(0, 0, 1, -10deg);
	transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
	-webkit-transform: rotate3d(0, 0, 1, 5deg);
	transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
	-webkit-transform: rotate3d(0, 0, 1, -5deg);
	transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
	-webkit-transform: rotate3d(0, 0, 1, 0deg);
	transform: rotate3d(0, 0, 1, 0deg);
  }
}

@keyframes samuraj-effect-swing {
  20% {
	-webkit-transform: rotate3d(0, 0, 1, 15deg);
	transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
	-webkit-transform: rotate3d(0, 0, 1, -10deg);
	transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
	-webkit-transform: rotate3d(0, 0, 1, 5deg);
	transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
	-webkit-transform: rotate3d(0, 0, 1, -5deg);
	transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
	-webkit-transform: rotate3d(0, 0, 1, 0deg);
	transform: rotate3d(0, 0, 1, 0deg);
  }
}

.samuraj-effect-swing {
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation-name: samuraj-effect-swing;
  animation-name: samuraj-effect-swing;
}

@-webkit-keyframes samuraj-effect-tada {
  from {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
	-webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
	transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
	-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
	transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
	-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
	transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
  }
}

@keyframes samuraj-effect-tada {
  from {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
	-webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
	transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
	-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
	transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
	-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
	transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
  }
}

.samuraj-effect-tada {
  -webkit-animation-name: samuraj-effect-tada;
  animation-name: samuraj-effect-tada;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@-webkit-keyframes samuraj-effect-wobble {
  from {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }

  15% {
	-webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
	transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }

  30% {
	-webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
	transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }

  45% {
	-webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
	transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }

  60% {
	-webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
	transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }

  75% {
	-webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
	transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }

  to {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }
}

@keyframes samuraj-effect-wobble {
  from {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }

  15% {
	-webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
	transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }

  30% {
	-webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
	transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }

  45% {
	-webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
	transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }

  60% {
	-webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
	transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }

  75% {
	-webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
	transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }

  to {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }
}

.samuraj-effect-bobble {
  -webkit-animation-name: samuraj-effect-wobble;
  animation-name: samuraj-effect-wobble;
}

@-webkit-keyframes samuraj-effect-jello {
  from,
  11.1%,
  to {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }

  22.2% {
	-webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
	transform: skewX(-12.5deg) skewY(-12.5deg);
  }

  33.3% {
	-webkit-transform: skewX(6.25deg) skewY(6.25deg);
	transform: skewX(6.25deg) skewY(6.25deg);
  }

  44.4% {
	-webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
	transform: skewX(-3.125deg) skewY(-3.125deg);
  }

  55.5% {
	-webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
	transform: skewX(1.5625deg) skewY(1.5625deg);
  }

  66.6% {
	-webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
	transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }

  77.7% {
	-webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
	transform: skewX(0.390625deg) skewY(0.390625deg);
  }

  88.8% {
	-webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
	transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}

@keyframes samuraj-effect-jello {
  from,
  11.1%,
  to {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }

  22.2% {
	-webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
	transform: skewX(-12.5deg) skewY(-12.5deg);
  }

  33.3% {
	-webkit-transform: skewX(6.25deg) skewY(6.25deg);
	transform: skewX(6.25deg) skewY(6.25deg);
  }

  44.4% {
	-webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
	transform: skewX(-3.125deg) skewY(-3.125deg);
  }

  55.5% {
	-webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
	transform: skewX(1.5625deg) skewY(1.5625deg);
  }

  66.6% {
	-webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
	transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }

  77.7% {
	-webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
	transform: skewX(0.390625deg) skewY(0.390625deg);
  }

  88.8% {
	-webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
	transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}

.samuraj-effect-jello {
  -webkit-animation-name: samuraj-effect-jello;
  animation-name: samuraj-effect-jello;
  -webkit-transform-origin: center;
  transform-origin: center;
}

@-webkit-keyframes samuraj-effect-bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
	-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
	opacity: 0;
	-webkit-transform: scale3d(0.3, 0.3, 0.3);
	transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
	-webkit-transform: scale3d(1.1, 1.1, 1.1);
	transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
	-webkit-transform: scale3d(0.9, 0.9, 0.9);
	transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
	opacity: 1;
	-webkit-transform: scale3d(1.03, 1.03, 1.03);
	transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
	-webkit-transform: scale3d(0.97, 0.97, 0.97);
	transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
	opacity: 1;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
  }
}

@keyframes samuraj-effect-bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
	-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
	opacity: 0;
	-webkit-transform: scale3d(0.3, 0.3, 0.3);
	transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
	-webkit-transform: scale3d(1.1, 1.1, 1.1);
	transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
	-webkit-transform: scale3d(0.9, 0.9, 0.9);
	transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
	opacity: 1;
	-webkit-transform: scale3d(1.03, 1.03, 1.03);
	transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
	-webkit-transform: scale3d(0.97, 0.97, 0.97);
	transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
	opacity: 1;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
  }
}

.samuraj-effect-bounceIn {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-name: samuraj-effect-bounceIn;
  animation-name: samuraj-effect-bounceIn;
}

@-webkit-keyframes samuraj-effect-bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
	-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
	opacity: 0;
	-webkit-transform: translate3d(0, -3000px, 0);
	transform: translate3d(0, -3000px, 0);
  }

  60% {
	opacity: 1;
	-webkit-transform: translate3d(0, 25px, 0);
	transform: translate3d(0, 25px, 0);
  }

  75% {
	-webkit-transform: translate3d(0, -10px, 0);
	transform: translate3d(0, -10px, 0);
  }

  90% {
	-webkit-transform: translate3d(0, 5px, 0);
	transform: translate3d(0, 5px, 0);
  }

  to {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }
}

@keyframes samuraj-effect-bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
	-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
	opacity: 0;
	-webkit-transform: translate3d(0, -3000px, 0);
	transform: translate3d(0, -3000px, 0);
  }

  60% {
	opacity: 1;
	-webkit-transform: translate3d(0, 25px, 0);
	transform: translate3d(0, 25px, 0);
  }

  75% {
	-webkit-transform: translate3d(0, -10px, 0);
	transform: translate3d(0, -10px, 0);
  }

  90% {
	-webkit-transform: translate3d(0, 5px, 0);
	transform: translate3d(0, 5px, 0);
  }

  to {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }
}

.samuraj-effect-bounceInDown {
  -webkit-animation-name: samuraj-effect-bounceInDown;
  animation-name: samuraj-effect-bounceInDown;
}

@-webkit-keyframes samuraj-effect-bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
	-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
	opacity: 0;
	-webkit-transform: translate3d(-3000px, 0, 0);
	transform: translate3d(-3000px, 0, 0);
  }

  60% {
	opacity: 1;
	-webkit-transform: translate3d(25px, 0, 0);
	transform: translate3d(25px, 0, 0);
  }

  75% {
	-webkit-transform: translate3d(-10px, 0, 0);
	transform: translate3d(-10px, 0, 0);
  }

  90% {
	-webkit-transform: translate3d(5px, 0, 0);
	transform: translate3d(5px, 0, 0);
  }

  to {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }
}

@keyframes samuraj-effect-bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
	-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
	opacity: 0;
	-webkit-transform: translate3d(-3000px, 0, 0);
	transform: translate3d(-3000px, 0, 0);
  }

  60% {
	opacity: 1;
	-webkit-transform: translate3d(25px, 0, 0);
	transform: translate3d(25px, 0, 0);
  }

  75% {
	-webkit-transform: translate3d(-10px, 0, 0);
	transform: translate3d(-10px, 0, 0);
  }

  90% {
	-webkit-transform: translate3d(5px, 0, 0);
	transform: translate3d(5px, 0, 0);
  }

  to {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }
}

.samuraj-effect-bounceInLeft {
  -webkit-animation-name: samuraj-effect-bounceInLeft;
  animation-name: samuraj-effect-bounceInLeft;
}

@-webkit-keyframes samuraj-effect-bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
	-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
	opacity: 0;
	-webkit-transform: translate3d(3000px, 0, 0);
	transform: translate3d(3000px, 0, 0);
  }

  60% {
	opacity: 1;
	-webkit-transform: translate3d(-25px, 0, 0);
	transform: translate3d(-25px, 0, 0);
  }

  75% {
	-webkit-transform: translate3d(10px, 0, 0);
	transform: translate3d(10px, 0, 0);
  }

  90% {
	-webkit-transform: translate3d(-5px, 0, 0);
	transform: translate3d(-5px, 0, 0);
  }

  to {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }
}

@keyframes samuraj-effect-bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
	-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
	opacity: 0;
	-webkit-transform: translate3d(3000px, 0, 0);
	transform: translate3d(3000px, 0, 0);
  }

  60% {
	opacity: 1;
	-webkit-transform: translate3d(-25px, 0, 0);
	transform: translate3d(-25px, 0, 0);
  }

  75% {
	-webkit-transform: translate3d(10px, 0, 0);
	transform: translate3d(10px, 0, 0);
  }

  90% {
	-webkit-transform: translate3d(-5px, 0, 0);
	transform: translate3d(-5px, 0, 0);
  }

  to {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }
}

.samuraj-effect-bounceInRight {
  -webkit-animation-name: samuraj-effect-bounceInRight;
  animation-name: samuraj-effect-bounceInRight;
}

@-webkit-keyframes samuraj-effect-bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
	-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
	opacity: 0;
	-webkit-transform: translate3d(0, 3000px, 0);
	transform: translate3d(0, 3000px, 0);
  }

  60% {
	opacity: 1;
	-webkit-transform: translate3d(0, -20px, 0);
	transform: translate3d(0, -20px, 0);
  }

  75% {
	-webkit-transform: translate3d(0, 10px, 0);
	transform: translate3d(0, 10px, 0);
  }

  90% {
	-webkit-transform: translate3d(0, -5px, 0);
	transform: translate3d(0, -5px, 0);
  }

  to {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }
}

@keyframes samuraj-effect-bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
	-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
	opacity: 0;
	-webkit-transform: translate3d(0, 3000px, 0);
	transform: translate3d(0, 3000px, 0);
  }

  60% {
	opacity: 1;
	-webkit-transform: translate3d(0, -20px, 0);
	transform: translate3d(0, -20px, 0);
  }

  75% {
	-webkit-transform: translate3d(0, 10px, 0);
	transform: translate3d(0, 10px, 0);
  }

  90% {
	-webkit-transform: translate3d(0, -5px, 0);
	transform: translate3d(0, -5px, 0);
  }

  to {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }
}

.samuraj-effect-bounceInUp {
  -webkit-animation-name: samuraj-effect-bounceInUp;
  animation-name: samuraj-effect-bounceInUp;
}

@-webkit-keyframes samuraj-effect-bounceOut {
  20% {
	-webkit-transform: scale3d(0.9, 0.9, 0.9);
	transform: scale3d(0.9, 0.9, 0.9);
  }

  50%,
  55% {
	opacity: 1;
	-webkit-transform: scale3d(1.1, 1.1, 1.1);
	transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
	opacity: 0;
	-webkit-transform: scale3d(0.3, 0.3, 0.3);
	transform: scale3d(0.3, 0.3, 0.3);
  }
}

@keyframes samuraj-effect-bounceOut {
  20% {
	-webkit-transform: scale3d(0.9, 0.9, 0.9);
	transform: scale3d(0.9, 0.9, 0.9);
  }

  50%,
  55% {
	opacity: 1;
	-webkit-transform: scale3d(1.1, 1.1, 1.1);
	transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
	opacity: 0;
	-webkit-transform: scale3d(0.3, 0.3, 0.3);
	transform: scale3d(0.3, 0.3, 0.3);
  }
}

.samuraj-effect-bounceOut {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-name: samuraj-effect-bounceOut;
  animation-name: samuraj-effect-bounceOut;
}

@-webkit-keyframes samuraj-effect-bounceOutDown {
  20% {
	-webkit-transform: translate3d(0, 10px, 0);
	transform: translate3d(0, 10px, 0);
  }

  40%,
  45% {
	opacity: 1;
	-webkit-transform: translate3d(0, -20px, 0);
	transform: translate3d(0, -20px, 0);
  }

  to {
	opacity: 0;
	-webkit-transform: translate3d(0, 2000px, 0);
	transform: translate3d(0, 2000px, 0);
  }
}

@keyframes samuraj-effect-bounceOutDown {
  20% {
	-webkit-transform: translate3d(0, 10px, 0);
	transform: translate3d(0, 10px, 0);
  }

  40%,
  45% {
	opacity: 1;
	-webkit-transform: translate3d(0, -20px, 0);
	transform: translate3d(0, -20px, 0);
  }

  to {
	opacity: 0;
	-webkit-transform: translate3d(0, 2000px, 0);
	transform: translate3d(0, 2000px, 0);
  }
}

.samuraj-effect-bounceOutDown {
  -webkit-animation-name: samuraj-effect-bounceOutDown;
  animation-name: samuraj-effect-bounceOutDown;
}

@-webkit-keyframes samuraj-effect-bounceOutLeft {
  20% {
	opacity: 1;
	-webkit-transform: translate3d(20px, 0, 0);
	transform: translate3d(20px, 0, 0);
  }

  to {
	opacity: 0;
	-webkit-transform: translate3d(-2000px, 0, 0);
	transform: translate3d(-2000px, 0, 0);
  }
}

@keyframes samuraj-effect-bounceOutLeft {
  20% {
	opacity: 1;
	-webkit-transform: translate3d(20px, 0, 0);
	transform: translate3d(20px, 0, 0);
  }

  to {
	opacity: 0;
	-webkit-transform: translate3d(-2000px, 0, 0);
	transform: translate3d(-2000px, 0, 0);
  }
}

.samuraj-effect-bounceOutLeft {
  -webkit-animation-name: samuraj-effect-bounceOutLeft;
  animation-name: samuraj-effect-bounceOutLeft;
}

@-webkit-keyframes samuraj-effect-bounceOutRight {
  20% {
	opacity: 1;
	-webkit-transform: translate3d(-20px, 0, 0);
	transform: translate3d(-20px, 0, 0);
  }

  to {
	opacity: 0;
	-webkit-transform: translate3d(2000px, 0, 0);
	transform: translate3d(2000px, 0, 0);
  }
}

@keyframes samuraj-effect-bounceOutRight {
  20% {
	opacity: 1;
	-webkit-transform: translate3d(-20px, 0, 0);
	transform: translate3d(-20px, 0, 0);
  }

  to {
	opacity: 0;
	-webkit-transform: translate3d(2000px, 0, 0);
	transform: translate3d(2000px, 0, 0);
  }
}

.samuraj-effect-bounceOutRight {
  -webkit-animation-name: samuraj-effect-bounceOutRight;
  animation-name: samuraj-effect-bounceOutRight;
}

@-webkit-keyframes samuraj-effect-bounceOutUp {
  20% {
	-webkit-transform: translate3d(0, -10px, 0);
	transform: translate3d(0, -10px, 0);
  }

  40%,
  45% {
	opacity: 1;
	-webkit-transform: translate3d(0, 20px, 0);
	transform: translate3d(0, 20px, 0);
  }

  to {
	opacity: 0;
	-webkit-transform: translate3d(0, -2000px, 0);
	transform: translate3d(0, -2000px, 0);
  }
}

@keyframes samuraj-effect-bounceOutUp {
  20% {
	-webkit-transform: translate3d(0, -10px, 0);
	transform: translate3d(0, -10px, 0);
  }

  40%,
  45% {
	opacity: 1;
	-webkit-transform: translate3d(0, 20px, 0);
	transform: translate3d(0, 20px, 0);
  }

  to {
	opacity: 0;
	-webkit-transform: translate3d(0, -2000px, 0);
	transform: translate3d(0, -2000px, 0);
  }
}

.samuraj-effect-bounceOutUp {
  -webkit-animation-name: samuraj-effect-bounceOutUp;
  animation-name: samuraj-effect-bounceOutUp;
}

@-webkit-keyframes samuraj-effect-fadeIn {
  from {
	opacity: 0;
  }

  to {
	opacity: 1;
  }
}

@keyframes samuraj-effect-fadeIn {
  from {
	opacity: 0;
  }

  to {
	opacity: 1;
  }
}

.samuraj-effect-fadeIn{
  -webkit-animation-name: samuraj-effect-fadeIn;
  animation-name: samuraj-effect-fadeIn;
}
.samuraj-effect-fade{
-webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
-webkit-animation-name: samuraj-effect-fadeIn;
  animation-name: samuraj-effect-fadeIn;
}
.samuraj-effect-fadeOutFast{
-webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
-webkit-animation-name: samuraj-effect-fadeOut;
  animation-name: samuraj-effect-fadeOut;
}

@-webkit-keyframes samuraj-effect-fadeInDown {
  from {
	opacity: 0;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
  }

  to {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }
}

@keyframes samuraj-effect-fadeInDown {
  from {
	opacity: 0;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
  }

  to {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }
}

.samuraj-effect-fadeInDown {
  -webkit-animation-name: samuraj-effect-fadeInDown;
  animation-name: samuraj-effect-fadeInDown;
}

@-webkit-keyframes samuraj-effect-fadeInDownBig {
  from {
	opacity: 0;
	-webkit-transform: translate3d(0, -2000px, 0);
	transform: translate3d(0, -2000px, 0);
  }

  to {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }
}

@keyframes samuraj-effect-fadeInDownBig {
  from {
	opacity: 0;
	-webkit-transform: translate3d(0, -2000px, 0);
	transform: translate3d(0, -2000px, 0);
  }

  to {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }
}

.samuraj-effect-fadeInDownBig {
  -webkit-animation-name: samuraj-effect-fadeInDownBig;
  animation-name: samuraj-effect-fadeInDownBig;
}

@-webkit-keyframes samuraj-effect-fadeInLeft {
  from {
	opacity: 0;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
  }

  to {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }
}

@keyframes samuraj-effect-fadeInLeft {
  from {
	opacity: 0;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
  }

  to {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }
}

.samuraj-effect-fadeInLeft {
  -webkit-animation-name: samuraj-effect-fadeInLeft;
  animation-name: samuraj-effect-fadeInLeft;
}

@-webkit-keyframes samuraj-effect-fadeInLeftBig {
  from {
	opacity: 0;
	-webkit-transform: translate3d(-2000px, 0, 0);
	transform: translate3d(-2000px, 0, 0);
  }

  to {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }
}

@keyframes samuraj-effect-fadeInLeftBig {
  from {
	opacity: 0;
	-webkit-transform: translate3d(-2000px, 0, 0);
	transform: translate3d(-2000px, 0, 0);
  }

  to {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }
}

.samuraj-effect-fadeInLeftBig {
  -webkit-animation-name: samuraj-effect-fadeInLeftBig;
  animation-name: samuraj-effect-fadeInLeftBig;
}

@-webkit-keyframes samuraj-effect-fadeInRight {
  from {
	opacity: 0;
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
  }

  to {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }
}

@keyframes samuraj-effect-fadeInRight {
  from {
	opacity: 0;
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
  }

  to {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }
}

.samuraj-effect-fadeInRight {
  -webkit-animation-name: samuraj-effect-fadeInRight;
  animation-name: samuraj-effect-fadeInRight;
}

@-webkit-keyframes samuraj-effect-fadeInRightBig {
  from {
	opacity: 0;
	-webkit-transform: translate3d(2000px, 0, 0);
	transform: translate3d(2000px, 0, 0);
  }

  to {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }
}

@keyframes samuraj-effect-fadeInRightBig {
  from {
	opacity: 0;
	-webkit-transform: translate3d(2000px, 0, 0);
	transform: translate3d(2000px, 0, 0);
  }

  to {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }
}

.samuraj-effect-fadeInRightBig {
  -webkit-animation-name: samuraj-effect-fadeInRightBig;
  animation-name: samuraj-effect-fadeInRightBig;
}

@-webkit-keyframes samuraj-effect-fadeInUp {
  from {
	opacity: 0;
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
  }

  to {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }
}

@keyframes samuraj-effect-fadeInUp {
  from {
	opacity: 0;
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
  }

  to {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }
}

.samuraj-effect-fadeInUp {
  -webkit-animation-name: samuraj-effect-fadeInUp;
  animation-name: samuraj-effect-fadeInUp;
}

@-webkit-keyframes samuraj-effect-fadeInUpBig {
  from {
	opacity: 0;
	-webkit-transform: translate3d(0, 2000px, 0);
	transform: translate3d(0, 2000px, 0);
  }

  to {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }
}

@keyframes samuraj-effect-fadeInUpBig {
  from {
	opacity: 0;
	-webkit-transform: translate3d(0, 2000px, 0);
	transform: translate3d(0, 2000px, 0);
  }

  to {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }
}

.samuraj-effect-fadeInUpBig {
  -webkit-animation-name: samuraj-effect-fadeInUpBig;
  animation-name: samuraj-effect-fadeInUpBig;
}

@-webkit-keyframes samuraj-effect-fadeOut {
  from {
	opacity: 1;
  }

  to {
	opacity: 0;
  }
}

@keyframes samuraj-effect-fadeOut {
  from {
	opacity: 1;
  }

  to {
	opacity: 0;
  }
}

.samuraj-effect-fadeOut {
  -webkit-animation-name: samuraj-effect-fadeOut;
  animation-name: samuraj-effect-fadeOut;
}

@-webkit-keyframes samuraj-effect-fadeOutDown {
  from {
	opacity: 1;
  }

  to {
	opacity: 0;
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
  }
}

@keyframes samuraj-effect-fadeOutDown {
  from {
	opacity: 1;
  }

  to {
	opacity: 0;
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
  }
}

.samuraj-effect-fadeOutDown {
  -webkit-animation-name: samuraj-effect-fadeOutDown;
  animation-name: samuraj-effect-fadeOutDown;
}

@-webkit-keyframes samuraj-effect-fadeOutDownBig {
  from {
	opacity: 1;
  }

  to {
	opacity: 0;
	-webkit-transform: translate3d(0, 2000px, 0);
	transform: translate3d(0, 2000px, 0);
  }
}

@keyframes samuraj-effect-fadeOutDownBig {
  from {
	opacity: 1;
  }

  to {
	opacity: 0;
	-webkit-transform: translate3d(0, 2000px, 0);
	transform: translate3d(0, 2000px, 0);
  }
}

.samuraj-effect-fadeOutDownBig {
  -webkit-animation-name: samuraj-effect-fadeOutDownBig;
  animation-name: samuraj-effect-fadeOutDownBig;
}

@-webkit-keyframes samuraj-effect-fadeOutLeft {
  from {
	opacity: 1;
  }

  to {
	opacity: 0;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
  }
}

@keyframes samuraj-effect-fadeOutLeft {
  from {
	opacity: 1;
  }

  to {
	opacity: 0;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
  }
}

.samuraj-effect-fadeOutLeft {
  -webkit-animation-name: samuraj-effect-fadeOutLeft;
  animation-name: samuraj-effect-fadeOutLeft;
}

@-webkit-keyframes samuraj-effect-fadeOutLeftBig {
  from {
	opacity: 1;
  }

  to {
	opacity: 0;
	-webkit-transform: translate3d(-2000px, 0, 0);
	transform: translate3d(-2000px, 0, 0);
  }
}

@keyframes samuraj-effect-fadeOutLeftBig {
  from {
	opacity: 1;
  }

  to {
	opacity: 0;
	-webkit-transform: translate3d(-2000px, 0, 0);
	transform: translate3d(-2000px, 0, 0);
  }
}

.samuraj-effect-fadeOutLeftBig {
  -webkit-animation-name: samuraj-effect-fadeOutLeftBig;
  animation-name: samuraj-effect-fadeOutLeftBig;
}

@-webkit-keyframes samuraj-effect-fadeOutRight {
  from {
	opacity: 1;
  }

  to {
	opacity: 0;
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
  }
}

@keyframes samuraj-effect-fadeOutRight {
  from {
	opacity: 1;
  }

  to {
	opacity: 0;
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
  }
}

.samuraj-effect-fadeOutRight {
  -webkit-animation-name: samuraj-effect-fadeOutRight;
  animation-name: samuraj-effect-fadeOutRight;
}

@-webkit-keyframes samuraj-effect-fadeOutRightBig {
  from {
	opacity: 1;
  }

  to {
	opacity: 0;
	-webkit-transform: translate3d(2000px, 0, 0);
	transform: translate3d(2000px, 0, 0);
  }
}

@keyframes samuraj-effect-fadeOutRightBig {
  from {
	opacity: 1;
  }

  to {
	opacity: 0;
	-webkit-transform: translate3d(2000px, 0, 0);
	transform: translate3d(2000px, 0, 0);
  }
}

.samuraj-effect-fadeOutRightBig {
  -webkit-animation-name: samuraj-effect-fadeOutRightBig;
  animation-name: samuraj-effect-fadeOutRightBig;
}

@-webkit-keyframes samuraj-effect-fadeOutUp {
  from {
	opacity: 1;
  }

  to {
	opacity: 0;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
  }
}

@keyframes samuraj-effect-fadeOutUp {
  from {
	opacity: 1;
  }

  to {
	opacity: 0;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
  }
}

.samuraj-effect-fadeOutUp {
  -webkit-animation-name: samuraj-effect-fadeOutUp;
  animation-name: samuraj-effect-fadeOutUp;
}

@-webkit-keyframes samuraj-effect-fadeOutUpBig {
  from {
	opacity: 1;
  }

  to {
	opacity: 0;
	-webkit-transform: translate3d(0, -2000px, 0);
	transform: translate3d(0, -2000px, 0);
  }
}

@keyframes samuraj-effect-fadeOutUpBig {
  from {
	opacity: 1;
  }

  to {
	opacity: 0;
	-webkit-transform: translate3d(0, -2000px, 0);
	transform: translate3d(0, -2000px, 0);
  }
}

.samuraj-effect-fadeOutUpBig {
  -webkit-animation-name: samuraj-effect-fadeOutUpBig;
  animation-name: samuraj-effect-fadeOutUpBig;
}

@-webkit-keyframes samuraj-effect-flip {
  from {
	-webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
	transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out;
  }

  40% {
	-webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
	transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out;
  }

  50% {
	-webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
	transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
	-webkit-animation-timing-function: ease-in;
	animation-timing-function: ease-in;
  }

  80% {
	-webkit-transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
	transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
	-webkit-animation-timing-function: ease-in;
	animation-timing-function: ease-in;
  }

  to {
	-webkit-transform: perspective(400px);
	transform: perspective(400px);
	-webkit-animation-timing-function: ease-in;
	animation-timing-function: ease-in;
  }
}

@keyframes samuraj-effect-flip {
  from {
	-webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
	transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out;
  }

  40% {
	-webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
	transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out;
  }

  50% {
	-webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
	transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
	-webkit-animation-timing-function: ease-in;
	animation-timing-function: ease-in;
  }

  80% {
	-webkit-transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
	transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
	-webkit-animation-timing-function: ease-in;
	animation-timing-function: ease-in;
  }

  to {
	-webkit-transform: perspective(400px);
	transform: perspective(400px);
	-webkit-animation-timing-function: ease-in;
	animation-timing-function: ease-in;
  }
}

.samuraj-effect-animated.samuraj-effect-flip {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-animation-name: samuraj-effect-flip;
  animation-name: samuraj-effect-flip;
}

@-webkit-keyframes samuraj-effect-flipInX {
  from {
	-webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
	transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
	-webkit-animation-timing-function: ease-in;
	animation-timing-function: ease-in;
	opacity: 0;
  }

  40% {
	-webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
	transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
	-webkit-animation-timing-function: ease-in;
	animation-timing-function: ease-in;
  }

  60% {
	-webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
	transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
	opacity: 1;
  }

  80% {
	-webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
	transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
	-webkit-transform: perspective(400px);
	transform: perspective(400px);
  }
}

@keyframes samuraj-effect-flipInX {
  from {
	-webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
	transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
	-webkit-animation-timing-function: ease-in;
	animation-timing-function: ease-in;
	opacity: 0;
  }

  40% {
	-webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
	transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
	-webkit-animation-timing-function: ease-in;
	animation-timing-function: ease-in;
  }

  60% {
	-webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
	transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
	opacity: 1;
  }

  80% {
	-webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
	transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
	-webkit-transform: perspective(400px);
	transform: perspective(400px);
  }
}

.samuraj-effect-flipInX {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: samuraj-effect-flipInX;
  animation-name: samuraj-effect-flipInX;
}

@-webkit-keyframes samuraj-effect-flipInY {
  from {
	-webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
	transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
	-webkit-animation-timing-function: ease-in;
	animation-timing-function: ease-in;
	opacity: 0;
  }

  40% {
	-webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
	transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
	-webkit-animation-timing-function: ease-in;
	animation-timing-function: ease-in;
  }

  60% {
	-webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
	transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
	opacity: 1;
  }

  80% {
	-webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
	transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  to {
	-webkit-transform: perspective(400px);
	transform: perspective(400px);
  }
}

@keyframes samuraj-effect-flipInY {
  from {
	-webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
	transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
	-webkit-animation-timing-function: ease-in;
	animation-timing-function: ease-in;
	opacity: 0;
  }

  40% {
	-webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
	transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
	-webkit-animation-timing-function: ease-in;
	animation-timing-function: ease-in;
  }

  60% {
	-webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
	transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
	opacity: 1;
  }

  80% {
	-webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
	transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  to {
	-webkit-transform: perspective(400px);
	transform: perspective(400px);
  }
}

.samuraj-effect-flipInY {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: samuraj-effect-flipInY;
  animation-name: samuraj-effect-flipInY;
}

@-webkit-keyframes samuraj-effect-flipOutX {
  from {
	-webkit-transform: perspective(400px);
	transform: perspective(400px);
  }

  30% {
	-webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
	transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
	opacity: 1;
  }

  to {
	-webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
	transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
	opacity: 0;
  }
}

@keyframes samuraj-effect-flipOutX {
  from {
	-webkit-transform: perspective(400px);
	transform: perspective(400px);
  }

  30% {
	-webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
	transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
	opacity: 1;
  }

  to {
	-webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
	transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
	opacity: 0;
  }
}

.samuraj-effect-flipOutX {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-name: samuraj-effect-flipOutX;
  animation-name: samuraj-effect-flipOutX;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
}

@-webkit-keyframes samuraj-effect-flipOutY {
  from {
	-webkit-transform: perspective(400px);
	transform: perspective(400px);
  }

  30% {
	-webkit-transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
	transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
	opacity: 1;
  }

  to {
	-webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
	transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
	opacity: 0;
  }
}

@keyframes samuraj-effect-flipOutY {
  from {
	-webkit-transform: perspective(400px);
	transform: perspective(400px);
  }

  30% {
	-webkit-transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
	transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
	opacity: 1;
  }

  to {
	-webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
	transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
	opacity: 0;
  }
}

.samuraj-effect-flipOutY {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: samuraj-effect-flipOutY;
  animation-name: samuraj-effect-flipOutY;
}

@-webkit-keyframes samuraj-effect-lightSpeedIn {
  from {
	-webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
	transform: translate3d(100%, 0, 0) skewX(-30deg);
	opacity: 0;
  }

  60% {
	-webkit-transform: skewX(20deg);
	transform: skewX(20deg);
	opacity: 1;
  }

  80% {
	-webkit-transform: skewX(-5deg);
	transform: skewX(-5deg);
	opacity: 1;
  }

  to {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	opacity: 1;
  }
}

@keyframes samuraj-effect-lightSpeedIn {
  from {
	-webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
	transform: translate3d(100%, 0, 0) skewX(-30deg);
	opacity: 0;
  }

  60% {
	-webkit-transform: skewX(20deg);
	transform: skewX(20deg);
	opacity: 1;
  }

  80% {
	-webkit-transform: skewX(-5deg);
	transform: skewX(-5deg);
	opacity: 1;
  }

  to {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	opacity: 1;
  }
}

.samuraj-effect-lightSpeedIn {
  -webkit-animation-name: samuraj-effect-lightSpeedIn;
  animation-name: samuraj-effect-lightSpeedIn;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

@-webkit-keyframes samuraj-effect-lightSpeedOut {
  from {
	opacity: 1;
  }

  to {
	-webkit-transform: translate3d(100%, 0, 0) skewX(30deg);
	transform: translate3d(100%, 0, 0) skewX(30deg);
	opacity: 0;
  }
}

@keyframes samuraj-effect-lightSpeedOut {
  from {
	opacity: 1;
  }

  to {
	-webkit-transform: translate3d(100%, 0, 0) skewX(30deg);
	transform: translate3d(100%, 0, 0) skewX(30deg);
	opacity: 0;
  }
}

.samuraj-effect-lightSpeedOut {
  -webkit-animation-name: samuraj-effect-lightSpeedOut;
  animation-name: samuraj-effect-lightSpeedOut;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}

@-webkit-keyframes samuraj-effect-rotateIn {
  from {
	-webkit-transform-origin: center;
	transform-origin: center;
	-webkit-transform: rotate3d(0, 0, 1, -200deg);
	transform: rotate3d(0, 0, 1, -200deg);
	opacity: 0;
  }

  to {
	-webkit-transform-origin: center;
	transform-origin: center;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	opacity: 1;
  }
}

@keyframes samuraj-effect-rotateIn {
  from {
	-webkit-transform-origin: center;
	transform-origin: center;
	-webkit-transform: rotate3d(0, 0, 1, -200deg);
	transform: rotate3d(0, 0, 1, -200deg);
	opacity: 0;
  }

  to {
	-webkit-transform-origin: center;
	transform-origin: center;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	opacity: 1;
  }
}

.samuraj-effect-rotateIn {
  -webkit-animation-name: samuraj-effect-rotateIn;
  animation-name: samuraj-effect-rotateIn;
}

@-webkit-keyframes samuraj-effect-rotateInDownLeft {
  from {
	-webkit-transform-origin: left bottom;
	transform-origin: left bottom;
	-webkit-transform: rotate3d(0, 0, 1, -45deg);
	transform: rotate3d(0, 0, 1, -45deg);
	opacity: 0;
  }

  to {
	-webkit-transform-origin: left bottom;
	transform-origin: left bottom;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	opacity: 1;
  }
}

@keyframes samuraj-effect-rotateInDownLeft {
  from {
	-webkit-transform-origin: left bottom;
	transform-origin: left bottom;
	-webkit-transform: rotate3d(0, 0, 1, -45deg);
	transform: rotate3d(0, 0, 1, -45deg);
	opacity: 0;
  }

  to {
	-webkit-transform-origin: left bottom;
	transform-origin: left bottom;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	opacity: 1;
  }
}

.samuraj-effect-rotateInDownLeft {
  -webkit-animation-name: samuraj-effect-rotateInDownLeft;
  animation-name: samuraj-effect-rotateInDownLeft;
}

@-webkit-keyframes samuraj-effect-rotateInDownRight {
  from {
	-webkit-transform-origin: right bottom;
	transform-origin: right bottom;
	-webkit-transform: rotate3d(0, 0, 1, 45deg);
	transform: rotate3d(0, 0, 1, 45deg);
	opacity: 0;
  }

  to {
	-webkit-transform-origin: right bottom;
	transform-origin: right bottom;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	opacity: 1;
  }
}

@keyframes samuraj-effect-rotateInDownRight {
  from {
	-webkit-transform-origin: right bottom;
	transform-origin: right bottom;
	-webkit-transform: rotate3d(0, 0, 1, 45deg);
	transform: rotate3d(0, 0, 1, 45deg);
	opacity: 0;
  }

  to {
	-webkit-transform-origin: right bottom;
	transform-origin: right bottom;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	opacity: 1;
  }
}

.samuraj-effect-rotateInDownRight {
  -webkit-animation-name: samuraj-effect-rotateInDownRight;
  animation-name: samuraj-effect-rotateInDownRight;
}

@-webkit-keyframes samuraj-effect-rotateInUpLeft {
  from {
	-webkit-transform-origin: left bottom;
	transform-origin: left bottom;
	-webkit-transform: rotate3d(0, 0, 1, 45deg);
	transform: rotate3d(0, 0, 1, 45deg);
	opacity: 0;
  }

  to {
	-webkit-transform-origin: left bottom;
	transform-origin: left bottom;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	opacity: 1;
  }
}

@keyframes samuraj-effect-rotateInUpLeft {
  from {
	-webkit-transform-origin: left bottom;
	transform-origin: left bottom;
	-webkit-transform: rotate3d(0, 0, 1, 45deg);
	transform: rotate3d(0, 0, 1, 45deg);
	opacity: 0;
  }

  to {
	-webkit-transform-origin: left bottom;
	transform-origin: left bottom;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	opacity: 1;
  }
}

.samuraj-effect-rotateInUpLeft {
  -webkit-animation-name: samuraj-effect-rotateInUpLeft;
  animation-name: samuraj-effect-rotateInUpLeft;
}

@-webkit-keyframes samuraj-effect-rotateInUpRight {
  from {
	-webkit-transform-origin: right bottom;
	transform-origin: right bottom;
	-webkit-transform: rotate3d(0, 0, 1, -90deg);
	transform: rotate3d(0, 0, 1, -90deg);
	opacity: 0;
  }

  to {
	-webkit-transform-origin: right bottom;
	transform-origin: right bottom;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	opacity: 1;
  }
}

@keyframes samuraj-effect-rotateInUpRight {
  from {
	-webkit-transform-origin: right bottom;
	transform-origin: right bottom;
	-webkit-transform: rotate3d(0, 0, 1, -90deg);
	transform: rotate3d(0, 0, 1, -90deg);
	opacity: 0;
  }

  to {
	-webkit-transform-origin: right bottom;
	transform-origin: right bottom;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	opacity: 1;
  }
}

.samuraj-effect-rotateInUpRight {
  -webkit-animation-name: samuraj-effect-rotateInUpRight;
  animation-name: samuraj-effect-rotateInUpRight;
}

@-webkit-keyframes samuraj-effect-rotateOut {
  from {
	-webkit-transform-origin: center;
	transform-origin: center;
	opacity: 1;
  }

  to {
	-webkit-transform-origin: center;
	transform-origin: center;
	-webkit-transform: rotate3d(0, 0, 1, 200deg);
	transform: rotate3d(0, 0, 1, 200deg);
	opacity: 0;
  }
}

@keyframes samuraj-effect-rotateOut {
  from {
	-webkit-transform-origin: center;
	transform-origin: center;
	opacity: 1;
  }

  to {
	-webkit-transform-origin: center;
	transform-origin: center;
	-webkit-transform: rotate3d(0, 0, 1, 200deg);
	transform: rotate3d(0, 0, 1, 200deg);
	opacity: 0;
  }
}

.samuraj-effect-rotateOut {
  -webkit-animation-name: samuraj-effect-rotateOut;
  animation-name: samuraj-effect-rotateOut;
}

@-webkit-keyframes samuraj-effect-rotateOutDownLeft {
  from {
	-webkit-transform-origin: left bottom;
	transform-origin: left bottom;
	opacity: 1;
  }

  to {
	-webkit-transform-origin: left bottom;
	transform-origin: left bottom;
	-webkit-transform: rotate3d(0, 0, 1, 45deg);
	transform: rotate3d(0, 0, 1, 45deg);
	opacity: 0;
  }
}

@keyframes samuraj-effect-rotateOutDownLeft {
  from {
	-webkit-transform-origin: left bottom;
	transform-origin: left bottom;
	opacity: 1;
  }

  to {
	-webkit-transform-origin: left bottom;
	transform-origin: left bottom;
	-webkit-transform: rotate3d(0, 0, 1, 45deg);
	transform: rotate3d(0, 0, 1, 45deg);
	opacity: 0;
  }
}

.samuraj-effect-rotateOutDownLeft {
  -webkit-animation-name: samuraj-effect-rotateOutDownLeft;
  animation-name: samuraj-effect-rotateOutDownLeft;
}

@-webkit-keyframes samuraj-effect-rotateOutDownRight {
  from {
	-webkit-transform-origin: right bottom;
	transform-origin: right bottom;
	opacity: 1;
  }

  to {
	-webkit-transform-origin: right bottom;
	transform-origin: right bottom;
	-webkit-transform: rotate3d(0, 0, 1, -45deg);
	transform: rotate3d(0, 0, 1, -45deg);
	opacity: 0;
  }
}

@keyframes samuraj-effect-rotateOutDownRight {
  from {
	-webkit-transform-origin: right bottom;
	transform-origin: right bottom;
	opacity: 1;
  }

  to {
	-webkit-transform-origin: right bottom;
	transform-origin: right bottom;
	-webkit-transform: rotate3d(0, 0, 1, -45deg);
	transform: rotate3d(0, 0, 1, -45deg);
	opacity: 0;
  }
}

.samuraj-effect-rotateOutDownRight {
  -webkit-animation-name: samuraj-effect-rotateOutDownRight;
  animation-name: samuraj-effect-rotateOutDownRight;
}

@-webkit-keyframes samuraj-effect-rotateOutUpLeft {
  from {
	-webkit-transform-origin: left bottom;
	transform-origin: left bottom;
	opacity: 1;
  }

  to {
	-webkit-transform-origin: left bottom;
	transform-origin: left bottom;
	-webkit-transform: rotate3d(0, 0, 1, -45deg);
	transform: rotate3d(0, 0, 1, -45deg);
	opacity: 0;
  }
}

@keyframes samuraj-effect-rotateOutUpLeft {
  from {
	-webkit-transform-origin: left bottom;
	transform-origin: left bottom;
	opacity: 1;
  }

  to {
	-webkit-transform-origin: left bottom;
	transform-origin: left bottom;
	-webkit-transform: rotate3d(0, 0, 1, -45deg);
	transform: rotate3d(0, 0, 1, -45deg);
	opacity: 0;
  }
}

.samuraj-effect-rotateOutUpLeft {
  -webkit-animation-name: samuraj-effect-rotateOutUpLeft;
  animation-name: samuraj-effect-rotateOutUpLeft;
}

@-webkit-keyframes samuraj-effect-rotateOutUpRight {
  from {
	-webkit-transform-origin: right bottom;
	transform-origin: right bottom;
	opacity: 1;
  }

  to {
	-webkit-transform-origin: right bottom;
	transform-origin: right bottom;
	-webkit-transform: rotate3d(0, 0, 1, 90deg);
	transform: rotate3d(0, 0, 1, 90deg);
	opacity: 0;
  }
}

@keyframes samuraj-effect-rotateOutUpRight {
  from {
	-webkit-transform-origin: right bottom;
	transform-origin: right bottom;
	opacity: 1;
  }

  to {
	-webkit-transform-origin: right bottom;
	transform-origin: right bottom;
	-webkit-transform: rotate3d(0, 0, 1, 90deg);
	transform: rotate3d(0, 0, 1, 90deg);
	opacity: 0;
  }
}

.samuraj-effect-rotateOutUpRight {
  -webkit-animation-name: samuraj-effect-rotateOutUpRight;
  animation-name: samuraj-effect-rotateOutUpRight;
}

@-webkit-keyframes samuraj-effect-hinge {
  0% {
	-webkit-transform-origin: top left;
	transform-origin: top left;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
  }

  20%,
  60% {
	-webkit-transform: rotate3d(0, 0, 1, 80deg);
	transform: rotate3d(0, 0, 1, 80deg);
	-webkit-transform-origin: top left;
	transform-origin: top left;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
  }

  40%,
  80% {
	-webkit-transform: rotate3d(0, 0, 1, 60deg);
	transform: rotate3d(0, 0, 1, 60deg);
	-webkit-transform-origin: top left;
	transform-origin: top left;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	opacity: 1;
  }

  to {
	-webkit-transform: translate3d(0, 700px, 0);
	transform: translate3d(0, 700px, 0);
	opacity: 0;
  }
}

@keyframes samuraj-effect-hinge {
  0% {
	-webkit-transform-origin: top left;
	transform-origin: top left;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
  }

  20%,
  60% {
	-webkit-transform: rotate3d(0, 0, 1, 80deg);
	transform: rotate3d(0, 0, 1, 80deg);
	-webkit-transform-origin: top left;
	transform-origin: top left;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
  }

  40%,
  80% {
	-webkit-transform: rotate3d(0, 0, 1, 60deg);
	transform: rotate3d(0, 0, 1, 60deg);
	-webkit-transform-origin: top left;
	transform-origin: top left;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	opacity: 1;
  }

  to {
	-webkit-transform: translate3d(0, 700px, 0);
	transform: translate3d(0, 700px, 0);
	opacity: 0;
  }
}

.samuraj-effect-hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-name: samuraj-effect-hinge;
  animation-name: samuraj-effect-hinge;
}

@-webkit-keyframes samuraj-effect-jackInTheBox {
  from {
	opacity: 0;
	-webkit-transform: scale(0.1) rotate(30deg);
	transform: scale(0.1) rotate(30deg);
	-webkit-transform-origin: center bottom;
	transform-origin: center bottom;
  }

  50% {
	-webkit-transform: rotate(-10deg);
	transform: rotate(-10deg);
  }

  70% {
	-webkit-transform: rotate(3deg);
	transform: rotate(3deg);
  }

  to {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
  }
}

@keyframes samuraj-effect-jackInTheBox {
  from {
	opacity: 0;
	-webkit-transform: scale(0.1) rotate(30deg);
	transform: scale(0.1) rotate(30deg);
	-webkit-transform-origin: center bottom;
	transform-origin: center bottom;
  }

  50% {
	-webkit-transform: rotate(-10deg);
	transform: rotate(-10deg);
  }

  70% {
	-webkit-transform: rotate(3deg);
	transform: rotate(3deg);
  }

  to {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
  }
}

.samuraj-effect-jackInTheBox {
  -webkit-animation-name: samuraj-effect-jackInTheBox;
  animation-name: samuraj-effect-jackInTheBox;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@-webkit-keyframes samuraj-effect-rollIn {
  from {
	opacity: 0;
	-webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
	transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
  }

  to {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }
}

@keyframes samuraj-effect-rollIn {
  from {
	opacity: 0;
	-webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
	transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
  }

  to {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }
}

.samuraj-effect-rollIn {
  -webkit-animation-name: samuraj-effect-rollIn;
  animation-name: samuraj-effect-rollIn;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@-webkit-keyframes samuraj-effect-rollOut {
  from {
	opacity: 1;
  }

  to {
	opacity: 0;
	-webkit-transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
	transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
  }
}

@keyframes samuraj-effect-rollOut {
  from {
	opacity: 1;
  }

  to {
	opacity: 0;
	-webkit-transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
	transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
  }
}

.samuraj-effect-rollOut {
  -webkit-animation-name: samuraj-effect-rollOut;
  animation-name: samuraj-effect-rollOut;
}

@-webkit-keyframes samuraj-effect-zoomIn {
  from {
	opacity: 0;
	-webkit-transform: scale3d(0.3, 0.3, 0.3);
	transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
	opacity: 1;
  }
}

@keyframes samuraj-effect-zoomIn {
  from {
	opacity: 0;
	-webkit-transform: scale3d(0.3, 0.3, 0.3);
	transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
	opacity: 1;
  }
}

.samuraj-effect-zoomIn {
  -webkit-animation-name: samuraj-effect-zoomIn;
  animation-name: samuraj-effect-zoomIn;
}

@-webkit-keyframes samuraj-effect-zoomInDown {
  from {
	opacity: 0;
	-webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
	transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
	-webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
	opacity: 1;
	-webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
	transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
	-webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
	animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

@keyframes samuraj-effect-zoomInDown {
  from {
	opacity: 0;
	-webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
	transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
	-webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
	opacity: 1;
	-webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
	transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
	-webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
	animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

.samuraj-effect-zoomInDown {
  -webkit-animation-name: samuraj-effect-zoomInDown;
  animation-name: samuraj-effect-zoomInDown;
}

@-webkit-keyframes samuraj-effect-zoomInLeft {
  from {
	opacity: 0;
	-webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
	transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
	-webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
	opacity: 1;
	-webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
	transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
	-webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
	animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

@keyframes samuraj-effect-zoomInLeft {
  from {
	opacity: 0;
	-webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
	transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
	-webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
	opacity: 1;
	-webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
	transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
	-webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
	animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

.samuraj-effect-zoomInLeft {
  -webkit-animation-name: samuraj-effect-zoomInLeft;
  animation-name: samuraj-effect-zoomInLeft;
}

@-webkit-keyframes samuraj-effect-zoomInRight {
  from {
	opacity: 0;
	-webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
	transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
	-webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
	opacity: 1;
	-webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
	transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
	-webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
	animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

@keyframes samuraj-effect-zoomInRight {
  from {
	opacity: 0;
	-webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
	transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
	-webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
	opacity: 1;
	-webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
	transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
	-webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
	animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

.samuraj-effect-zoomInRight {
  -webkit-animation-name: samuraj-effect-zoomInRight;
  animation-name: samuraj-effect-zoomInRight;
}

@-webkit-keyframes samuraj-effect-zoomInUp {
  from {
	opacity: 0;
	-webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
	transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
	-webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
	opacity: 1;
	-webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
	transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
	-webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
	animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

@keyframes samuraj-effect-zoomInUp {
  from {
	opacity: 0;
	-webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
	transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
	-webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
	opacity: 1;
	-webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
	transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
	-webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
	animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

.samuraj-effect-zoomInUp {
  -webkit-animation-name: samuraj-effect-zoomInUp;
  animation-name: samuraj-effect-zoomInUp;
}

@-webkit-keyframes samuraj-effect-zoomOut {
  from {
	opacity: 1;
  }

  50% {
	opacity: 0;
	-webkit-transform: scale3d(0.3, 0.3, 0.3);
	transform: scale3d(0.3, 0.3, 0.3);
  }

  to {
	opacity: 0;
  }
}

@keyframes samuraj-effect-zoomOut {
  from {
	opacity: 1;
  }

  50% {
	opacity: 0;
	-webkit-transform: scale3d(0.3, 0.3, 0.3);
	transform: scale3d(0.3, 0.3, 0.3);
  }

  to {
	opacity: 0;
  }
}

.samuraj-effect-zoomOut {
  -webkit-animation-name: samuraj-effect-zoomOut;
  animation-name: samuraj-effect-zoomOut;
}

@-webkit-keyframes samuraj-effect-zoomOutDown {
  40% {
	opacity: 1;
	-webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
	transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
	-webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  to {
	opacity: 0;
	-webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
	transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
	-webkit-transform-origin: center bottom;
	transform-origin: center bottom;
	-webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
	animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

@keyframes samuraj-effect-zoomOutDown {
  40% {
	opacity: 1;
	-webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
	transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
	-webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  to {
	opacity: 0;
	-webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
	transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
	-webkit-transform-origin: center bottom;
	transform-origin: center bottom;
	-webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
	animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

.samuraj-effect-zoomOutDown {
  -webkit-animation-name: samuraj-effect-zoomOutDown;
  animation-name: samuraj-effect-zoomOutDown;
}

@-webkit-keyframes samuraj-effect-zoomOutLeft {
  40% {
	opacity: 1;
	-webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(42px, 0, 0);
	transform: scale3d(0.475, 0.475, 0.475) translate3d(42px, 0, 0);
  }

  to {
	opacity: 0;
	-webkit-transform: scale(0.1) translate3d(-2000px, 0, 0);
	transform: scale(0.1) translate3d(-2000px, 0, 0);
	-webkit-transform-origin: left center;
	transform-origin: left center;
  }
}

@keyframes samuraj-effect-zoomOutLeft {
  40% {
	opacity: 1;
	-webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(42px, 0, 0);
	transform: scale3d(0.475, 0.475, 0.475) translate3d(42px, 0, 0);
  }

  to {
	opacity: 0;
	-webkit-transform: scale(0.1) translate3d(-2000px, 0, 0);
	transform: scale(0.1) translate3d(-2000px, 0, 0);
	-webkit-transform-origin: left center;
	transform-origin: left center;
  }
}

.samuraj-effect-zoomOutLeft {
  -webkit-animation-name: samuraj-effect-zoomOutLeft;
  animation-name: samuraj-effect-zoomOutLeft;
}

@-webkit-keyframes samuraj-effect-zoomOutRight {
  40% {
	opacity: 1;
	-webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(-42px, 0, 0);
	transform: scale3d(0.475, 0.475, 0.475) translate3d(-42px, 0, 0);
  }

  to {
	opacity: 0;
	-webkit-transform: scale(0.1) translate3d(2000px, 0, 0);
	transform: scale(0.1) translate3d(2000px, 0, 0);
	-webkit-transform-origin: right center;
	transform-origin: right center;
  }
}

@keyframes samuraj-effect-zoomOutRight {
  40% {
	opacity: 1;
	-webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(-42px, 0, 0);
	transform: scale3d(0.475, 0.475, 0.475) translate3d(-42px, 0, 0);
  }

  to {
	opacity: 0;
	-webkit-transform: scale(0.1) translate3d(2000px, 0, 0);
	transform: scale(0.1) translate3d(2000px, 0, 0);
	-webkit-transform-origin: right center;
	transform-origin: right center;
  }
}

.samuraj-effect-zoomOutRight {
  -webkit-animation-name: samuraj-effect-zoomOutRight;
  animation-name: samuraj-effect-zoomOutRight;
}

@-webkit-keyframes samuraj-effect-zoomOutUp {
  40% {
	opacity: 1;
	-webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
	transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
	-webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  to {
	opacity: 0;
	-webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -2000px, 0);
	transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -2000px, 0);
	-webkit-transform-origin: center bottom;
	transform-origin: center bottom;
	-webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
	animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

@keyframes samuraj-effect-zoomOutUp {
  40% {
	opacity: 1;
	-webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
	transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
	-webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  to {
	opacity: 0;
	-webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -2000px, 0);
	transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -2000px, 0);
	-webkit-transform-origin: center bottom;
	transform-origin: center bottom;
	-webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
		animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

.samuraj-effect-zoomOutUp {
  -webkit-animation-name: samuraj-effect-zoomOutUp;
  animation-name: samuraj-effect-zoomOutUp;
}

@-webkit-keyframes samuraj-effect-slideInDown {
  from {
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
	visibility: visible;
  }

  to {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }
}

@keyframes samuraj-effect-slideInDown {
  from {
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
	visibility: visible;
  }

  to {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }
}

.samuraj-effect-slideInDown {
  -webkit-animation-name: samuraj-effect-slideInDown;
  animation-name: samuraj-effect-slideInDown;
}

@-webkit-keyframes samuraj-effect-slideInLeft {
  from {
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
	visibility: visible;
  }

  to {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }
}

@keyframes samuraj-effect-slideInLeft {
  from {
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
	visibility: visible;
  }

  to {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }
}

.samuraj-effect-slideInLeft {
  -webkit-animation-name: samuraj-effect-slideInLeft;
  animation-name: samuraj-effect-slideInLeft;
}

@-webkit-keyframes samuraj-effect-slideInRight {
  from {
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
	visibility: visible;
  }

  to {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }
}

@keyframes samuraj-effect-slideInRight {
  from {
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
	visibility: visible;
  }

  to {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }
}

.samuraj-effect-slideInRight {
  -webkit-animation-name: samuraj-effect-slideInRight;
  animation-name: samuraj-effect-slideInRight;
}

@-webkit-keyframes samuraj-effect-slideInUp {
  from {
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
	visibility: visible;
  }

  to {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }
}

@keyframes samuraj-effect-slideInUp {
  from {
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
	visibility: visible;
  }

  to {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }
}

.samuraj-effect-slideInUp {
  -webkit-animation-name: samuraj-effect-slideInUp;
  animation-name: samuraj-effect-slideInUp;
}

@-webkit-keyframes samuraj-effect-slideOutDown {
  from {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }

  to {
	visibility: hidden;
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
  }
}

@keyframes samuraj-effect-slideOutDown {
  from {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }

  to {
	visibility: hidden;
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
  }
}

.samuraj-effect-slideOutDown {
  -webkit-animation-name: samuraj-effect-slideOutDown;
  animation-name: samuraj-effect-slideOutDown;
}

@-webkit-keyframes samuraj-effect-slideOutLeft {
  from {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }

  to {
	visibility: hidden;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
  }
}

@keyframes samuraj-effect-slideOutLeft {
  from {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }

  to {
	visibility: hidden;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
  }
}

.samuraj-effect-slideOutLeft {
  -webkit-animation-name: samuraj-effect-slideOutLeft;
  animation-name: samuraj-effect-slideOutLeft;
}

@-webkit-keyframes samuraj-effect-slideOutRight {
  from {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }

  to {
	visibility: hidden;
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
  }
}

@keyframes samuraj-effect-slideOutRight {
  from {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }

  to {
	visibility: hidden;
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
  }
}

.samuraj-effect-slideOutRight {
  -webkit-animation-name: samuraj-effect-slideOutRight;
  animation-name: samuraj-effect-slideOutRight;
}

@-webkit-keyframes samuraj-effect-slideOutUp {
  from {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }

  to {
	visibility: hidden;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
  }
}

@keyframes samuraj-effect-slideOutUp {
  from {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }

  to {
	visibility: hidden;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
  }
}

.samuraj-effect-slideOutUp {
  -webkit-animation-name: samuraj-effect-slideOutUp;
  animation-name: samuraj-effect-slideOutUp;
}

/*Modal*/

.samuraj-modal {
	opacity: 0;
	position: fixed;
	z-index: 20000;
	padding-top: -800px;
	left: 0;
	top: 0;
		/*overflow:auto;*/
	width: 100%;
	height: 100%;    
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
	-webkit-transition: all 0.7s;
	transition: all 0.7s;
}
.samuraj-modal.samuraj-show {
	opacity: 1; 
	z-index: 15002; 
	padding-top: 100px
}

.samuraj-modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	max-width: 800px;
}
.samuraj-modal-content.samuraj-scroll-auto{
			overflow: auto;
}

.samuraj-modal-content.samuraj-irw {
	font-size: 16px;
	width: 50%;
}

.samuraj-modal-close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	margin-top: -14px;
}

.samuraj-modal-close:hover,
.samuraj-modal-close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
