.buttonContainer{
	display: inline-block;
	width: 100%;
}
.buttonCaption{
	width: 100%;
}
.PostNord-OpeningHours{
    width: 33%;
    display: inline-block;
}
.PostNord-ClickAble{
    cursor: pointer;
}
.PostNord-SelectedServicePoint{
	border: solid 1px black !important;
	background: #fffddd;
}
hr.PostNord{
	margin:0px;
}
.hidden{
	display: hidden;
}
.PostNord-Address{
	display: inline-block;
	text-align:left;
	font-size:10px;
}
.PostNord-OpeningHours{
    text-align: center;
	vertical-align: top;
}
.PostNord-ServicePoint{
	padding: 15px;
 	border: solid 1px rgb(200, 200, 200);
}
.PostNord-ServicePointContainer{
	overflow-y: scroll;
	height: 400px;
	margin-bottom: 20px;
}
.PostNord-GoogleMaps{
	height:400px;
	margin-bottom: 20px;
}
.PostNord-width-100{
	width:100%;
	margin: 10px 0px;
}
.PostNord-width-40{
	width:40%;
	display: inline-block;
	vertical-align: top;
}
.PostNord-width-40-with-scroll{
	width:38%;
	padding-right:1%;
	margin-right:1%;
	display: inline-block;
	vertical-align: top;
}
.PostNord-width-20{
	width:20%;
	display: inline-block;
	vertical-align: top;
}
.PostNord-margin-left-10{
	margin-left:10%;
}
.PostNord-width-50{
	width:50%;
	display: inline-block;
	vertical-align: top;
}
.PostNord-width-90{
	width:90%;
	display: inline-block;
	vertical-align: top;
}
.PostNord-width-60{
	width:60%;
	display: inline-block;
	vertical-align: top;
}
.PostNord-OpeningHoursInfoBox{
	width:100%;
	height: 100%;
	overflow: hidden;
	white-space: nowrap;
}
.PostNord-Module{
	margin-top: 20px;
}
.PostNordRadio-container{
	position: relative;
}
.PostNordRadio{
	position: absolute;
	top: 15px;
}
.PostNord-PostalCode{
    font-size: 16px;
	height: 35px;
	padding: 14px 30px;
	margin: 0;
    box-sizing: border-box;
    border: 1px solid #CCC;
    border-radius: 2px;
    box-shadow: none !important;
    background: #fff !important;
}
.PostNord-button{
	background: linear-gradient(to bottom,#0e7fd5 0,#0172c9 100%);
	border: 1px solid #039;
	border-radius: 3px;
	font-size: 12px;
	display: inline-block;
}
.formErrorGoogleMaps{
	text-align: left !important;
	margin:10px 0px;
}

.postNordOpeningHoursContainer{
	margin-top:10px;
}
.PostNord-ServicePointContainer1{
	height: 300px;
    overflow-y: scroll;
    border: #ccc 1px solid;
	margin-bottom: 30px;
}
.SwitchPostalCode{
	height: 49px;
	padding: 0px;
}
