		@charset "UTF-8";

		/*!
		 * animate.css -http://daneden.me/animate
		 * Version - 3.6.0
		 * Licensed under the MIT license - http://opensource.org/licenses/MIT
		 *
		 * Copyright (c) 2018 Daniel Eden
		 */
		
		.ext-clear {
			clear: both;
		}

		.ext-hidden{
			visibility: hidden;
		}
    
    .ext-display-block{
      display:block;
    }

    .ext-effect-animated {
		  -webkit-animation-duration: 1s;
		  animation-duration: 1s;
		  -webkit-animation-fill-mode: both;
		  animation-fill-mode: both;
		}

		.ext-effect-animated.ext-effect-infinite {
		  -webkit-animation-iteration-count: infinite;
		  animation-iteration-count: infinite;
		}

    .ext-effect-fade {
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
      -webkit-transition: 0.3s;
      transition: 0.3s;
    }    


		@-webkit-keyframes ext-effect-bounce {
		  from,
		  20%,
		  53%,
		  80%,
		  to {
		    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
		  }

		  40%,
		  43% {
		    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		    -webkit-transform: translate3d(0, -30px, 0);
		    transform: translate3d(0, -30px, 0);
		  }

		  70% {
		    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		    -webkit-transform: translate3d(0, -15px, 0);
		    transform: translate3d(0, -15px, 0);
		  }

		  90% {
		    -webkit-transform: translate3d(0, -4px, 0);
		    transform: translate3d(0, -4px, 0);
		  }
		}

		@keyframes ext-effect-bounce {
		  from,
		  20%,
		  53%,
		  80%,
		  to {
		    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
		  }

		  40%,
		  43% {
		    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		    -webkit-transform: translate3d(0, -30px, 0);
		    transform: translate3d(0, -30px, 0);
		  }

		  70% {
		    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		    -webkit-transform: translate3d(0, -15px, 0);
		    transform: translate3d(0, -15px, 0);
		  }

		  90% {
		    -webkit-transform: translate3d(0, -4px, 0);
		    transform: translate3d(0, -4px, 0);
		  }
		}

		.ext-effect-bounce {
		  -webkit-animation-name: ext-effect-bounce;
		  animation-name: ext-effect-bounce;
		  -webkit-transform-origin: center bottom;
		  transform-origin: center bottom;
		}

		@-webkit-keyframes ext-effect-flash {
		  from,
		  50%,
		  to {
		    opacity: 1;
		  }

		  25%,
		  75% {
		    opacity: 0;
		  }
		}

		@keyframes ext-effect-flash {
		  from,
		  50%,
		  to {
		    opacity: 1;
		  }

		  25%,
		  75% {
		    opacity: 0;
		  }
		}

		.ext-effect-flash {
		  -webkit-animation-name: ext-effect-flash;
		  animation-name: ext-effect-flash;
		}

		/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

		@-webkit-keyframes ext-effect-pulse {
		  from {
		    -webkit-transform: scale3d(1, 1, 1);
		    transform: scale3d(1, 1, 1);
		  }

		  50% {
		    -webkit-transform: scale3d(1.05, 1.05, 1.05);
		    transform: scale3d(1.05, 1.05, 1.05);
		  }

		  to {
		    -webkit-transform: scale3d(1, 1, 1);
		    transform: scale3d(1, 1, 1);
		  }
		}

		@keyframes ext-effect-pulse {
		  from {
		    -webkit-transform: scale3d(1, 1, 1);
		    transform: scale3d(1, 1, 1);
		  }

		  50% {
		    -webkit-transform: scale3d(1.05, 1.05, 1.05);
		    transform: scale3d(1.05, 1.05, 1.05);
		  }

		  to {
		    -webkit-transform: scale3d(1, 1, 1);
		    transform: scale3d(1, 1, 1);
		  }
		}

		.ext-effect-pulse {
		  -webkit-animation-name: ext-effect-pulse;
		  animation-name: ext-effect-pulse;
		}

		@-webkit-keyframes ext-effect-rubberBand {
		  from {
		    -webkit-transform: scale3d(1, 1, 1);
		    transform: scale3d(1, 1, 1);
		  }

		  30% {
		    -webkit-transform: scale3d(1.25, 0.75, 1);
		    transform: scale3d(1.25, 0.75, 1);
		  }

		  40% {
		    -webkit-transform: scale3d(0.75, 1.25, 1);
		    transform: scale3d(0.75, 1.25, 1);
		  }

		  50% {
		    -webkit-transform: scale3d(1.15, 0.85, 1);
		    transform: scale3d(1.15, 0.85, 1);
		  }

		  65% {
		    -webkit-transform: scale3d(0.95, 1.05, 1);
		    transform: scale3d(0.95, 1.05, 1);
		  }

		  75% {
		    -webkit-transform: scale3d(1.05, 0.95, 1);
		    transform: scale3d(1.05, 0.95, 1);
		  }

		  to {
		    -webkit-transform: scale3d(1, 1, 1);
		    transform: scale3d(1, 1, 1);
		  }
		}

		@keyframes ext-effect-rubberBand {
		  from {
		    -webkit-transform: scale3d(1, 1, 1);
		    transform: scale3d(1, 1, 1);
		  }

		  30% {
		    -webkit-transform: scale3d(1.25, 0.75, 1);
		    transform: scale3d(1.25, 0.75, 1);
		  }

		  40% {
		    -webkit-transform: scale3d(0.75, 1.25, 1);
		    transform: scale3d(0.75, 1.25, 1);
		  }

		  50% {
		    -webkit-transform: scale3d(1.15, 0.85, 1);
		    transform: scale3d(1.15, 0.85, 1);
		  }

		  65% {
		    -webkit-transform: scale3d(0.95, 1.05, 1);
		    transform: scale3d(0.95, 1.05, 1);
		  }

		  75% {
		    -webkit-transform: scale3d(1.05, 0.95, 1);
		    transform: scale3d(1.05, 0.95, 1);
		  }

		  to {
		    -webkit-transform: scale3d(1, 1, 1);
		    transform: scale3d(1, 1, 1);
		  }
		}

		.ext-effect-rubberBand {
		  -webkit-animation-name: ext-effect-rubberBand;
		  animation-name: ext-effect-rubberBand;
		}

		@-webkit-keyframes ext-effect-shake {
		  from,
		  to {
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
		  }

		  10%,
		  30%,
		  50%,
		  70%,
		  90% {
		    -webkit-transform: translate3d(-10px, 0, 0);
		    transform: translate3d(-10px, 0, 0);
		  }

		  20%,
		  40%,
		  60%,
		  80% {
		    -webkit-transform: translate3d(10px, 0, 0);
		    transform: translate3d(10px, 0, 0);
		  }
		}

		@keyframes ext-effect-shake {
		  from,
		  to {
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
		  }

		  10%,
		  30%,
		  50%,
		  70%,
		  90% {
		    -webkit-transform: translate3d(-10px, 0, 0);
		    transform: translate3d(-10px, 0, 0);
		  }

		  20%,
		  40%,
		  60%,
		  80% {
		    -webkit-transform: translate3d(10px, 0, 0);
		    transform: translate3d(10px, 0, 0);
		  }
		}

		.ext-effect-shake {
		  -webkit-animation-name: ext-effect-shake;
		  animation-name: ext-effect-shake;
		}

		@-webkit-keyframes ext-effect-headShake {
		  0% {
		    -webkit-transform: translateX(0);
		    transform: translateX(0);
		  }

		  6.5% {
		    -webkit-transform: translateX(-6px) rotateY(-9deg);
		    transform: translateX(-6px) rotateY(-9deg);
		  }

		  18.5% {
		    -webkit-transform: translateX(5px) rotateY(7deg);
		    transform: translateX(5px) rotateY(7deg);
		  }

		  31.5% {
		    -webkit-transform: translateX(-3px) rotateY(-5deg);
		    transform: translateX(-3px) rotateY(-5deg);
		  }

		  43.5% {
		    -webkit-transform: translateX(2px) rotateY(3deg);
		    transform: translateX(2px) rotateY(3deg);
		  }

		  50% {
		    -webkit-transform: translateX(0);
		    transform: translateX(0);
		  }
		}

		@keyframes ext-effect-headShake {
		  0% {
		    -webkit-transform: translateX(0);
		    transform: translateX(0);
		  }

		  6.5% {
		    -webkit-transform: translateX(-6px) rotateY(-9deg);
		    transform: translateX(-6px) rotateY(-9deg);
		  }

		  18.5% {
		    -webkit-transform: translateX(5px) rotateY(7deg);
		    transform: translateX(5px) rotateY(7deg);
		  }

		  31.5% {
		    -webkit-transform: translateX(-3px) rotateY(-5deg);
		    transform: translateX(-3px) rotateY(-5deg);
		  }

		  43.5% {
		    -webkit-transform: translateX(2px) rotateY(3deg);
		    transform: translateX(2px) rotateY(3deg);
		  }

		  50% {
		    -webkit-transform: translateX(0);
		    transform: translateX(0);
		  }
		}

		.ext-effect-headShake {
		  -webkit-animation-timing-function: ease-in-out;
		  animation-timing-function: ease-in-out;
		  -webkit-animation-name: ext-effect-headShake;
		  animation-name: ext-effect-headShake;
		}

		@-webkit-keyframes ext-effect-swing {
		  20% {
		    -webkit-transform: rotate3d(0, 0, 1, 15deg);
		    transform: rotate3d(0, 0, 1, 15deg);
		  }

		  40% {
		    -webkit-transform: rotate3d(0, 0, 1, -10deg);
		    transform: rotate3d(0, 0, 1, -10deg);
		  }

		  60% {
		    -webkit-transform: rotate3d(0, 0, 1, 5deg);
		    transform: rotate3d(0, 0, 1, 5deg);
		  }

		  80% {
		    -webkit-transform: rotate3d(0, 0, 1, -5deg);
		    transform: rotate3d(0, 0, 1, -5deg);
		  }

		  to {
		    -webkit-transform: rotate3d(0, 0, 1, 0deg);
		    transform: rotate3d(0, 0, 1, 0deg);
		  }
		}

		@keyframes ext-effect-swing {
		  20% {
		    -webkit-transform: rotate3d(0, 0, 1, 15deg);
		    transform: rotate3d(0, 0, 1, 15deg);
		  }

		  40% {
		    -webkit-transform: rotate3d(0, 0, 1, -10deg);
		    transform: rotate3d(0, 0, 1, -10deg);
		  }

		  60% {
		    -webkit-transform: rotate3d(0, 0, 1, 5deg);
		    transform: rotate3d(0, 0, 1, 5deg);
		  }

		  80% {
		    -webkit-transform: rotate3d(0, 0, 1, -5deg);
		    transform: rotate3d(0, 0, 1, -5deg);
		  }

		  to {
		    -webkit-transform: rotate3d(0, 0, 1, 0deg);
		    transform: rotate3d(0, 0, 1, 0deg);
		  }
		}

		.ext-effect-swing {
		  -webkit-transform-origin: top center;
		  transform-origin: top center;
		  -webkit-animation-name: ext-effect-swing;
		  animation-name: ext-effect-swing;
		}

		@-webkit-keyframes ext-effect-tada {
		  from {
		    -webkit-transform: scale3d(1, 1, 1);
		    transform: scale3d(1, 1, 1);
		  }

		  10%,
		  20% {
		    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
		    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
		  }

		  30%,
		  50%,
		  70%,
		  90% {
		    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
		    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
		  }

		  40%,
		  60%,
		  80% {
		    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
		    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
		  }

		  to {
		    -webkit-transform: scale3d(1, 1, 1);
		    transform: scale3d(1, 1, 1);
		  }
		}

		@keyframes ext-effect-tada {
		  from {
		    -webkit-transform: scale3d(1, 1, 1);
		    transform: scale3d(1, 1, 1);
		  }

		  10%,
		  20% {
		    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
		    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
		  }

		  30%,
		  50%,
		  70%,
		  90% {
		    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
		    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
		  }

		  40%,
		  60%,
		  80% {
		    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
		    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
		  }

		  to {
		    -webkit-transform: scale3d(1, 1, 1);
		    transform: scale3d(1, 1, 1);
		  }
		}

		.ext-effect-tada {
		  -webkit-animation-name: ext-effect-tada;
		  animation-name: ext-effect-tada;
		}

		/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

		@-webkit-keyframes ext-effect-wobble {
		  from {
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
		  }

		  15% {
		    -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
		    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
		  }

		  30% {
		    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
		    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
		  }

		  45% {
		    -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
		    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
		  }

		  60% {
		    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
		    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
		  }

		  75% {
		    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
		    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
		  }

		  to {
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
		  }
		}

		@keyframes ext-effect-wobble {
		  from {
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
		  }

		  15% {
		    -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
		    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
		  }

		  30% {
		    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
		    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
		  }

		  45% {
		    -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
		    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
		  }

		  60% {
		    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
		    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
		  }

		  75% {
		    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
		    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
		  }

		  to {
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
		  }
		}

		animation-name: ext-effect-bobble {
		  -webkit-animation-name: ext-effect-wobble;
		  animation-name: ext-effect-wobble;
		}

		@-webkit-keyframes ext-effect-jello {
		  from,
		  11.1%,
		  to {
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
		  }

		  22.2% {
		    -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
		    transform: skewX(-12.5deg) skewY(-12.5deg);
		  }

		  33.3% {
		    -webkit-transform: skewX(6.25deg) skewY(6.25deg);
		    transform: skewX(6.25deg) skewY(6.25deg);
		  }

		  44.4% {
		    -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
		    transform: skewX(-3.125deg) skewY(-3.125deg);
		  }

		  55.5% {
		    -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
		    transform: skewX(1.5625deg) skewY(1.5625deg);
		  }

		  66.6% {
		    -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
		    transform: skewX(-0.78125deg) skewY(-0.78125deg);
		  }

		  77.7% {
		    -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
		    transform: skewX(0.390625deg) skewY(0.390625deg);
		  }

		  88.8% {
		    -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
		    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
		  }
		}

		@keyframes ext-effect-jello {
		  from,
		  11.1%,
		  to {
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
		  }

		  22.2% {
		    -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
		    transform: skewX(-12.5deg) skewY(-12.5deg);
		  }

		  33.3% {
		    -webkit-transform: skewX(6.25deg) skewY(6.25deg);
		    transform: skewX(6.25deg) skewY(6.25deg);
		  }

		  44.4% {
		    -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
		    transform: skewX(-3.125deg) skewY(-3.125deg);
		  }

		  55.5% {
		    -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
		    transform: skewX(1.5625deg) skewY(1.5625deg);
		  }

		  66.6% {
		    -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
		    transform: skewX(-0.78125deg) skewY(-0.78125deg);
		  }

		  77.7% {
		    -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
		    transform: skewX(0.390625deg) skewY(0.390625deg);
		  }

		  88.8% {
		    -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
		    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
		  }
		}

		.ext-effect-jello {
		  -webkit-animation-name: ext-effect-jello;
		  animation-name: ext-effect-jello;
		  -webkit-transform-origin: center;
		  transform-origin: center;
		}

		@-webkit-keyframes ext-effect-bounceIn {
		  from,
		  20%,
		  40%,
		  60%,
		  80%,
		  to {
		    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		  }

		  0% {
		    opacity: 0;
		    -webkit-transform: scale3d(0.3, 0.3, 0.3);
		    transform: scale3d(0.3, 0.3, 0.3);
		  }

		  20% {
		    -webkit-transform: scale3d(1.1, 1.1, 1.1);
		    transform: scale3d(1.1, 1.1, 1.1);
		  }

		  40% {
		    -webkit-transform: scale3d(0.9, 0.9, 0.9);
		    transform: scale3d(0.9, 0.9, 0.9);
		  }

		  60% {
		    opacity: 1;
		    -webkit-transform: scale3d(1.03, 1.03, 1.03);
		    transform: scale3d(1.03, 1.03, 1.03);
		  }

		  80% {
		    -webkit-transform: scale3d(0.97, 0.97, 0.97);
		    transform: scale3d(0.97, 0.97, 0.97);
		  }

		  to {
		    opacity: 1;
		    -webkit-transform: scale3d(1, 1, 1);
		    transform: scale3d(1, 1, 1);
		  }
		}

		@keyframes ext-effect-bounceIn {
		  from,
		  20%,
		  40%,
		  60%,
		  80%,
		  to {
		    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		  }

		  0% {
		    opacity: 0;
		    -webkit-transform: scale3d(0.3, 0.3, 0.3);
		    transform: scale3d(0.3, 0.3, 0.3);
		  }

		  20% {
		    -webkit-transform: scale3d(1.1, 1.1, 1.1);
		    transform: scale3d(1.1, 1.1, 1.1);
		  }

		  40% {
		    -webkit-transform: scale3d(0.9, 0.9, 0.9);
		    transform: scale3d(0.9, 0.9, 0.9);
		  }

		  60% {
		    opacity: 1;
		    -webkit-transform: scale3d(1.03, 1.03, 1.03);
		    transform: scale3d(1.03, 1.03, 1.03);
		  }

		  80% {
		    -webkit-transform: scale3d(0.97, 0.97, 0.97);
		    transform: scale3d(0.97, 0.97, 0.97);
		  }

		  to {
		    opacity: 1;
		    -webkit-transform: scale3d(1, 1, 1);
		    transform: scale3d(1, 1, 1);
		  }
		}

		.ext-effect-bounceIn {
		  -webkit-animation-duration: 0.75s;
		  animation-duration: 0.75s;
		  -webkit-animation-name: ext-effect-bounceIn;
		  animation-name: ext-effect-bounceIn;
		}

		@-webkit-keyframes ext-effect-bounceInDown {
		  from,
		  60%,
		  75%,
		  90%,
		  to {
		    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		  }

		  0% {
		    opacity: 0;
		    -webkit-transform: translate3d(0, -3000px, 0);
		    transform: translate3d(0, -3000px, 0);
		  }

		  60% {
		    opacity: 1;
		    -webkit-transform: translate3d(0, 25px, 0);
		    transform: translate3d(0, 25px, 0);
		  }

		  75% {
		    -webkit-transform: translate3d(0, -10px, 0);
		    transform: translate3d(0, -10px, 0);
		  }

		  90% {
		    -webkit-transform: translate3d(0, 5px, 0);
		    transform: translate3d(0, 5px, 0);
		  }

		  to {
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
		  }
		}

		@keyframes ext-effect-bounceInDown {
		  from,
		  60%,
		  75%,
		  90%,
		  to {
		    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		  }

		  0% {
		    opacity: 0;
		    -webkit-transform: translate3d(0, -3000px, 0);
		    transform: translate3d(0, -3000px, 0);
		  }

		  60% {
		    opacity: 1;
		    -webkit-transform: translate3d(0, 25px, 0);
		    transform: translate3d(0, 25px, 0);
		  }

		  75% {
		    -webkit-transform: translate3d(0, -10px, 0);
		    transform: translate3d(0, -10px, 0);
		  }

		  90% {
		    -webkit-transform: translate3d(0, 5px, 0);
		    transform: translate3d(0, 5px, 0);
		  }

		  to {
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
		  }
		}

		.ext-effect-bounceInDown {
		  -webkit-animation-name: ext-effect-bounceInDown;
		  animation-name: ext-effect-bounceInDown;
		}

		@-webkit-keyframes ext-effect-bounceInLeft {
		  from,
		  60%,
		  75%,
		  90%,
		  to {
		    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		  }

		  0% {
		    opacity: 0;
		    -webkit-transform: translate3d(-3000px, 0, 0);
		    transform: translate3d(-3000px, 0, 0);
		  }

		  60% {
		    opacity: 1;
		    -webkit-transform: translate3d(25px, 0, 0);
		    transform: translate3d(25px, 0, 0);
		  }

		  75% {
		    -webkit-transform: translate3d(-10px, 0, 0);
		    transform: translate3d(-10px, 0, 0);
		  }

		  90% {
		    -webkit-transform: translate3d(5px, 0, 0);
		    transform: translate3d(5px, 0, 0);
		  }

		  to {
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
		  }
		}

		@keyframes ext-effect-bounceInLeft {
		  from,
		  60%,
		  75%,
		  90%,
		  to {
		    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		  }

		  0% {
		    opacity: 0;
		    -webkit-transform: translate3d(-3000px, 0, 0);
		    transform: translate3d(-3000px, 0, 0);
		  }

		  60% {
		    opacity: 1;
		    -webkit-transform: translate3d(25px, 0, 0);
		    transform: translate3d(25px, 0, 0);
		  }

		  75% {
		    -webkit-transform: translate3d(-10px, 0, 0);
		    transform: translate3d(-10px, 0, 0);
		  }

		  90% {
		    -webkit-transform: translate3d(5px, 0, 0);
		    transform: translate3d(5px, 0, 0);
		  }

		  to {
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
		  }
		}

		.ext-effect-bounceInLeft {
		  -webkit-animation-name: ext-effect-bounceInLeft;
		  animation-name: ext-effect-bounceInLeft;
		}

		@-webkit-keyframes ext-effect-bounceInRight {
		  from,
		  60%,
		  75%,
		  90%,
		  to {
		    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		  }

		  from {
		    opacity: 0;
		    -webkit-transform: translate3d(3000px, 0, 0);
		    transform: translate3d(3000px, 0, 0);
		  }

		  60% {
		    opacity: 1;
		    -webkit-transform: translate3d(-25px, 0, 0);
		    transform: translate3d(-25px, 0, 0);
		  }

		  75% {
		    -webkit-transform: translate3d(10px, 0, 0);
		    transform: translate3d(10px, 0, 0);
		  }

		  90% {
		    -webkit-transform: translate3d(-5px, 0, 0);
		    transform: translate3d(-5px, 0, 0);
		  }

		  to {
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
		  }
		}

		@keyframes ext-effect-bounceInRight {
		  from,
		  60%,
		  75%,
		  90%,
		  to {
		    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		  }

		  from {
		    opacity: 0;
		    -webkit-transform: translate3d(3000px, 0, 0);
		    transform: translate3d(3000px, 0, 0);
		  }

		  60% {
		    opacity: 1;
		    -webkit-transform: translate3d(-25px, 0, 0);
		    transform: translate3d(-25px, 0, 0);
		  }

		  75% {
		    -webkit-transform: translate3d(10px, 0, 0);
		    transform: translate3d(10px, 0, 0);
		  }

		  90% {
		    -webkit-transform: translate3d(-5px, 0, 0);
		    transform: translate3d(-5px, 0, 0);
		  }

		  to {
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
		  }
		}

		.ext-effect-bounceInRight {
		  -webkit-animation-name: ext-effect-bounceInRight;
		  animation-name: ext-effect-bounceInRight;
		}

		@-webkit-keyframes ext-effect-bounceInUp {
		  from,
		  60%,
		  75%,
		  90%,
		  to {
		    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		  }

		  from {
		    opacity: 0;
		    -webkit-transform: translate3d(0, 3000px, 0);
		    transform: translate3d(0, 3000px, 0);
		  }

		  60% {
		    opacity: 1;
		    -webkit-transform: translate3d(0, -20px, 0);
		    transform: translate3d(0, -20px, 0);
		  }

		  75% {
		    -webkit-transform: translate3d(0, 10px, 0);
		    transform: translate3d(0, 10px, 0);
		  }

		  90% {
		    -webkit-transform: translate3d(0, -5px, 0);
		    transform: translate3d(0, -5px, 0);
		  }

		  to {
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
		  }
		}

		@keyframes ext-effect-bounceInUp {
		  from,
		  60%,
		  75%,
		  90%,
		  to {
		    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		  }

		  from {
		    opacity: 0;
		    -webkit-transform: translate3d(0, 3000px, 0);
		    transform: translate3d(0, 3000px, 0);
		  }

		  60% {
		    opacity: 1;
		    -webkit-transform: translate3d(0, -20px, 0);
		    transform: translate3d(0, -20px, 0);
		  }

		  75% {
		    -webkit-transform: translate3d(0, 10px, 0);
		    transform: translate3d(0, 10px, 0);
		  }

		  90% {
		    -webkit-transform: translate3d(0, -5px, 0);
		    transform: translate3d(0, -5px, 0);
		  }

		  to {
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
		  }
		}

		.ext-effect-bounceInUp {
		  -webkit-animation-name: ext-effect-bounceInUp;
		  animation-name: ext-effect-bounceInUp;
		}

		@-webkit-keyframes ext-effect-bounceOut {
		  20% {
		    -webkit-transform: scale3d(0.9, 0.9, 0.9);
		    transform: scale3d(0.9, 0.9, 0.9);
		  }

		  50%,
		  55% {
		    opacity: 1;
		    -webkit-transform: scale3d(1.1, 1.1, 1.1);
		    transform: scale3d(1.1, 1.1, 1.1);
		  }

		  to {
		    opacity: 0;
		    -webkit-transform: scale3d(0.3, 0.3, 0.3);
		    transform: scale3d(0.3, 0.3, 0.3);
		  }
		}

		@keyframes ext-effect-bounceOut {
		  20% {
		    -webkit-transform: scale3d(0.9, 0.9, 0.9);
		    transform: scale3d(0.9, 0.9, 0.9);
		  }

		  50%,
		  55% {
		    opacity: 1;
		    -webkit-transform: scale3d(1.1, 1.1, 1.1);
		    transform: scale3d(1.1, 1.1, 1.1);
		  }

		  to {
		    opacity: 0;
		    -webkit-transform: scale3d(0.3, 0.3, 0.3);
		    transform: scale3d(0.3, 0.3, 0.3);
		  }
		}

		.ext-effect-bounceOut {
		  -webkit-animation-duration: 0.75s;
		  animation-duration: 0.75s;
		  -webkit-animation-name: ext-effect-bounceOut;
		  animation-name: ext-effect-bounceOut;
		}

		@-webkit-keyframes ext-effect-bounceOutDown {
		  20% {
		    -webkit-transform: translate3d(0, 10px, 0);
		    transform: translate3d(0, 10px, 0);
		  }

		  40%,
		  45% {
		    opacity: 1;
		    -webkit-transform: translate3d(0, -20px, 0);
		    transform: translate3d(0, -20px, 0);
		  }

		  to {
		    opacity: 0;
		    -webkit-transform: translate3d(0, 2000px, 0);
		    transform: translate3d(0, 2000px, 0);
		  }
		}

		@keyframes ext-effect-bounceOutDown {
		  20% {
		    -webkit-transform: translate3d(0, 10px, 0);
		    transform: translate3d(0, 10px, 0);
		  }

		  40%,
		  45% {
		    opacity: 1;
		    -webkit-transform: translate3d(0, -20px, 0);
		    transform: translate3d(0, -20px, 0);
		  }

		  to {
		    opacity: 0;
		    -webkit-transform: translate3d(0, 2000px, 0);
		    transform: translate3d(0, 2000px, 0);
		  }
		}

		.ext-effect-bounceOutDown {
		  -webkit-animation-name: ext-effect-bounceOutDown;
		  animation-name: ext-effect-bounceOutDown;
		}

		@-webkit-keyframes ext-effect-bounceOutLeft {
		  20% {
		    opacity: 1;
		    -webkit-transform: translate3d(20px, 0, 0);
		    transform: translate3d(20px, 0, 0);
		  }

		  to {
		    opacity: 0;
		    -webkit-transform: translate3d(-2000px, 0, 0);
		    transform: translate3d(-2000px, 0, 0);
		  }
		}

		@keyframes ext-effect-bounceOutLeft {
		  20% {
		    opacity: 1;
		    -webkit-transform: translate3d(20px, 0, 0);
		    transform: translate3d(20px, 0, 0);
		  }

		  to {
		    opacity: 0;
		    -webkit-transform: translate3d(-2000px, 0, 0);
		    transform: translate3d(-2000px, 0, 0);
		  }
		}

		.ext-effect-bounceOutLeft {
		  -webkit-animation-name: ext-effect-bounceOutLeft;
		  animation-name: ext-effect-bounceOutLeft;
		}

		@-webkit-keyframes ext-effect-bounceOutRight {
		  20% {
		    opacity: 1;
		    -webkit-transform: translate3d(-20px, 0, 0);
		    transform: translate3d(-20px, 0, 0);
		  }

		  to {
		    opacity: 0;
		    -webkit-transform: translate3d(2000px, 0, 0);
		    transform: translate3d(2000px, 0, 0);
		  }
		}

		@keyframes ext-effect-bounceOutRight {
		  20% {
		    opacity: 1;
		    -webkit-transform: translate3d(-20px, 0, 0);
		    transform: translate3d(-20px, 0, 0);
		  }

		  to {
		    opacity: 0;
		    -webkit-transform: translate3d(2000px, 0, 0);
		    transform: translate3d(2000px, 0, 0);
		  }
		}

		.ext-effect-bounceOutRight {
		  -webkit-animation-name: ext-effect-bounceOutRight;
		  animation-name: ext-effect-bounceOutRight;
		}

		@-webkit-keyframes ext-effect-bounceOutUp {
		  20% {
		    -webkit-transform: translate3d(0, -10px, 0);
		    transform: translate3d(0, -10px, 0);
		  }

		  40%,
		  45% {
		    opacity: 1;
		    -webkit-transform: translate3d(0, 20px, 0);
		    transform: translate3d(0, 20px, 0);
		  }

		  to {
		    opacity: 0;
		    -webkit-transform: translate3d(0, -2000px, 0);
		    transform: translate3d(0, -2000px, 0);
		  }
		}

		@keyframes ext-effect-bounceOutUp {
		  20% {
		    -webkit-transform: translate3d(0, -10px, 0);
		    transform: translate3d(0, -10px, 0);
		  }

		  40%,
		  45% {
		    opacity: 1;
		    -webkit-transform: translate3d(0, 20px, 0);
		    transform: translate3d(0, 20px, 0);
		  }

		  to {
		    opacity: 0;
		    -webkit-transform: translate3d(0, -2000px, 0);
		    transform: translate3d(0, -2000px, 0);
		  }
		}

		.ext-effect-bounceOutUp {
		  -webkit-animation-name: ext-effect-bounceOutUp;
		  animation-name: ext-effect-bounceOutUp;
		}

		@-webkit-keyframes ext-effect-fadeIn {
		  from {
		    opacity: 0;
		  }

		  to {
		    opacity: 1;
		  }
		}

		@keyframes ext-effect-fadeIn {
		  from {
		    opacity: 0;
		  }

		  to {
		    opacity: 1;
		  }
		}

		.ext-effect-fadeIn{
		  -webkit-animation-name: ext-effect-fadeIn;
		  animation-name: ext-effect-fadeIn;
		}
    .ext-effect-fade{
      -webkit-animation-duration: 0.5s;
		  animation-duration: 0.5s;
      -webkit-animation-name: ext-effect-fadeIn;
		  animation-name: ext-effect-fadeIn;
    }
		.ext-effect-fadeOutFast{
      -webkit-animation-duration: 0.3s;
		  animation-duration: 0.3s;
      -webkit-animation-name: ext-effect-fadeOut;
		  animation-name: ext-effect-fadeOut;
    }

		@-webkit-keyframes ext-effect-fadeInDown {
		  from {
		    opacity: 0;
		    -webkit-transform: translate3d(0, -100%, 0);
		    transform: translate3d(0, -100%, 0);
		  }

		  to {
		    opacity: 1;
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
		  }
		}

		@keyframes ext-effect-fadeInDown {
		  from {
		    opacity: 0;
		    -webkit-transform: translate3d(0, -100%, 0);
		    transform: translate3d(0, -100%, 0);
		  }

		  to {
		    opacity: 1;
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
		  }
		}

		.ext-effect-fadeInDown {
		  -webkit-animation-name: ext-effect-fadeInDown;
		  animation-name: ext-effect-fadeInDown;
		}

		@-webkit-keyframes ext-effect-fadeInDownBig {
		  from {
		    opacity: 0;
		    -webkit-transform: translate3d(0, -2000px, 0);
		    transform: translate3d(0, -2000px, 0);
		  }

		  to {
		    opacity: 1;
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
		  }
		}

		@keyframes ext-effect-fadeInDownBig {
		  from {
		    opacity: 0;
		    -webkit-transform: translate3d(0, -2000px, 0);
		    transform: translate3d(0, -2000px, 0);
		  }

		  to {
		    opacity: 1;
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
		  }
		}

		.ext-effect-fadeInDownBig {
		  -webkit-animation-name: ext-effect-fadeInDownBig;
		  animation-name: ext-effect-fadeInDownBig;
		}

		@-webkit-keyframes ext-effect-fadeInLeft {
		  from {
		    opacity: 0;
		    -webkit-transform: translate3d(-100%, 0, 0);
		    transform: translate3d(-100%, 0, 0);
		  }

		  to {
		    opacity: 1;
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
		  }
		}

		@keyframes ext-effect-fadeInLeft {
		  from {
		    opacity: 0;
		    -webkit-transform: translate3d(-100%, 0, 0);
		    transform: translate3d(-100%, 0, 0);
		  }

		  to {
		    opacity: 1;
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
		  }
		}

		.ext-effect-fadeInLeft {
		  -webkit-animation-name: ext-effect-fadeInLeft;
		  animation-name: ext-effect-fadeInLeft;
		}

		@-webkit-keyframes ext-effect-fadeInLeftBig {
		  from {
		    opacity: 0;
		    -webkit-transform: translate3d(-2000px, 0, 0);
		    transform: translate3d(-2000px, 0, 0);
		  }

		  to {
		    opacity: 1;
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
		  }
		}

		@keyframes ext-effect-fadeInLeftBig {
		  from {
		    opacity: 0;
		    -webkit-transform: translate3d(-2000px, 0, 0);
		    transform: translate3d(-2000px, 0, 0);
		  }

		  to {
		    opacity: 1;
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
		  }
		}

		.ext-effect-fadeInLeftBig {
		  -webkit-animation-name: ext-effect-fadeInLeftBig;
		  animation-name: ext-effect-fadeInLeftBig;
		}

		@-webkit-keyframes ext-effect-fadeInRight {
		  from {
		    opacity: 0;
		    -webkit-transform: translate3d(100%, 0, 0);
		    transform: translate3d(100%, 0, 0);
		  }

		  to {
		    opacity: 1;
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
		  }
		}

		@keyframes ext-effect-fadeInRight {
		  from {
		    opacity: 0;
		    -webkit-transform: translate3d(100%, 0, 0);
		    transform: translate3d(100%, 0, 0);
		  }

		  to {
		    opacity: 1;
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
		  }
		}

		.ext-effect-fadeInRight {
		  -webkit-animation-name: ext-effect-fadeInRight;
		  animation-name: ext-effect-fadeInRight;
		}

		@-webkit-keyframes ext-effect-fadeInRightBig {
		  from {
		    opacity: 0;
		    -webkit-transform: translate3d(2000px, 0, 0);
		    transform: translate3d(2000px, 0, 0);
		  }

		  to {
		    opacity: 1;
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
		  }
		}

		@keyframes ext-effect-fadeInRightBig {
		  from {
		    opacity: 0;
		    -webkit-transform: translate3d(2000px, 0, 0);
		    transform: translate3d(2000px, 0, 0);
		  }

		  to {
		    opacity: 1;
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
		  }
		}

		.ext-effect-fadeInRightBig {
		  -webkit-animation-name: ext-effect-fadeInRightBig;
		  animation-name: ext-effect-fadeInRightBig;
		}

		@-webkit-keyframes ext-effect-fadeInUp {
		  from {
		    opacity: 0;
		    -webkit-transform: translate3d(0, 100%, 0);
		    transform: translate3d(0, 100%, 0);
		  }

		  to {
		    opacity: 1;
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
		  }
		}

		@keyframes ext-effect-fadeInUp {
		  from {
		    opacity: 0;
		    -webkit-transform: translate3d(0, 100%, 0);
		    transform: translate3d(0, 100%, 0);
		  }

		  to {
		    opacity: 1;
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
		  }
		}

		.ext-effect-fadeInUp {
		  -webkit-animation-name: ext-effect-fadeInUp;
		  animation-name: ext-effect-fadeInUp;
		}

		@-webkit-keyframes ext-effect-fadeInUpBig {
		  from {
		    opacity: 0;
		    -webkit-transform: translate3d(0, 2000px, 0);
		    transform: translate3d(0, 2000px, 0);
		  }

		  to {
		    opacity: 1;
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
		  }
		}

		@keyframes ext-effect-fadeInUpBig {
		  from {
		    opacity: 0;
		    -webkit-transform: translate3d(0, 2000px, 0);
		    transform: translate3d(0, 2000px, 0);
		  }

		  to {
		    opacity: 1;
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
		  }
		}

		.ext-effect-fadeInUpBig {
		  -webkit-animation-name: ext-effect-fadeInUpBig;
		  animation-name: ext-effect-fadeInUpBig;
		}

		@-webkit-keyframes ext-effect-fadeOut {
		  from {
		    opacity: 1;
		  }

		  to {
		    opacity: 0;
		  }
		}

		@keyframes ext-effect-fadeOut {
		  from {
		    opacity: 1;
		  }

		  to {
		    opacity: 0;
		  }
		}

		.ext-effect-fadeOut {
		  -webkit-animation-name: ext-effect-fadeOut;
		  animation-name: ext-effect-fadeOut;
		}

		@-webkit-keyframes ext-effect-fadeOutDown {
		  from {
		    opacity: 1;
		  }

		  to {
		    opacity: 0;
		    -webkit-transform: translate3d(0, 100%, 0);
		    transform: translate3d(0, 100%, 0);
		  }
		}

		@keyframes ext-effect-fadeOutDown {
		  from {
		    opacity: 1;
		  }

		  to {
		    opacity: 0;
		    -webkit-transform: translate3d(0, 100%, 0);
		    transform: translate3d(0, 100%, 0);
		  }
		}

		.ext-effect-fadeOutDown {
		  -webkit-animation-name: ext-effect-fadeOutDown;
		  animation-name: ext-effect-fadeOutDown;
		}

		@-webkit-keyframes ext-effect-fadeOutDownBig {
		  from {
		    opacity: 1;
		  }

		  to {
		    opacity: 0;
		    -webkit-transform: translate3d(0, 2000px, 0);
		    transform: translate3d(0, 2000px, 0);
		  }
		}

		@keyframes ext-effect-fadeOutDownBig {
		  from {
		    opacity: 1;
		  }

		  to {
		    opacity: 0;
		    -webkit-transform: translate3d(0, 2000px, 0);
		    transform: translate3d(0, 2000px, 0);
		  }
		}

		.ext-effect-fadeOutDownBig {
		  -webkit-animation-name: ext-effect-fadeOutDownBig;
		  animation-name: ext-effect-fadeOutDownBig;
		}

		@-webkit-keyframes ext-effect-fadeOutLeft {
		  from {
		    opacity: 1;
		  }

		  to {
		    opacity: 0;
		    -webkit-transform: translate3d(-100%, 0, 0);
		    transform: translate3d(-100%, 0, 0);
		  }
		}

		@keyframes ext-effect-fadeOutLeft {
		  from {
		    opacity: 1;
		  }

		  to {
		    opacity: 0;
		    -webkit-transform: translate3d(-100%, 0, 0);
		    transform: translate3d(-100%, 0, 0);
		  }
		}

		.ext-effect-fadeOutLeft {
		  -webkit-animation-name: ext-effect-fadeOutLeft;
		  animation-name: ext-effect-fadeOutLeft;
		}

		@-webkit-keyframes ext-effect-fadeOutLeftBig {
		  from {
		    opacity: 1;
		  }

		  to {
		    opacity: 0;
		    -webkit-transform: translate3d(-2000px, 0, 0);
		    transform: translate3d(-2000px, 0, 0);
		  }
		}

		@keyframes ext-effect-fadeOutLeftBig {
		  from {
		    opacity: 1;
		  }

		  to {
		    opacity: 0;
		    -webkit-transform: translate3d(-2000px, 0, 0);
		    transform: translate3d(-2000px, 0, 0);
		  }
		}

		.ext-effect-fadeOutLeftBig {
		  -webkit-animation-name: ext-effect-fadeOutLeftBig;
		  animation-name: ext-effect-fadeOutLeftBig;
		}

		@-webkit-keyframes ext-effect-fadeOutRight {
		  from {
		    opacity: 1;
		  }

		  to {
		    opacity: 0;
		    -webkit-transform: translate3d(100%, 0, 0);
		    transform: translate3d(100%, 0, 0);
		  }
		}

		@keyframes ext-effect-fadeOutRight {
		  from {
		    opacity: 1;
		  }

		  to {
		    opacity: 0;
		    -webkit-transform: translate3d(100%, 0, 0);
		    transform: translate3d(100%, 0, 0);
		  }
		}

		.ext-effect-fadeOutRight {
		  -webkit-animation-name: ext-effect-fadeOutRight;
		  animation-name: ext-effect-fadeOutRight;
		}

		@-webkit-keyframes ext-effect-fadeOutRightBig {
		  from {
		    opacity: 1;
		  }

		  to {
		    opacity: 0;
		    -webkit-transform: translate3d(2000px, 0, 0);
		    transform: translate3d(2000px, 0, 0);
		  }
		}

		@keyframes ext-effect-fadeOutRightBig {
		  from {
		    opacity: 1;
		  }

		  to {
		    opacity: 0;
		    -webkit-transform: translate3d(2000px, 0, 0);
		    transform: translate3d(2000px, 0, 0);
		  }
		}

		.ext-effect-fadeOutRightBig {
		  -webkit-animation-name: ext-effect-fadeOutRightBig;
		  animation-name: ext-effect-fadeOutRightBig;
		}

		@-webkit-keyframes ext-effect-fadeOutUp {
		  from {
		    opacity: 1;
		  }

		  to {
		    opacity: 0;
		    -webkit-transform: translate3d(0, -100%, 0);
		    transform: translate3d(0, -100%, 0);
		  }
		}

		@keyframes ext-effect-fadeOutUp {
		  from {
		    opacity: 1;
		  }

		  to {
		    opacity: 0;
		    -webkit-transform: translate3d(0, -100%, 0);
		    transform: translate3d(0, -100%, 0);
		  }
		}

		.ext-effect-fadeOutUp {
		  -webkit-animation-name: ext-effect-fadeOutUp;
		  animation-name: ext-effect-fadeOutUp;
		}

		@-webkit-keyframes ext-effect-fadeOutUpBig {
		  from {
		    opacity: 1;
		  }

		  to {
		    opacity: 0;
		    -webkit-transform: translate3d(0, -2000px, 0);
		    transform: translate3d(0, -2000px, 0);
		  }
		}

		@keyframes ext-effect-fadeOutUpBig {
		  from {
		    opacity: 1;
		  }

		  to {
		    opacity: 0;
		    -webkit-transform: translate3d(0, -2000px, 0);
		    transform: translate3d(0, -2000px, 0);
		  }
		}

		.ext-effect-fadeOutUpBig {
		  -webkit-animation-name: ext-effect-fadeOutUpBig;
		  animation-name: ext-effect-fadeOutUpBig;
		}

		@-webkit-keyframes ext-effect-flip {
		  from {
		    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
		    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
		    -webkit-animation-timing-function: ease-out;
		    animation-timing-function: ease-out;
		  }

		  40% {
		    -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
		    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
		    -webkit-animation-timing-function: ease-out;
		    animation-timing-function: ease-out;
		  }

		  50% {
		    -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
		    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
		    -webkit-animation-timing-function: ease-in;
		    animation-timing-function: ease-in;
		  }

		  80% {
		    -webkit-transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
		    transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
		    -webkit-animation-timing-function: ease-in;
		    animation-timing-function: ease-in;
		  }

		  to {
		    -webkit-transform: perspective(400px);
		    transform: perspective(400px);
		    -webkit-animation-timing-function: ease-in;
		    animation-timing-function: ease-in;
		  }
		}

		@keyframes ext-effect-flip {
		  from {
		    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
		    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
		    -webkit-animation-timing-function: ease-out;
		    animation-timing-function: ease-out;
		  }

		  40% {
		    -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
		    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
		    -webkit-animation-timing-function: ease-out;
		    animation-timing-function: ease-out;
		  }

		  50% {
		    -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
		    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
		    -webkit-animation-timing-function: ease-in;
		    animation-timing-function: ease-in;
		  }

		  80% {
		    -webkit-transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
		    transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
		    -webkit-animation-timing-function: ease-in;
		    animation-timing-function: ease-in;
		  }

		  to {
		    -webkit-transform: perspective(400px);
		    transform: perspective(400px);
		    -webkit-animation-timing-function: ease-in;
		    animation-timing-function: ease-in;
		  }
		}

		.ext-effect-animated.ext-effect-flip {
		  -webkit-backface-visibility: visible;
		  backface-visibility: visible;
		  -webkit-animation-name: ext-effect-flip;
		  animation-name: ext-effect-flip;
		}

		@-webkit-keyframes ext-effect-flipInX {
		  from {
		    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
		    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
		    -webkit-animation-timing-function: ease-in;
		    animation-timing-function: ease-in;
		    opacity: 0;
		  }

		  40% {
		    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
		    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
		    -webkit-animation-timing-function: ease-in;
		    animation-timing-function: ease-in;
		  }

		  60% {
		    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
		    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
		    opacity: 1;
		  }

		  80% {
		    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
		    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
		  }

		  to {
		    -webkit-transform: perspective(400px);
		    transform: perspective(400px);
		  }
		}

		@keyframes ext-effect-flipInX {
		  from {
		    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
		    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
		    -webkit-animation-timing-function: ease-in;
		    animation-timing-function: ease-in;
		    opacity: 0;
		  }

		  40% {
		    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
		    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
		    -webkit-animation-timing-function: ease-in;
		    animation-timing-function: ease-in;
		  }

		  60% {
		    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
		    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
		    opacity: 1;
		  }

		  80% {
		    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
		    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
		  }

		  to {
		    -webkit-transform: perspective(400px);
		    transform: perspective(400px);
		  }
		}

		.ext-effect-flipInX {
		  -webkit-backface-visibility: visible !important;
		  backface-visibility: visible !important;
		  -webkit-animation-name: ext-effect-flipInX;
		  animation-name: ext-effect-flipInX;
		}

		@-webkit-keyframes ext-effect-flipInY {
		  from {
		    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
		    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
		    -webkit-animation-timing-function: ease-in;
		    animation-timing-function: ease-in;
		    opacity: 0;
		  }

		  40% {
		    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
		    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
		    -webkit-animation-timing-function: ease-in;
		    animation-timing-function: ease-in;
		  }

		  60% {
		    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
		    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
		    opacity: 1;
		  }

		  80% {
		    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
		    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
		  }

		  to {
		    -webkit-transform: perspective(400px);
		    transform: perspective(400px);
		  }
		}

		@keyframes ext-effect-flipInY {
		  from {
		    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
		    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
		    -webkit-animation-timing-function: ease-in;
		    animation-timing-function: ease-in;
		    opacity: 0;
		  }

		  40% {
		    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
		    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
		    -webkit-animation-timing-function: ease-in;
		    animation-timing-function: ease-in;
		  }

		  60% {
		    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
		    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
		    opacity: 1;
		  }

		  80% {
		    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
		    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
		  }

		  to {
		    -webkit-transform: perspective(400px);
		    transform: perspective(400px);
		  }
		}

		.ext-effect-flipInY {
		  -webkit-backface-visibility: visible !important;
		  backface-visibility: visible !important;
		  -webkit-animation-name: ext-effect-flipInY;
		  animation-name: ext-effect-flipInY;
		}

		@-webkit-keyframes ext-effect-flipOutX {
		  from {
		    -webkit-transform: perspective(400px);
		    transform: perspective(400px);
		  }

		  30% {
		    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
		    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
		    opacity: 1;
		  }

		  to {
		    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
		    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
		    opacity: 0;
		  }
		}

		@keyframes ext-effect-flipOutX {
		  from {
		    -webkit-transform: perspective(400px);
		    transform: perspective(400px);
		  }

		  30% {
		    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
		    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
		    opacity: 1;
		  }

		  to {
		    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
		    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
		    opacity: 0;
		  }
		}

		.ext-effect-flipOutX {
		  -webkit-animation-duration: 0.75s;
		  animation-duration: 0.75s;
		  -webkit-animation-name: ext-effect-flipOutX;
		  animation-name: ext-effect-flipOutX;
		  -webkit-backface-visibility: visible !important;
		  backface-visibility: visible !important;
		}

		@-webkit-keyframes ext-effect-flipOutY {
		  from {
		    -webkit-transform: perspective(400px);
		    transform: perspective(400px);
		  }

		  30% {
		    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
		    transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
		    opacity: 1;
		  }

		  to {
		    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
		    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
		    opacity: 0;
		  }
		}

		@keyframes ext-effect-flipOutY {
		  from {
		    -webkit-transform: perspective(400px);
		    transform: perspective(400px);
		  }

		  30% {
		    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
		    transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
		    opacity: 1;
		  }

		  to {
		    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
		    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
		    opacity: 0;
		  }
		}

		.ext-effect-flipOutY {
		  -webkit-animation-duration: 0.75s;
		  animation-duration: 0.75s;
		  -webkit-backface-visibility: visible !important;
		  backface-visibility: visible !important;
		  -webkit-animation-name: ext-effect-flipOutY;
		  animation-name: ext-effect-flipOutY;
		}

		@-webkit-keyframes ext-effect-lightSpeedIn {
		  from {
		    -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
		    transform: translate3d(100%, 0, 0) skewX(-30deg);
		    opacity: 0;
		  }

		  60% {
		    -webkit-transform: skewX(20deg);
		    transform: skewX(20deg);
		    opacity: 1;
		  }

		  80% {
		    -webkit-transform: skewX(-5deg);
		    transform: skewX(-5deg);
		    opacity: 1;
		  }

		  to {
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
		    opacity: 1;
		  }
		}

		@keyframes ext-effect-lightSpeedIn {
		  from {
		    -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
		    transform: translate3d(100%, 0, 0) skewX(-30deg);
		    opacity: 0;
		  }

		  60% {
		    -webkit-transform: skewX(20deg);
		    transform: skewX(20deg);
		    opacity: 1;
		  }

		  80% {
		    -webkit-transform: skewX(-5deg);
		    transform: skewX(-5deg);
		    opacity: 1;
		  }

		  to {
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
		    opacity: 1;
		  }
		}

		.ext-effect-lightSpeedIn {
		  -webkit-animation-name: ext-effect-lightSpeedIn;
		  animation-name: ext-effect-lightSpeedIn;
		  -webkit-animation-timing-function: ease-out;
		  animation-timing-function: ease-out;
		}

		@-webkit-keyframes ext-effect-lightSpeedOut {
		  from {
		    opacity: 1;
		  }

		  to {
		    -webkit-transform: translate3d(100%, 0, 0) skewX(30deg);
		    transform: translate3d(100%, 0, 0) skewX(30deg);
		    opacity: 0;
		  }
		}

		@keyframes ext-effect-lightSpeedOut {
		  from {
		    opacity: 1;
		  }

		  to {
		    -webkit-transform: translate3d(100%, 0, 0) skewX(30deg);
		    transform: translate3d(100%, 0, 0) skewX(30deg);
		    opacity: 0;
		  }
		}

		.ext-effect-lightSpeedOut {
		  -webkit-animation-name: ext-effect-lightSpeedOut;
		  animation-name: ext-effect-lightSpeedOut;
		  -webkit-animation-timing-function: ease-in;
		  animation-timing-function: ease-in;
		}

		@-webkit-keyframes ext-effect-rotateIn {
		  from {
		    -webkit-transform-origin: center;
		    transform-origin: center;
		    -webkit-transform: rotate3d(0, 0, 1, -200deg);
		    transform: rotate3d(0, 0, 1, -200deg);
		    opacity: 0;
		  }

		  to {
		    -webkit-transform-origin: center;
		    transform-origin: center;
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
		    opacity: 1;
		  }
		}

		@keyframes ext-effect-rotateIn {
		  from {
		    -webkit-transform-origin: center;
		    transform-origin: center;
		    -webkit-transform: rotate3d(0, 0, 1, -200deg);
		    transform: rotate3d(0, 0, 1, -200deg);
		    opacity: 0;
		  }

		  to {
		    -webkit-transform-origin: center;
		    transform-origin: center;
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
		    opacity: 1;
		  }
		}

		.ext-effect-rotateIn {
		  -webkit-animation-name: ext-effect-rotateIn;
		  animation-name: ext-effect-rotateIn;
		}

		@-webkit-keyframes ext-effect-rotateInDownLeft {
		  from {
		    -webkit-transform-origin: left bottom;
		    transform-origin: left bottom;
		    -webkit-transform: rotate3d(0, 0, 1, -45deg);
		    transform: rotate3d(0, 0, 1, -45deg);
		    opacity: 0;
		  }

		  to {
		    -webkit-transform-origin: left bottom;
		    transform-origin: left bottom;
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
		    opacity: 1;
		  }
		}

		@keyframes ext-effect-rotateInDownLeft {
		  from {
		    -webkit-transform-origin: left bottom;
		    transform-origin: left bottom;
		    -webkit-transform: rotate3d(0, 0, 1, -45deg);
		    transform: rotate3d(0, 0, 1, -45deg);
		    opacity: 0;
		  }

		  to {
		    -webkit-transform-origin: left bottom;
		    transform-origin: left bottom;
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
		    opacity: 1;
		  }
		}

		.ext-effect-rotateInDownLeft {
		  -webkit-animation-name: ext-effect-rotateInDownLeft;
		  animation-name: ext-effect-rotateInDownLeft;
		}

		@-webkit-keyframes ext-effect-rotateInDownRight {
		  from {
		    -webkit-transform-origin: right bottom;
		    transform-origin: right bottom;
		    -webkit-transform: rotate3d(0, 0, 1, 45deg);
		    transform: rotate3d(0, 0, 1, 45deg);
		    opacity: 0;
		  }

		  to {
		    -webkit-transform-origin: right bottom;
		    transform-origin: right bottom;
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
		    opacity: 1;
		  }
		}

		@keyframes ext-effect-rotateInDownRight {
		  from {
		    -webkit-transform-origin: right bottom;
		    transform-origin: right bottom;
		    -webkit-transform: rotate3d(0, 0, 1, 45deg);
		    transform: rotate3d(0, 0, 1, 45deg);
		    opacity: 0;
		  }

		  to {
		    -webkit-transform-origin: right bottom;
		    transform-origin: right bottom;
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
		    opacity: 1;
		  }
		}

		.ext-effect-rotateInDownRight {
		  -webkit-animation-name: ext-effect-rotateInDownRight;
		  animation-name: ext-effect-rotateInDownRight;
		}

		@-webkit-keyframes ext-effect-rotateInUpLeft {
		  from {
		    -webkit-transform-origin: left bottom;
		    transform-origin: left bottom;
		    -webkit-transform: rotate3d(0, 0, 1, 45deg);
		    transform: rotate3d(0, 0, 1, 45deg);
		    opacity: 0;
		  }

		  to {
		    -webkit-transform-origin: left bottom;
		    transform-origin: left bottom;
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
		    opacity: 1;
		  }
		}

		@keyframes ext-effect-rotateInUpLeft {
		  from {
		    -webkit-transform-origin: left bottom;
		    transform-origin: left bottom;
		    -webkit-transform: rotate3d(0, 0, 1, 45deg);
		    transform: rotate3d(0, 0, 1, 45deg);
		    opacity: 0;
		  }

		  to {
		    -webkit-transform-origin: left bottom;
		    transform-origin: left bottom;
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
		    opacity: 1;
		  }
		}

		.ext-effect-rotateInUpLeft {
		  -webkit-animation-name: ext-effect-rotateInUpLeft;
		  animation-name: ext-effect-rotateInUpLeft;
		}

		@-webkit-keyframes ext-effect-rotateInUpRight {
		  from {
		    -webkit-transform-origin: right bottom;
		    transform-origin: right bottom;
		    -webkit-transform: rotate3d(0, 0, 1, -90deg);
		    transform: rotate3d(0, 0, 1, -90deg);
		    opacity: 0;
		  }

		  to {
		    -webkit-transform-origin: right bottom;
		    transform-origin: right bottom;
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
		    opacity: 1;
		  }
		}

		@keyframes ext-effect-rotateInUpRight {
		  from {
		    -webkit-transform-origin: right bottom;
		    transform-origin: right bottom;
		    -webkit-transform: rotate3d(0, 0, 1, -90deg);
		    transform: rotate3d(0, 0, 1, -90deg);
		    opacity: 0;
		  }

		  to {
		    -webkit-transform-origin: right bottom;
		    transform-origin: right bottom;
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
		    opacity: 1;
		  }
		}

		.ext-effect-rotateInUpRight {
		  -webkit-animation-name: ext-effect-rotateInUpRight;
		  animation-name: ext-effect-rotateInUpRight;
		}

		@-webkit-keyframes ext-effect-rotateOut {
		  from {
		    -webkit-transform-origin: center;
		    transform-origin: center;
		    opacity: 1;
		  }

		  to {
		    -webkit-transform-origin: center;
		    transform-origin: center;
		    -webkit-transform: rotate3d(0, 0, 1, 200deg);
		    transform: rotate3d(0, 0, 1, 200deg);
		    opacity: 0;
		  }
		}

		@keyframes ext-effect-rotateOut {
		  from {
		    -webkit-transform-origin: center;
		    transform-origin: center;
		    opacity: 1;
		  }

		  to {
		    -webkit-transform-origin: center;
		    transform-origin: center;
		    -webkit-transform: rotate3d(0, 0, 1, 200deg);
		    transform: rotate3d(0, 0, 1, 200deg);
		    opacity: 0;
		  }
		}

		.ext-effect-rotateOut {
		  -webkit-animation-name: ext-effect-rotateOut;
		  animation-name: ext-effect-rotateOut;
		}

		@-webkit-keyframes ext-effect-rotateOutDownLeft {
		  from {
		    -webkit-transform-origin: left bottom;
		    transform-origin: left bottom;
		    opacity: 1;
		  }

		  to {
		    -webkit-transform-origin: left bottom;
		    transform-origin: left bottom;
		    -webkit-transform: rotate3d(0, 0, 1, 45deg);
		    transform: rotate3d(0, 0, 1, 45deg);
		    opacity: 0;
		  }
		}

		@keyframes ext-effect-rotateOutDownLeft {
		  from {
		    -webkit-transform-origin: left bottom;
		    transform-origin: left bottom;
		    opacity: 1;
		  }

		  to {
		    -webkit-transform-origin: left bottom;
		    transform-origin: left bottom;
		    -webkit-transform: rotate3d(0, 0, 1, 45deg);
		    transform: rotate3d(0, 0, 1, 45deg);
		    opacity: 0;
		  }
		}

		.ext-effect-rotateOutDownLeft {
		  -webkit-animation-name: ext-effect-rotateOutDownLeft;
		  animation-name: ext-effect-rotateOutDownLeft;
		}

		@-webkit-keyframes ext-effect-rotateOutDownRight {
		  from {
		    -webkit-transform-origin: right bottom;
		    transform-origin: right bottom;
		    opacity: 1;
		  }

		  to {
		    -webkit-transform-origin: right bottom;
		    transform-origin: right bottom;
		    -webkit-transform: rotate3d(0, 0, 1, -45deg);
		    transform: rotate3d(0, 0, 1, -45deg);
		    opacity: 0;
		  }
		}

		@keyframes ext-effect-rotateOutDownRight {
		  from {
		    -webkit-transform-origin: right bottom;
		    transform-origin: right bottom;
		    opacity: 1;
		  }

		  to {
		    -webkit-transform-origin: right bottom;
		    transform-origin: right bottom;
		    -webkit-transform: rotate3d(0, 0, 1, -45deg);
		    transform: rotate3d(0, 0, 1, -45deg);
		    opacity: 0;
		  }
		}

		.ext-effect-rotateOutDownRight {
		  -webkit-animation-name: ext-effect-rotateOutDownRight;
		  animation-name: ext-effect-rotateOutDownRight;
		}

		@-webkit-keyframes ext-effect-rotateOutUpLeft {
		  from {
		    -webkit-transform-origin: left bottom;
		    transform-origin: left bottom;
		    opacity: 1;
		  }

		  to {
		    -webkit-transform-origin: left bottom;
		    transform-origin: left bottom;
		    -webkit-transform: rotate3d(0, 0, 1, -45deg);
		    transform: rotate3d(0, 0, 1, -45deg);
		    opacity: 0;
		  }
		}

		@keyframes ext-effect-rotateOutUpLeft {
		  from {
		    -webkit-transform-origin: left bottom;
		    transform-origin: left bottom;
		    opacity: 1;
		  }

		  to {
		    -webkit-transform-origin: left bottom;
		    transform-origin: left bottom;
		    -webkit-transform: rotate3d(0, 0, 1, -45deg);
		    transform: rotate3d(0, 0, 1, -45deg);
		    opacity: 0;
		  }
		}

		.ext-effect-rotateOutUpLeft {
		  -webkit-animation-name: ext-effect-rotateOutUpLeft;
		  animation-name: ext-effect-rotateOutUpLeft;
		}

		@-webkit-keyframes ext-effect-rotateOutUpRight {
		  from {
		    -webkit-transform-origin: right bottom;
		    transform-origin: right bottom;
		    opacity: 1;
		  }

		  to {
		    -webkit-transform-origin: right bottom;
		    transform-origin: right bottom;
		    -webkit-transform: rotate3d(0, 0, 1, 90deg);
		    transform: rotate3d(0, 0, 1, 90deg);
		    opacity: 0;
		  }
		}

		@keyframes ext-effect-rotateOutUpRight {
		  from {
		    -webkit-transform-origin: right bottom;
		    transform-origin: right bottom;
		    opacity: 1;
		  }

		  to {
		    -webkit-transform-origin: right bottom;
		    transform-origin: right bottom;
		    -webkit-transform: rotate3d(0, 0, 1, 90deg);
		    transform: rotate3d(0, 0, 1, 90deg);
		    opacity: 0;
		  }
		}

		.ext-effect-rotateOutUpRight {
		  -webkit-animation-name: ext-effect-rotateOutUpRight;
		  animation-name: ext-effect-rotateOutUpRight;
		}

		@-webkit-keyframes ext-effect-hinge {
		  0% {
		    -webkit-transform-origin: top left;
		    transform-origin: top left;
		    -webkit-animation-timing-function: ease-in-out;
		    animation-timing-function: ease-in-out;
		  }

		  20%,
		  60% {
		    -webkit-transform: rotate3d(0, 0, 1, 80deg);
		    transform: rotate3d(0, 0, 1, 80deg);
		    -webkit-transform-origin: top left;
		    transform-origin: top left;
		    -webkit-animation-timing-function: ease-in-out;
		    animation-timing-function: ease-in-out;
		  }

		  40%,
		  80% {
		    -webkit-transform: rotate3d(0, 0, 1, 60deg);
		    transform: rotate3d(0, 0, 1, 60deg);
		    -webkit-transform-origin: top left;
		    transform-origin: top left;
		    -webkit-animation-timing-function: ease-in-out;
		    animation-timing-function: ease-in-out;
		    opacity: 1;
		  }

		  to {
		    -webkit-transform: translate3d(0, 700px, 0);
		    transform: translate3d(0, 700px, 0);
		    opacity: 0;
		  }
		}

		@keyframes ext-effect-hinge {
		  0% {
		    -webkit-transform-origin: top left;
		    transform-origin: top left;
		    -webkit-animation-timing-function: ease-in-out;
		    animation-timing-function: ease-in-out;
		  }

		  20%,
		  60% {
		    -webkit-transform: rotate3d(0, 0, 1, 80deg);
		    transform: rotate3d(0, 0, 1, 80deg);
		    -webkit-transform-origin: top left;
		    transform-origin: top left;
		    -webkit-animation-timing-function: ease-in-out;
		    animation-timing-function: ease-in-out;
		  }

		  40%,
		  80% {
		    -webkit-transform: rotate3d(0, 0, 1, 60deg);
		    transform: rotate3d(0, 0, 1, 60deg);
		    -webkit-transform-origin: top left;
		    transform-origin: top left;
		    -webkit-animation-timing-function: ease-in-out;
		    animation-timing-function: ease-in-out;
		    opacity: 1;
		  }

		  to {
		    -webkit-transform: translate3d(0, 700px, 0);
		    transform: translate3d(0, 700px, 0);
		    opacity: 0;
		  }
		}

		.ext-effect-hinge {
		  -webkit-animation-duration: 2s;
		  animation-duration: 2s;
		  -webkit-animation-name: ext-effect-hinge;
		  animation-name: ext-effect-hinge;
		}

		@-webkit-keyframes ext-effect-jackInTheBox {
		  from {
		    opacity: 0;
		    -webkit-transform: scale(0.1) rotate(30deg);
		    transform: scale(0.1) rotate(30deg);
		    -webkit-transform-origin: center bottom;
		    transform-origin: center bottom;
		  }

		  50% {
		    -webkit-transform: rotate(-10deg);
		    transform: rotate(-10deg);
		  }

		  70% {
		    -webkit-transform: rotate(3deg);
		    transform: rotate(3deg);
		  }

		  to {
		    opacity: 1;
		    -webkit-transform: scale(1);
		    transform: scale(1);
		  }
		}

		@keyframes ext-effect-jackInTheBox {
		  from {
		    opacity: 0;
		    -webkit-transform: scale(0.1) rotate(30deg);
		    transform: scale(0.1) rotate(30deg);
		    -webkit-transform-origin: center bottom;
		    transform-origin: center bottom;
		  }

		  50% {
		    -webkit-transform: rotate(-10deg);
		    transform: rotate(-10deg);
		  }

		  70% {
		    -webkit-transform: rotate(3deg);
		    transform: rotate(3deg);
		  }

		  to {
		    opacity: 1;
		    -webkit-transform: scale(1);
		    transform: scale(1);
		  }
		}

		.ext-effect-jackInTheBox {
		  -webkit-animation-name: ext-effect-jackInTheBox;
		  animation-name: ext-effect-jackInTheBox;
		}

		/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

		@-webkit-keyframes ext-effect-rollIn {
		  from {
		    opacity: 0;
		    -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
		    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
		  }

		  to {
		    opacity: 1;
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
		  }
		}

		@keyframes ext-effect-rollIn {
		  from {
		    opacity: 0;
		    -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
		    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
		  }

		  to {
		    opacity: 1;
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
		  }
		}

		.ext-effect-rollIn {
		  -webkit-animation-name: ext-effect-rollIn;
		  animation-name: ext-effect-rollIn;
		}

		/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

		@-webkit-keyframes ext-effect-rollOut {
		  from {
		    opacity: 1;
		  }

		  to {
		    opacity: 0;
		    -webkit-transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
		    transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
		  }
		}

		@keyframes ext-effect-rollOut {
		  from {
		    opacity: 1;
		  }

		  to {
		    opacity: 0;
		    -webkit-transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
		    transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
		  }
		}

		.ext-effect-rollOut {
		  -webkit-animation-name: ext-effect-rollOut;
		  animation-name: ext-effect-rollOut;
		}

		@-webkit-keyframes ext-effect-zoomIn {
		  from {
		    opacity: 0;
		    -webkit-transform: scale3d(0.3, 0.3, 0.3);
		    transform: scale3d(0.3, 0.3, 0.3);
		  }

		  50% {
		    opacity: 1;
		  }
		}

		@keyframes ext-effect-zoomIn {
		  from {
		    opacity: 0;
		    -webkit-transform: scale3d(0.3, 0.3, 0.3);
		    transform: scale3d(0.3, 0.3, 0.3);
		  }

		  50% {
		    opacity: 1;
		  }
		}

		.ext-effect-zoomIn {
		  -webkit-animation-name: ext-effect-zoomIn;
		  animation-name: ext-effect-zoomIn;
		}

		@-webkit-keyframes ext-effect-zoomInDown {
		  from {
		    opacity: 0;
		    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
		    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
		    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
		    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
		  }

		  60% {
		    opacity: 1;
		    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
		    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
		    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
		    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
		  }
		}

		@keyframes ext-effect-zoomInDown {
		  from {
		    opacity: 0;
		    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
		    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
		    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
		    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
		  }

		  60% {
		    opacity: 1;
		    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
		    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
		    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
		    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
		  }
		}

		.ext-effect-zoomInDown {
		  -webkit-animation-name: ext-effect-zoomInDown;
		  animation-name: ext-effect-zoomInDown;
		}

		@-webkit-keyframes ext-effect-zoomInLeft {
		  from {
		    opacity: 0;
		    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
		    transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
		    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
		    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
		  }

		  60% {
		    opacity: 1;
		    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
		    transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
		    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
		    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
		  }
		}

		@keyframes ext-effect-zoomInLeft {
		  from {
		    opacity: 0;
		    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
		    transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
		    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
		    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
		  }

		  60% {
		    opacity: 1;
		    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
		    transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
		    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
		    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
		  }
		}

		.ext-effect-zoomInLeft {
		  -webkit-animation-name: ext-effect-zoomInLeft;
		  animation-name: ext-effect-zoomInLeft;
		}

		@-webkit-keyframes ext-effect-zoomInRight {
		  from {
		    opacity: 0;
		    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
		    transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
		    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
		    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
		  }

		  60% {
		    opacity: 1;
		    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
		    transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
		    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
		    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
		  }
		}

		@keyframes ext-effect-zoomInRight {
		  from {
		    opacity: 0;
		    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
		    transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
		    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
		    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
		  }

		  60% {
		    opacity: 1;
		    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
		    transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
		    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
		    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
		  }
		}

		.ext-effect-zoomInRight {
		  -webkit-animation-name: ext-effect-zoomInRight;
		  animation-name: ext-effect-zoomInRight;
		}

		@-webkit-keyframes ext-effect-zoomInUp {
		  from {
		    opacity: 0;
		    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
		    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
		    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
		    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
		  }

		  60% {
		    opacity: 1;
		    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
		    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
		    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
		    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
		  }
		}

		@keyframes ext-effect-zoomInUp {
		  from {
		    opacity: 0;
		    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
		    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
		    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
		    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
		  }

		  60% {
		    opacity: 1;
		    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
		    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
		    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
		    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
		  }
		}

		.ext-effect-zoomInUp {
		  -webkit-animation-name: ext-effect-zoomInUp;
		  animation-name: ext-effect-zoomInUp;
		}

		@-webkit-keyframes ext-effect-zoomOut {
		  from {
		    opacity: 1;
		  }

		  50% {
		    opacity: 0;
		    -webkit-transform: scale3d(0.3, 0.3, 0.3);
		    transform: scale3d(0.3, 0.3, 0.3);
		  }

		  to {
		    opacity: 0;
		  }
		}

		@keyframes ext-effect-zoomOut {
		  from {
		    opacity: 1;
		  }

		  50% {
		    opacity: 0;
		    -webkit-transform: scale3d(0.3, 0.3, 0.3);
		    transform: scale3d(0.3, 0.3, 0.3);
		  }

		  to {
		    opacity: 0;
		  }
		}

		.ext-effect-zoomOut {
		  -webkit-animation-name: ext-effect-zoomOut;
		  animation-name: ext-effect-zoomOut;
		}

		@-webkit-keyframes ext-effect-zoomOutDown {
		  40% {
		    opacity: 1;
		    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
		    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
		    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
		    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
		  }

		  to {
		    opacity: 0;
		    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
		    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
		    -webkit-transform-origin: center bottom;
		    transform-origin: center bottom;
		    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
		    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
		  }
		}

		@keyframes ext-effect-zoomOutDown {
		  40% {
		    opacity: 1;
		    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
		    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
		    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
		    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
		  }

		  to {
		    opacity: 0;
		    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
		    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
		    -webkit-transform-origin: center bottom;
		    transform-origin: center bottom;
		    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
		    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
		  }
		}

		.ext-effect-zoomOutDown {
		  -webkit-animation-name: ext-effect-zoomOutDown;
		  animation-name: ext-effect-zoomOutDown;
		}

		@-webkit-keyframes ext-effect-zoomOutLeft {
		  40% {
		    opacity: 1;
		    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(42px, 0, 0);
		    transform: scale3d(0.475, 0.475, 0.475) translate3d(42px, 0, 0);
		  }

		  to {
		    opacity: 0;
		    -webkit-transform: scale(0.1) translate3d(-2000px, 0, 0);
		    transform: scale(0.1) translate3d(-2000px, 0, 0);
		    -webkit-transform-origin: left center;
		    transform-origin: left center;
		  }
		}

		@keyframes ext-effect-zoomOutLeft {
		  40% {
		    opacity: 1;
		    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(42px, 0, 0);
		    transform: scale3d(0.475, 0.475, 0.475) translate3d(42px, 0, 0);
		  }

		  to {
		    opacity: 0;
		    -webkit-transform: scale(0.1) translate3d(-2000px, 0, 0);
		    transform: scale(0.1) translate3d(-2000px, 0, 0);
		    -webkit-transform-origin: left center;
		    transform-origin: left center;
		  }
		}

		.ext-effect-zoomOutLeft {
		  -webkit-animation-name: ext-effect-zoomOutLeft;
		  animation-name: ext-effect-zoomOutLeft;
		}

		@-webkit-keyframes ext-effect-zoomOutRight {
		  40% {
		    opacity: 1;
		    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(-42px, 0, 0);
		    transform: scale3d(0.475, 0.475, 0.475) translate3d(-42px, 0, 0);
		  }

		  to {
		    opacity: 0;
		    -webkit-transform: scale(0.1) translate3d(2000px, 0, 0);
		    transform: scale(0.1) translate3d(2000px, 0, 0);
		    -webkit-transform-origin: right center;
		    transform-origin: right center;
		  }
		}

		@keyframes ext-effect-zoomOutRight {
		  40% {
		    opacity: 1;
		    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(-42px, 0, 0);
		    transform: scale3d(0.475, 0.475, 0.475) translate3d(-42px, 0, 0);
		  }

		  to {
		    opacity: 0;
		    -webkit-transform: scale(0.1) translate3d(2000px, 0, 0);
		    transform: scale(0.1) translate3d(2000px, 0, 0);
		    -webkit-transform-origin: right center;
		    transform-origin: right center;
		  }
		}

		.ext-effect-zoomOutRight {
		  -webkit-animation-name: ext-effect-zoomOutRight;
		  animation-name: ext-effect-zoomOutRight;
		}

		@-webkit-keyframes ext-effect-zoomOutUp {
		  40% {
		    opacity: 1;
		    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
		    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
		    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
		    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
		  }

		  to {
		    opacity: 0;
		    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -2000px, 0);
		    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -2000px, 0);
		    -webkit-transform-origin: center bottom;
		    transform-origin: center bottom;
		    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
		    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
		  }
		}

		@keyframes ext-effect-zoomOutUp {
		  40% {
		    opacity: 1;
		    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
		    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
		    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
		    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
		  }

		  to {
		    opacity: 0;
		    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -2000px, 0);
		    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -2000px, 0);
		    -webkit-transform-origin: center bottom;
		    transform-origin: center bottom;
		    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
		keyframes ext-effect-b-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
		  }
		}

		.ext-effect-zoomOutUp {
		  -webkit-animation-name: ext-effect-zoomOutUp;
		  animation-name: ext-effect-zoomOutUp;
		}

		@-webkit-keyframes ext-effect-slideInDown {
		  from {
		    -webkit-transform: translate3d(0, -100%, 0);
		    transform: translate3d(0, -100%, 0);
		    visibility: visible;
		  }

		  to {
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
		  }
		}

		@keyframes ext-effect-slideInDown {
		  from {
		    -webkit-transform: translate3d(0, -100%, 0);
		    transform: translate3d(0, -100%, 0);
		    visibility: visible;
		  }

		  to {
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
		  }
		}

		.ext-effect-slideInDown {
		  -webkit-animation-name: ext-effect-slideInDown;
		  animation-name: ext-effect-slideInDown;
		}

		@-webkit-keyframes ext-effect-slideInLeft {
		  from {
		    -webkit-transform: translate3d(-100%, 0, 0);
		    transform: translate3d(-100%, 0, 0);
		    visibility: visible;
		  }

		  to {
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
		  }
		}

		@keyframes ext-effect-slideInLeft {
		  from {
		    -webkit-transform: translate3d(-100%, 0, 0);
		    transform: translate3d(-100%, 0, 0);
		    visibility: visible;
		  }

		  to {
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
		  }
		}

		.ext-effect-slideInLeft {
		  -webkit-animation-name: ext-effect-slideInLeft;
		  animation-name: ext-effect-slideInLeft;
		}

		@-webkit-keyframes ext-effect-slideInRight {
		  from {
		    -webkit-transform: translate3d(100%, 0, 0);
		    transform: translate3d(100%, 0, 0);
		    visibility: visible;
		  }

		  to {
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
		  }
		}

		@keyframes ext-effect-slideInRight {
		  from {
		    -webkit-transform: translate3d(100%, 0, 0);
		    transform: translate3d(100%, 0, 0);
		    visibility: visible;
		  }

		  to {
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
		  }
		}

		.ext-effect-slideInRight {
		  -webkit-animation-name: ext-effect-slideInRight;
		  animation-name: ext-effect-slideInRight;
		}

		@-webkit-keyframes ext-effect-slideInUp {
		  from {
		    -webkit-transform: translate3d(0, 100%, 0);
		    transform: translate3d(0, 100%, 0);
		    visibility: visible;
		  }

		  to {
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
		  }
		}

		@keyframes ext-effect-slideInUp {
		  from {
		    -webkit-transform: translate3d(0, 100%, 0);
		    transform: translate3d(0, 100%, 0);
		    visibility: visible;
		  }

		  to {
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
		  }
		}

		.ext-effect-slideInUp {
		  -webkit-animation-name: ext-effect-slideInUp;
		  animation-name: ext-effect-slideInUp;
		}

		@-webkit-keyframes ext-effect-slideOutDown {
		  from {
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
		  }

		  to {
		    visibility: hidden;
		    -webkit-transform: translate3d(0, 100%, 0);
		    transform: translate3d(0, 100%, 0);
		  }
		}

		@keyframes ext-effect-slideOutDown {
		  from {
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
		  }

		  to {
		    visibility: hidden;
		    -webkit-transform: translate3d(0, 100%, 0);
		    transform: translate3d(0, 100%, 0);
		  }
		}

		.ext-effect-slideOutDown {
		  -webkit-animation-name: ext-effect-slideOutDown;
		  animation-name: ext-effect-slideOutDown;
		}

		@-webkit-keyframes ext-effect-slideOutLeft {
		  from {
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
		  }

		  to {
		    visibility: hidden;
		    -webkit-transform: translate3d(-100%, 0, 0);
		    transform: translate3d(-100%, 0, 0);
		  }
		}

		@keyframes ext-effect-slideOutLeft {
		  from {
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
		  }

		  to {
		    visibility: hidden;
		    -webkit-transform: translate3d(-100%, 0, 0);
		    transform: translate3d(-100%, 0, 0);
		  }
		}

		.ext-effect-slideOutLeft {
		  -webkit-animation-name: ext-effect-slideOutLeft;
		  animation-name: ext-effect-slideOutLeft;
		}

		@-webkit-keyframes ext-effect-slideOutRight {
		  from {
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
		  }

		  to {
		    visibility: hidden;
		    -webkit-transform: translate3d(100%, 0, 0);
		    transform: translate3d(100%, 0, 0);
		  }
		}

		@keyframes ext-effect-slideOutRight {
		  from {
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
		  }

		  to {
		    visibility: hidden;
		    -webkit-transform: translate3d(100%, 0, 0);
		    transform: translate3d(100%, 0, 0);
		  }
		}

		.ext-effect-slideOutRight {
		  -webkit-animation-name: ext-effect-slideOutRight;
		  animation-name: ext-effect-slideOutRight;
		}

		@-webkit-keyframes ext-effect-slideOutUp {
		  from {
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
		  }

		  to {
		    visibility: hidden;
		    -webkit-transform: translate3d(0, -100%, 0);
		    transform: translate3d(0, -100%, 0);
		  }
		}

		@keyframes ext-effect-slideOutUp {
		  from {
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
		  }

		  to {
		    visibility: hidden;
		    -webkit-transform: translate3d(0, -100%, 0);
		    transform: translate3d(0, -100%, 0);
		  }
		}

		.ext-effect-slideOutUp {
		  -webkit-animation-name: ext-effect-slideOutUp;
		  animation-name: ext-effect-slideOutUp;
		}
