

#buy_on {
  width: 35px;
  background-color: #8C8B8B;
  -webkit-mask-image: url(https://www.ikea.com/ms/da_DK/img/icons/buy-online-add-24.svg);
  -webkit-mask-repeat: no-repeat;
  vertical-align: middle;
}

#close {
  width: 35px;
  background-color: #8C8B8B;
  -webkit-mask-image: url('https://www.ikea.com/ms/da_DK/img/icons/close-24.svg');
  -webkit-mask-repeat: no-repeat;
  margin-left: 71px;
  vertical-align: middle;
}

.slPopup .content {
  zoom: 1!important;
  background-color: #fff !important;
  padding: 1.56em;
  text-align: left;
  padding-bottom: 2.08em;
  border-radius: 4px;
}

#slPopupH1 {
  font-size: 15px;
  line-height: 30px;
  letter-spacing: -1px;
  display: block;
  color: #8C8B8B;
}

#newSlPopUp {
  height: auto; 
  width: 450px; 
  border: none; 
  top: 325px; 
  left: 34%;
  position: fixed;
}

#pop_Up_Headline {
  width: 451px;
  margin-left: -16px;
  margin-top: -26px;
  display: inline-flex;
  background: white;
  border: 1px solid #3F7AB2;
  -webkit-box-shadow: 0 1px 1px rgba(000,000,000,0.2), inset 0 0 1px rgba(255,255,255,0.7);
}

.Items_in_cart {
  width: auto;
  height: auto;
  background-color: gray; 
}

.cound_items {
  color: gray; 
  margin-left: 15%; 
}

.addOnsFooter {
  margin-top: 20px;
  display: block;
}

.btnThisIs {
  color:white;
  background-color: #0274cb;
  width: 180px;
  height: 25px;
  border: 1px solid #0274cb; 
}

#btnLookInCart {
  color:white;
  background-color: #0274cb;
  width: 108px;
  height: 25px;
  border: 1px solid #0274cb; 
}

#btnLookInCart:hover {
  color:white;
  background-color: #0274cb;
  width: 180px;
  height: 25px;
  border: 1px solid #0274cb; 
  text-decoration: none;
}

.btnKeepShopping {
  color: #3F7AB2;
  background-color: white;
  width: 180px;
  height: 25px;
  margin-left: 5%;
  border: 1px solid #3F7AB2;
}

.divForWidthPadding {
  width: 10px;
}

.divForWidthMarginLeft {
  width: 36px; 
}