.desktop-menu__item, .top-menu__item {
    list-style-type: none;
}
#ikea-homeheader {
    display: none!important;
}
.header {
    background-color: #fff;
    padding-bottom: .5rem;
    line-height: 1;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
}
.header__logo {
    display: inline-block;
    margin: .4rem 1.1rem .7rem;
}
.header__logo .svg-icon {
    width: 5.625rem;
    height: 2.5rem;
}
.header__navigation {
    display: inline-block;
    padding: 1rem 1.2rem .5rem 0;
    flex: 1 0 auto;
    text-align: right;
}
.header__icon-count-0 {
    display: none;
}
.header__icon-count-1 {
    max-width: 100px;
}
@media (min-width:1024px) {
    .header__icon-count-1 {
    max-width: 72px;
}
}.header__icon-count-2 {
    max-width: 200px;
}
@media (min-width:1024px) {
    .header__icon-count-2 {
    max-width: 145px;
}
}.header__icon-count-3 {
    max-width: 300px;
}
@media (min-width:1024px) {
    .header__icon-count-3 {
    max-width: 200px;
}
}.header__icon-list {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
    width: 100%;
    display: flex;
}
.header__icon-list img {
    width: 30px;
    height: 30px;
}
.header__icon-list>li {
    display: inline-block;
}
.header__icon-list-item {
    margin-left: auto;
    max-width: 70px;
    float: right;
}
.header__shopping-cart {
    position: relative;
    display: inline-block;
}
.header__shopping-bag-quantity {
    transform: translateY(-25%) translateX(25%);
    color: #0051ba;
    background: #f9d616;
    border-radius: .75rem;
    position: absolute;
    top: 0;
    right: 0;
    text-decoration: none;
    padding: .25rem;
    font-size: .625rem;
    min-height: .7rem;
    min-width: .7rem;
    text-align: center;
    font-weight: 700;
}
.header__sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.top-menu {
    display: none;
    flex-direction: row;
    width: 100%;
    background-color: #f8f8f8;
    margin: 0;
    padding-left: 0;
    padding-top: .6rem;
    padding-bottom: .8rem;
}
.top-menu__item--right {
    margin-left: auto;
    font-weight: 700;
}
.top-menu__link {
    margin: 0 1rem;
    padding: 1rem .5rem;
    color: #333;
    text-decoration: none;
}
@media (min-width:1024px) {
    .top-menu {
    display: flex;
}
}.desktop-menu {
    flex-direction: row;
    display: none;
    padding: 0;
    float: left;
    margin-top: 0;
    margin-bottom: .6rem;
}
.desktop-menu__item {
    margin-top: .5rem;
}
.desktop-menu__link {
    margin: 0 1rem;
    padding: 1rem 1rem 0;
    text-decoration: none;
    font-weight: 700;
    color: #333;
}
@media (min-width:1024px) {
    .desktop-menu {
    display: flex;
}
.header__icon-list-item--menu.header__icon-list-item--menu {
    display: none;
}
}

 /** nav fix for cart **/
 @media screen and (max-width: 767px){
   
    .header__navigation {
        padding: 1rem 1rem .5rem 0 !important;
    }

    .header__logo {
        margin: .6rem .9rem .3rem !important;
    }

    .header__logo .svg-icon {
        width: 84.3833px !important;
        height: 37.5px !important;
    }
}
    
            