/*

  __                  ___           
 (_  o ._ _  ._  |  _  |  _. |_   _ 
 __) | | | | |_) | (/_ | (_| |_) _> 
             |                      

*/

.simple-tabs-container{
    margin-bottom: 20px;
}

.simple-tabs-container .tab-page {
    display:none;
}

.simple-tabs-container .active-page {
    display: block;
}


.simple-tabs-container .outer-wrap {
    width:100%;
    max-width:500px;
    margin: 0 auto;
}
.simple-tabs-container .clear-float {
    clear:both;
}

.simple-tabs-container ul.simple-tabs {
    width:100%;
    /*max-width:1060px;*/
    margin: 0;
    padding: 0 1rem 0 2%;
    box-shadow: inset 0 0 0 1px #407ab1;
    font-weight: 400;
    background: none;
}

.simple-tabs-container ul.simple-tabs li {
    float:left;
    margin: 0 2px;
    padding: 0 0.5rem;
    /*
    -moz-transition: padding 0.3s;
    -ms-transition: padding 0.3s;
    -o-transition: padding 0.3s;
    -webkit-transition: padding 0.3s;
    transition: padding 0.3s;
    */
    
    font-size: .875rem;
    /*width:33.33%;*/
    height:44px;
    /*margin-bottom: 30px;*/
    list-style-type: none;
    text-align: center;
    line-height:44px;
    color: #407ab1;

    border-style: solid;
    border-width: 1px 1px 0 1px;
    /*box-shadow: inset 0 0 0 1px #407ab1;*/
    font-weight: 400;
    background: none;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    -webkit-border-top-right-radius: 2px;
    /*
    -webkit-border-bottom-right-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    */
    -webkit-border-top-left-radius: 2px;
    -moz-border-radius-topright: 2px;
    /*
    -moz-border-radius-bottomright: 2px;
    -moz-border-radius-bottomleft: 2px;
    */
    -moz-border-radius-topleft: 2px;
    border-top-right-radius: 2px;
    /*
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    */
    border-top-left-radius: 2px;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

@media (min-width: 370px) {
    .simple-tabs-container ul.simple-tabs li {
        padding: 0 1rem;

    }
}


@media (min-width: 470px) {
    .simple-tabs-container ul.simple-tabs li {
        padding: 0 1.5rem;

    }
}
@media (min-width: 670px) {
    .simple-tabs-container ul.simple-tabs li {
        padding: 0 2rem;

    }
}



.simple-tabs-container ul.simple-tabs li:hover, ul.simple-tabs li:active {
    color: #fff;
    background: #407ab1;
}

.simple-tabs-container ul.simple-tabs li.active {
    color: #fff;
    background-color: #275882;
    
}

.simple-tabs-container .tab-page {
    /*max-width:1060px;*/
    width:100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-top: 1px #407ab1 solid;
    border-bottom: 1px #407ab1 solid;
    /*height:400px;
    margin-top: -1px;
    padding-top: 1px;*/
}

.simple-tabs-container .ninety-percent-pad {
    width:90%;
    margin:25px auto;
}

.simple-tabs-container .tab-page .swiper-button-prev, .simple-tabs-container .tab-page .swiper-button-next {
    display: none;
}

.simple-tabs-container .tab-page.active-page .swiper-button-prev, .simple-tabs-container .tab-page.active-page .swiper-button-next {
    display: block;
}